In [1]:
import pandas as pd
import json

In [2]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')

In [36]:
df_senate = pd.read_csv("./data/Senate/clean_senate.xz",compression='xz',parse_dates=['date'],date_parser=dateparse,low_memory=False,index_col=0)

In [6]:
list(df_senate)

['year',
 'month',
 'congressperson_name',
 'expense_type',
 'supplier',
 'date',
 'reimbursement_value']

In [7]:
sum_mean_max_year = df_senate.groupby("year")['reimbursement_value'].agg(['sum', 'mean', 'max'])
sum_mean_max_year

              sum         mean       max
year
2008  11575947.40  4726.805798   61250.0
2009  11725424.91   712.705137   66960.0
2010  10751707.81   590.753176   60000.0
2011  18988510.72   743.947294   56758.0
2012  23336265.74   775.651989   88245.0
2013  24644284.56   842.194128   84000.0
2014  22512671.12  1024.514022  162400.0
2015  24845639.68   957.442762  216780.0
2016  25285876.22   947.462388  256980.0
2017  18852938.19   938.424001   45000.0

In [9]:
with open('./json_files/senate/sum_mean_max_year.json', 'w') as f: 
    f.write(sum_mean_max_year.reset_index().to_json(orient='records', lines=True))

In [10]:
df_senate['reimbursement_value'].agg(['sum', 'mean', 'max'])

sum     1.925193e+08
mean    8.885163e+02
max     2.569800e+05
Name: reimbursement_value, dtype: float64

In [13]:
df_cp_year = df_senate.groupby(["congressperson_name", "year"])['reimbursement_value'].agg(['sum', 'mean', 'max']).reset_index()
df_cp_year

                congressperson_name  year        sum          mean       max
0                      ACIR GURGACZ  2009   17620.00   8810.000000  12620.00
1                      ACIR GURGACZ  2010  179510.03   1002.849330  20000.00
2                      ACIR GURGACZ  2011  315733.66   1223.773876  40000.00
3                      ACIR GURGACZ  2012  280383.11   1709.653110  35391.03
4                      ACIR GURGACZ  2013  409890.04   1389.457763   9162.09
5                      ACIR GURGACZ  2014  382905.25   2025.953704  46000.00
6                      ACIR GURGACZ  2015  412941.50   2359.665714  29780.00
7                      ACIR GURGACZ  2016  301970.88   2156.934857  19800.00
8                      ACIR GURGACZ  2017  321743.37   2314.700504   8700.00
9                         ADA MELLO  2008   59962.46   7495.307500  12351.52
10                  ADELMIR SANTANA  2008  163612.32   7436.923636  15000.00
11                  ADELMIR SANTANA  2009  178174.44   6143.946207  66960.00
12                  ADELMIR SANTANA  2010  180000.00  15000.000000  21000.00
13                  ADELMIR SANTANA  2011   15000.00  15000.000000  15000.00
14                  AIRTON SANDOVAL  2017  137813.62    753.079891   6766.00
15                   ALFREDO COTAIT  2010   29532.64    335.598182  18000.00
16                   ALFREDO COTAIT  2011   15000.00    375.000000   8976.15
17               ALFREDO NASCIMENTO  2010   10756.98   1344.622500   2500.00
18               ALFREDO NASCIMENTO  2011   66410.39   1328.207800   3000.00
19               ALFREDO NASCIMENTO  2012  193696.51   1445.496343   5181.25
20               ALFREDO NASCIMENTO  2013  327838.22   1939.871124   8000.00
21               ALFREDO NASCIMENTO  2014  229497.37   1807.065906   8000.00
22               ALFREDO NASCIMENTO  2015   20083.63   2008.363000   3420.00
23                     ALMEIDA LIMA  2008  166026.66   4611.851667  35000.00
24                     ALMEIDA LIMA  2009  179876.77   1462.412764  14719.59
25                     ALMEIDA LIMA  2010  179960.65   1405.942578   6000.00
26                     ALMEIDA LIMA  2011   15000.00   1666.666667   6000.00
27               ALOIZIO MERCADANTE  2008  161579.34   3672.257727  15664.00
28               ALOIZIO MERCADANTE  2009  120491.98    184.803650   7625.55
29               ALOIZIO MERCADANTE  2010  120993.14    316.735969   3700.00
..                              ...   ...        ...           ...       ...
886                 WELLINGTON DIAS  2013  465934.55   1109.367976   7990.00
887                 WELLINGTON DIAS  2014  374444.70   1456.983268  19340.00
888             WELLINGTON FAGUNDES  2015  359067.72    480.679679  85000.00
889             WELLINGTON FAGUNDES  2016  415154.23    448.815384  40000.00
890             WELLINGTON FAGUNDES  2017  265709.20    389.032504   4500.00
891  WELLINGTON SALGADO DE OLIVEIRA  2008  110236.74   2563.645116   7070.00
892  WELLINGTON SALGADO DE OLIVEIRA  2009  154715.26    289.728951  40000.00
893  WELLINGTON SALGADO DE OLIVEIRA  2010   44478.63    232.872408   9523.72
894                   WILDER MORAIS  2012   67136.14    729.740652  10000.00
895                   WILDER MORAIS  2013  180251.56    706.868863   8246.43
896                   WILDER MORAIS  2014  117540.17    656.648994   8292.00
897                   WILDER MORAIS  2015  251598.90    628.997250  10446.71
898                   WILDER MORAIS  2016  252542.40    693.797802  10693.80
899                   WILDER MORAIS  2017  172205.41   1103.880833  11223.58
900                 WILSON SANTIAGO  2011  282758.27   1273.685901  20250.00
901                 WIRLANDE DA LUZ  2016   11298.25   1129.825000   2234.37
902                   ZEZÉ PERRELLA  2011  161942.97   2841.104737  15000.00
903                   ZEZÉ PERRELLA  2012  335890.42   1805.862473  18333.35
904                   ZEZÉ PERRELLA  2013  222520.97   1636.183603   9000.00
905                   ZEZÉ PERRELLA  2014  254646.81   2233.743947   9000.00
906                   ZEZÉ PERRELLA  2015  341787.74   1436.082941  20000.00
907                   ZEZÉ PERRELLA  2016  322433.80    810.135176  80000.00
908                   ZEZÉ PERRELLA  2017  253138.97    431.241857  10000.00
909                  ÂNGELA PORTELA  2011  380769.17   1529.193454  17800.00
910                  ÂNGELA PORTELA  2012  414270.32   1697.829180   9450.00
911                  ÂNGELA PORTELA  2013  420982.53   2063.639853  26000.00
912                  ÂNGELA PORTELA  2014  382400.15   1941.117513  21000.00
913                  ÂNGELA PORTELA  2015  416301.04   2238.177634  26000.00
914                  ÂNGELA PORTELA  2016  429605.98   2512.315673  28000.00
915                  ÂNGELA PORTELA  2017  295845.63   2128.385827  10173.00

[916 rows x 5 columns]

In [14]:
sum_years = df_cp_year.groupby("year")['sum'].max()

In [15]:
sum_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['sum'] == sum_years[2009])]
sum_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['sum'] == sum_years[2010])]
sum_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['sum'] == sum_years[2011])]
sum_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['sum'] == sum_years[2012])]
sum_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['sum'] == sum_years[2013])]
sum_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['sum'] == sum_years[2014])]
sum_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['sum'] == sum_years[2015])]
sum_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['sum'] == sum_years[2016])]
sum_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['sum'] == sum_years[2017])]

In [17]:
with open('./json_files/senate/sum_mean_max_year_congressperson_maxtotal.json', 'w',encoding="utf8") as f:
    for df in [sum_2009,sum_2010,sum_2011,sum_2012,sum_2013,sum_2014,sum_2015,sum_2016,sum_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [18]:
mean_max_year = df_cp_year.groupby("year")['mean'].max()

In [19]:
mean_max_year

year
2008    16290.201818
2009    16363.636364
2010    15000.000000
2011    15000.000000
2012     7416.013824
2013    15530.716000
2014    24745.000000
2015    19121.563636
2016    21687.337778
2017    31180.457778
Name: mean, dtype: float64

In [20]:
mean_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['mean'] == mean_max_year[2009])]
mean_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['mean'] == mean_max_year[2010])]
mean_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['mean'] == mean_max_year[2011])]
mean_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['mean'] == mean_max_year[2012])]
mean_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['mean'] == mean_max_year[2013])]
mean_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['mean'] == mean_max_year[2014])]
mean_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['mean'] == mean_max_year[2015])]
mean_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['mean'] == mean_max_year[2016])]
mean_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['mean'] == mean_max_year[2017])]

In [21]:
with open('./json_files/senate/sum_mean_max_year_congressperson_maxmean.json', 'w',encoding="utf8") as f:
    for df in [mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [22]:
mean_min_year = df_cp_year.groupby("year")['mean'].min()
mean_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['mean'] == mean_min_year[2009])]
mean_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['mean'] == mean_min_year[2010])]
mean_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['mean'] == mean_min_year[2011])]
mean_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['mean'] == mean_min_year[2012])]
mean_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['mean'] == mean_min_year[2013])]
mean_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['mean'] == mean_min_year[2014])]
mean_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['mean'] == mean_min_year[2015])]
mean_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['mean'] == mean_min_year[2016])]
mean_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['mean'] == mean_min_year[2017])]

In [23]:
with open('./json_files/senate/sum_mean_max_year_congressperson_minmean.json', 'w',encoding="utf8") as f:
    for df in [mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [25]:
df_party_year = df_senate.groupby(["party", "year"])['reimbursement_value'].agg(['sum', 'mean', 'max', 'count']).reset_index()
# Comment lines bellow if dont want to consider number of politicians in each party
df_party_year['sum'] = df_party_year['sum']/df_party_year["count"]
df_party_year['mean'] = df_party_year['mean']/df_party_year["count"]
df_party_year

KeyError: 'party'

In [30]:
expense_type = pd.unique(df_senate["expense_type"]).tolist()

In [31]:
expense_type

['Recruitment of consultancies, advisory services, research, technical work and other services in support of the exercise of the parliamentary mandate',
 'Locomotion, lodging, food, fuels and lubricants',
 'Acquisition of consumables for use in the political office, including acquisition or leasing of software, postal expenses, acquisition of publications, rental of furniture and equipment',
 'Publicity of parliamentary activity',
 'Rent of real estate for political office, comprising expenses concerning them',
 'National air, water and land transport',
 'Private Security Services']

In [37]:
df_senate["expense_type_id"] = df_senate["expense_type"].map(lambda x: expense_type.index(x))

In [38]:
df_senate.head()

,year,month,congressperson_name,expense_type,supplier,date,reimbursement_value,expense_type_id
0,2008,9,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,2008-09-30,12351.52,0
1,2008,9,ADA MELLO,"Locomotion, lodging, food, fuels and lubricants",NaN,2008-09-30,386.60,1
2,2008,10,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,2008-10-31,12351.52,0
3,2008,10,ADA MELLO,"Locomotion, lodging, food, fuels and lubricants",NaN,2008-10-31,2610.68,1
4,2008,11,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,2008-11-30,12351.52,0

In [39]:
subquota_number_year = df_senate.groupby(["year", "expense_type_id"])['reimbursement_value'].agg(['sum', 'mean', 'max',"count"])
subquota_number_year

                             sum         mean        max  count
year expense_type_id
2008 0                2208397.41  5007.703878   45175.85    441
     1                5158631.74  6563.144707   41239.32    786
     2                 757509.36  1565.101983   27000.00    484
     3                1134096.81  7662.816284   61250.00    148
     4                2317312.08  3927.647593   18793.95    590
2009 0                1705488.25  2229.396405   66960.00    765
     1                4723703.23   468.760864   42400.00  10077
     2                 625400.91   364.665254   16000.00   1715
     3                1997519.88  2380.834184   55000.00    839
     4                2673312.64   874.775079   15000.00   3056
2010 0                2032545.53  2534.346047   60000.00    802
     1                4407043.90   382.124677   24400.00  11533
     2                 601113.30   308.105228   10000.00   1951
     3                 967499.51  3042.451289   34400.00    318
     4                2743505.57   762.932583   15000.00   3596
2011 0                2589517.74  3208.820000   50000.00    807
     1                5764824.19   484.357603   30000.00  11902
     2                 749207.19   316.923515   16050.00   2364
     3                2807471.72  2432.817782   56758.00   1154
     4                3375625.51   815.171579   15000.00   4141
     5                3482161.92   685.464945   14000.00   5080
     6                 219702.45  2890.821711   15372.62     76
2012 0                2517317.67  3496.274542   46000.00    720
     1                6119616.76   467.574630   28000.00  13088
     2                 920952.16   388.259764   10120.00   2372
     3                3189724.59  3463.327459   88245.00    921
     4                4051401.01   789.746786   12612.98   5130
     5                6264591.97   808.021665    8400.00   7753
     6                 272661.58  2673.152745   15372.62    102
2013 0                2504936.81  3727.584539   50000.00    672
...                          ...          ...        ...    ...
     5                7307804.84   903.648428   84000.00   8087
     6                 395868.64  4657.278118   20524.44     85
2014 0                2755498.75  4137.385511  150000.00    666
     1                4980694.50   669.808297   20500.00   7436
     2                 794620.85   381.479045   11070.00   2083
     3                2907771.79  3945.416269  162400.00    737
     4                4532267.73   942.455340   14117.17   4809
     5                6067949.99   988.587486    8000.00   6138
     6                 473867.51  4513.023905   23852.60    105
2015 0                3195317.75  2832.728502   85000.00   1128
     1                5602725.24   582.282814   29520.00   9622
     2                 807530.95   439.353074   14500.00   1838
     3                3276294.25  3519.113050  216780.00    931
     4                4710442.85   974.036983   12000.00   4836
     5                6801863.26   912.267068   10142.64   7456
     6                 451465.38  3247.952374   28174.24    139
2016 0                3109141.76  3211.923306   80000.00    968
     1                5915892.99   572.912356   16560.00  10326
     2                1053998.25   520.750124   15000.00   2024
     3                3585465.79  3310.679400  256980.00   1083
     4                4976764.44   940.787229   12000.00   5290
     5                6149743.11   897.379704    7680.60   6853
     6                 494869.88  3436.596389   28922.72    144
2017 0                2386998.09  3536.293467   45000.00    675
     1                4288131.30   528.811358   20000.00   8109
     2                 615519.27   455.602717    8600.00   1351
     3                2329032.49  2714.490082   31950.00    858
     4                3742026.51   962.455378   14000.00   3888
     5                5040428.07   989.871970    5796.74   5092
     6                 450802.46  3853.012479   38500.96    117

[64 rows x 4 columns]

In [40]:
with open('./json_files/senate/sum_mean_max_year_spents_type_total.json', 'w') as f: 
    f.write(subquota_number_year.reset_index().to_json(orient='records', lines=True))

In [41]:
subquota_number_year.reset_index(inplace=True)
subquota_number_year['sum'] = subquota_number_year['sum']/subquota_number_year["count"]
subquota_number_year['mean'] = subquota_number_year['mean']/subquota_number_year["count"]
subquota_number_year

    year  expense_type_id          sum       mean        max  count
0   2008                0  5007.703878  11.355338   45175.85    441
1   2008                1  6563.144707   8.350057   41239.32    786
2   2008                2  1565.101983   3.233682   27000.00    484
3   2008                3  7662.816284  51.775786   61250.00    148
4   2008                4  3927.647593   6.657030   18793.95    590
5   2009                0  2229.396405   2.914244   66960.00    765
6   2009                1   468.760864   0.046518   42400.00  10077
7   2009                2   364.665254   0.212633   16000.00   1715
8   2009                3  2380.834184   2.837705   55000.00    839
9   2009                4   874.775079   0.286248   15000.00   3056
10  2010                0  2534.346047   3.160032   60000.00    802
11  2010                1   382.124677   0.033133   24400.00  11533
12  2010                2   308.105228   0.157922   10000.00   1951
13  2010                3  3042.451289   9.567457   34400.00    318
14  2010                4   762.932583   0.212161   15000.00   3596
15  2011                0  3208.820000   3.976233   50000.00    807
16  2011                1   484.357603   0.040695   30000.00  11902
17  2011                2   316.923515   0.134062   16050.00   2364
18  2011                3  2432.817782   2.108161   56758.00   1154
19  2011                4   815.171579   0.196854   15000.00   4141
20  2011                5   685.464945   0.134934   14000.00   5080
21  2011                6  2890.821711  38.037128   15372.62     76
22  2012                0  3496.274542   4.855937   46000.00    720
23  2012                1   467.574630   0.035725   28000.00  13088
24  2012                2   388.259764   0.163685   10120.00   2372
25  2012                3  3463.327459   3.760399   88245.00    921
26  2012                4   789.746786   0.153947   12612.98   5130
27  2012                5   808.021665   0.104221    8400.00   7753
28  2012                6  2673.152745  26.207380   15372.62    102
29  2013                0  3727.584539   5.547001   50000.00    672
..   ...              ...          ...        ...        ...    ...
34  2013                5   903.648428   0.111741   84000.00   8087
35  2013                6  4657.278118  54.791507   20524.44     85
36  2014                0  4137.385511   6.212291  150000.00    666
37  2014                1   669.808297   0.090076   20500.00   7436
38  2014                2   381.479045   0.183139   11070.00   2083
39  2014                3  3945.416269   5.353346  162400.00    737
40  2014                4   942.455340   0.195977   14117.17   4809
41  2014                5   988.587486   0.161060    8000.00   6138
42  2014                6  4513.023905  42.981180   23852.60    105
43  2015                0  2832.728502   2.511284   85000.00   1128
44  2015                1   582.282814   0.060516   29520.00   9622
45  2015                2   439.353074   0.239039   14500.00   1838
46  2015                3  3519.113050   3.779928  216780.00    931
47  2015                4   974.036983   0.201414   12000.00   4836
48  2015                5   912.267068   0.122353   10142.64   7456
49  2015                6  3247.952374  23.366564   28174.24    139
50  2016                0  3211.923306   3.318103   80000.00    968
51  2016                1   572.912356   0.055483   16560.00  10326
52  2016                2   520.750124   0.257288   15000.00   2024
53  2016                3  3310.679400   3.056952  256980.00   1083
54  2016                4   940.787229   0.177843   12000.00   5290
55  2016                5   897.379704   0.130947    7680.60   6853
56  2016                6  3436.596389  23.865253   28922.72    144
57  2017                0  3536.293467   5.238953   45000.00    675
58  2017                1   528.811358   0.065213   20000.00   8109
59  2017                2   455.602717   0.337234    8600.00   1351
60  2017                3  2714.490082   3.163741   31950.00    858
61  2017                4   962.455378   0.247545   14000.00   3888
62  2017                5   989.871970   0.194397    5796.74   5092
63  2017                6  3853.012479  32.931731   38500.96    117

[64 rows x 6 columns]

In [43]:
with open('./json_files/senate/sum_mean_max_year_spents_type_total_normalizedbycount.json', 'w') as f: 
    f.write(subquota_number_year.reset_index().to_json(orient='records', lines=True))

In [44]:
sum_subquota_number_year = subquota_number_year.groupby(["year"])['sum'].max()
sum_subquota_number_year

year
2008    7662.816284
2009    2380.834184
2010    3042.451289
2011    3208.820000
2012    3496.274542
2013    4657.278118
2014    4513.023905
2015    3519.113050
2016    3436.596389
2017    3853.012479
Name: sum, dtype: float64

In [45]:
max_expenses_2009 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2009])]
max_expenses_2010 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2010])]
max_expenses_2011 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2011])]
max_expenses_2012 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2012])]
max_expenses_2013 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2013])]
max_expenses_2014 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2014])]
max_expenses_2015 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2015])]
max_expenses_2016 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2016])]
max_expenses_2017 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2017])]

In [46]:
with open('./json_files/senate/max_expenses_type_year_sum_normalizedbycount.json', 'w',encoding="utf8") as f:
    for df in [max_expenses_2009,max_expenses_2010,max_expenses_2011,max_expenses_2012,max_expenses_2013,max_expenses_2014,max_expenses_2015,max_expenses_2016,max_expenses_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [47]:
mean_subquota_number_year = subquota_number_year.groupby(["year"])['mean'].max()
mean_subquota_number_year

year
2008    51.775786
2009     2.914244
2010     9.567457
2011    38.037128
2012    26.207380
2013    54.791507
2014    42.981180
2015    23.366564
2016    23.865253
2017    32.931731
Name: mean, dtype: float64

In [48]:
mean_expenses_2009 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2009])]
mean_expenses_2010 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2010])]
mean_expenses_2011 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2011])]
mean_expenses_2012 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2012])]
mean_expenses_2013 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2013])]
mean_expenses_2014 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2014])]
mean_expenses_2015 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2015])]
mean_expenses_2016 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2016])]
mean_expenses_2017 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2017])]

In [49]:
with open('./json_files/senate/max_expenses_type_year_mean_normalizedbycount.json', 'w',encoding="utf8") as f:
    for df in [mean_expenses_2009,mean_expenses_2010,mean_expenses_2011,mean_expenses_2012,mean_expenses_2013,mean_expenses_2014,mean_expenses_2015,mean_expenses_2016,mean_expenses_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")