In [1]:
import pandas as pd
import json

In [2]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')

In [3]:
df_senate = pd.read_csv("./data/Senate/clean_senate.xz",sep=';',compression='xz',parse_dates=['date'],date_parser=dateparse,low_memory=False,index_col=0)

In [4]:
df_senate.count()

year                   216678
month                  216678
congressperson_name    216678
expense_type           216678
supplier               213534
date                   216678
reimbursement_value    216675
party                  216678
dtype: int64

In [5]:
df_senate = df_senate[df_senate.party != "False"]

In [6]:
list(df_senate)

['year',
 'month',
 'congressperson_name',
 'expense_type',
 'supplier',
 'date',
 'reimbursement_value',
 'party']

In [9]:
year_party_type = df_senate.groupby(["year", "party", "expense_type"])['reimbursement_value'].agg(['sum']).reset_index()
year_party_type

,year,party,expense_type,sum
0,2008,DEM,Acquisition of consumables for use in the poli...,91963.06
1,2008,DEM,"Locomotion, lodging, food, fuels and lubricants",823764.84
2,2008,DEM,Publicity of parliamentary activity,228857.65
3,2008,DEM,"Recruitment of consultancies, advisory service...",535136.68
4,2008,DEM,"Rent of real estate for political office, comp...",170315.74
5,2008,PCdoB,Acquisition of consumables for use in the poli...,15380.41
6,2008,PCdoB,"Locomotion, lodging, food, fuels and lubricants",86059.47
7,2008,PCdoB,Publicity of parliamentary activity,14246.04
8,2008,PCdoB,"Recruitment of consultancies, advisory service...",10247.24
9,2008,PCdoB,"Rent of real estate for political office, comp...",21656.04
10,2008,PDT,Acquisition of consumables for use in the poli...,35920.52
11,2008,PDT,"Locomotion, lodging, food, fuels and lubricants",293340.43
12,2008,PDT,Publicity of parliamentary activity,117223.00
13,2008,PDT,"Recruitment of consultancies, advisory service...",59717.08
14,2008,PDT,"Rent of real estate for political office, comp...",102325.33
15,2008,PMDB,Acquisition of consumables for use in the poli...,125576.39
16,2008,PMDB,"Locomotion, lodging, food, fuels and lubricants",1077496.89
17,2008,PMDB,Publicity of parliamentary activity,287631.67
18,2008,PMDB,"Recruitment of consultancies, advisory service...",501044.32
19,2008,PMDB,"Rent of real estate for political office, comp...",640410.46
20,2008,PP,Acquisition of consumables for use in the poli...,1727.96
21,2008,PP,"Locomotion, lodging, food, fuels and lubricants",9561.95
22,2008,PP,"Recruitment of consultancies, advisory service...",33934.38
23,2008,PP,"Rent of real estate for political office, comp...",122041.00
24,2008,PR,Acquisition of consumables for use in the poli...,23244.10
25,2008,PR,"Locomotion, lodging, food, fuels and lubricants",217847.13
26,2008,PR,Publicity of parliamentary activity,55550.00
27,2008,PR,"Recruitment of consultancies, advisory service...",88165.66
28,2008,PR,"Rent of real estate for political office, comp...",122117.14
29,2008,PRB,Acquisition of consumables for use in the poli...,14890.78
...,...,...,...,...
918,2017,PSD,"Rent of real estate for political office, comp...",186515.65
919,2017,PSDB,Acquisition of consumables for use in the poli...,82245.53
920,2017,PSDB,"Locomotion, lodging, food, fuels and lubricants",499763.13
921,2017,PSDB,"National air, water and land transport",626931.36
922,2017,PSDB,Private Security Services,119507.22
923,2017,PSDB,Publicity of parliamentary activity,208875.80
924,2017,PSDB,"Recruitment of consultancies, advisory service...",414220.02
925,2017,PSDB,"Rent of real estate for political office, comp...",575037.80
926,2017,PSOL,Acquisition of consumables for use in the poli...,2113.40
927,2017,PSOL,"Locomotion, lodging, food, fuels and lubricants",28227.01
928,2017,PSOL,"National air, water and land transport",213560.37
929,2017,PSOL,Publicity of parliamentary activity,6000.00
930,2017,PSOL,"Recruitment of consultancies, advisory service...",83500.00
931,2017,PSOL,"Rent of real estate for political office, comp...",48986.12
932,2017,PT,Acquisition of consumables for use in the poli...,125621.82
933,2017,PT,"Locomotion, lodging, food, fuels and lubricants",822744.20
934,2017,PT,"National air, water and land transport",1076335.55
935,2017,PT,Private Security Services,3113.52
936,2017,PT,Publicity of parliamentary activity,163917.12
937,2017,PT,"Recruitment of consultancies, advisory service...",226708.86
938,2017,PT,"Rent of real estate for political office, comp...",687480.56
939,2017,PTB,Acquisition of consumables for use in the poli...,9187.73
940,2017,PTB,"Locomotion, lodging, food, fuels and lubricants",100466.30
941,2017,PTB,"National air, water and land transport",136439.28
942,2017,PTB,Private Security Services,720.00
943,2017,PTB,Publicity of parliamentary activity,153426.58
944,2017,PTB,"Recruitment of consultancies, advisory service...",70136.04
945,2017,PTB,"Rent of real estate for political office, comp...",72638.63
946,2017,PTC,Private Security Services,264624.12
947,2017,PTC,Publicity of parliamentary activity,16000.00

In [10]:
with open('./json_files/senate/year_party_type.json', 'w') as f:
    f.write("[" + year_party_type.reset_index().to_json(orient='records', lines=True) + "]")

In [7]:
sum_mean_max_year = df_senate.groupby("year")['reimbursement_value'].agg(['sum', 'mean', 'max'])
sum_mean_max_year

              sum         mean       max
year
2008  11575947.40  4726.805798   61250.0
2009  11725424.91   712.705137   66960.0
2010  10751707.81   590.753176   60000.0
2011  18741477.76   748.132919   56758.0
2012  23336265.74   775.651989   88245.0
2013  24644284.56   842.194128   84000.0
2014  22512671.12  1024.514022  162400.0
2015  24295278.44   962.417939  216780.0
2016  24250158.61   947.567936  256980.0
2017  18410058.82   933.478289   45000.0

In [8]:
with open('./json_files/senate/sum_mean_max_year.json', 'w') as f:
    f.write("[" + sum_mean_max_year.reset_index().to_json(orient='records', lines=True) + "]")

In [9]:
df_senate['reimbursement_value'].agg(['sum', 'mean', 'max'])

sum     1.902433e+08
mean    8.888544e+02
max     2.569800e+05
Name: reimbursement_value, dtype: float64

In [10]:
df_cp_year = df_senate.groupby(["congressperson_name", "year"])['reimbursement_value'].agg(['sum', 'mean', 'max']).reset_index()
df_cp_year

                congressperson_name  year        sum          mean       max
0                      ACIR GURGACZ  2009   17620.00   8810.000000  12620.00
1                      ACIR GURGACZ  2010  179510.03   1002.849330  20000.00
2                      ACIR GURGACZ  2011  315733.66   1223.773876  40000.00
3                      ACIR GURGACZ  2012  280383.11   1709.653110  35391.03
4                      ACIR GURGACZ  2013  409890.04   1389.457763   9162.09
5                      ACIR GURGACZ  2014  382905.25   2025.953704  46000.00
6                      ACIR GURGACZ  2015  412941.50   2359.665714  29780.00
7                      ACIR GURGACZ  2016  301970.88   2156.934857  19800.00
8                      ACIR GURGACZ  2017  321743.37   2314.700504   8700.00
9                         ADA MELLO  2008   59962.46   7495.307500  12351.52
10                  ADELMIR SANTANA  2008  163612.32   7436.923636  15000.00
11                  ADELMIR SANTANA  2009  178174.44   6143.946207  66960.00
12                  ADELMIR SANTANA  2010  180000.00  15000.000000  21000.00
13                  ADELMIR SANTANA  2011   15000.00  15000.000000  15000.00
14                      AECIO NEVES  2011  180990.41   1103.600061   8000.00
15                      AECIO NEVES  2012  252715.42    834.044290   8362.00
16                      AECIO NEVES  2013  286004.86    792.257230   8831.11
17                      AECIO NEVES  2014  214075.14   1408.389079   9330.95
18                      AECIO NEVES  2015  268031.78   1015.271894  10000.00
19                      AECIO NEVES  2016  295335.85    962.006026   9000.00
20                      AECIO NEVES  2017  146748.50    922.946541   9000.00
21                  AIRTON SANDOVAL  2017  137813.62    753.079891   6766.00
22                   ALFREDO COTAIT  2010   29532.64    335.598182  18000.00
23                   ALFREDO COTAIT  2011    2066.99    137.799333    429.17
24               ALFREDO NASCIMENTO  2010   10756.98   1344.622500   2500.00
25               ALFREDO NASCIMENTO  2011   66410.39   1328.207800   3000.00
26               ALFREDO NASCIMENTO  2012  193696.51   1445.496343   5181.25
27               ALFREDO NASCIMENTO  2013  327838.22   1939.871124   8000.00
28               ALFREDO NASCIMENTO  2014  229497.37   1807.065906   8000.00
29               ALFREDO NASCIMENTO  2015   10203.04   2040.608000   3420.00
..                              ...   ...        ...           ...       ...
858                 WALTER PINHEIRO  2011  193996.34    514.579151  12350.00
859                 WALTER PINHEIRO  2012  247767.63    561.831361   4500.00
860                 WALTER PINHEIRO  2013  233187.38    602.551370   8400.00
861                 WALTER PINHEIRO  2014  169061.35    569.230135   3575.97
862                 WALTER PINHEIRO  2015  175530.91    601.133253   3717.71
863                 WALTER PINHEIRO  2016   78455.02    622.658889   4125.22
864                 WELLINGTON DIAS  2011  328405.01   1277.840506  13020.00
865                 WELLINGTON DIAS  2012  421996.11   1528.971413   8050.00
866                 WELLINGTON DIAS  2013  465934.55   1109.367976   7990.00
867                 WELLINGTON DIAS  2014  374444.70   1456.983268  19340.00
868             WELLINGTON FAGUNDES  2015  359067.72    480.679679  85000.00
869             WELLINGTON FAGUNDES  2016  415154.23    448.815384  40000.00
870             WELLINGTON FAGUNDES  2017  265709.20    389.032504   4500.00
871  WELLINGTON SALGADO DE OLIVEIRA  2008  110236.74   2563.645116   7070.00
872  WELLINGTON SALGADO DE OLIVEIRA  2009  154715.26    289.728951  40000.00
873  WELLINGTON SALGADO DE OLIVEIRA  2010   44478.63    232.872408   9523.72
874                   WILDER MORAIS  2012   67136.14    729.740652  10000.00
875                   WILDER MORAIS  2013  180251.56    706.868863   8246.43
876                   WILDER MORAIS  2014  117540.17    656.648994   8292.00
877                   WILDER MORAIS  2015  251598.90    628.997250  10446.71
878                   WILDER MORAIS  2016  252542.40    693.797802  10693.80
879                   WILDER MORAIS  2017  172205.41   1103.880833  11223.58
880                 WILSON SANTIAGO  2011  282758.27   1273.685901  20250.00
881                   ZEZE PERRELLA  2011  161942.97   2841.104737  15000.00
882                   ZEZE PERRELLA  2012  335890.42   1805.862473  18333.35
883                   ZEZE PERRELLA  2013  222520.97   1636.183603   9000.00
884                   ZEZE PERRELLA  2014  254646.81   2233.743947   9000.00
885                   ZEZE PERRELLA  2015  341787.74   1436.082941  20000.00
886                   ZEZE PERRELLA  2016  322433.80    810.135176  80000.00
887                   ZEZE PERRELLA  2017  253138.97    431.241857  10000.00

[888 rows x 5 columns]

In [11]:
sum_years = df_cp_year.groupby("year")['sum'].max()

In [12]:
sum_2008 = df_cp_year[(df_cp_year['year'] == 2008) & (df_cp_year['sum'] == sum_years[2008])]
sum_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['sum'] == sum_years[2009])]
sum_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['sum'] == sum_years[2010])]
sum_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['sum'] == sum_years[2011])]
sum_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['sum'] == sum_years[2012])]
sum_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['sum'] == sum_years[2013])]
sum_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['sum'] == sum_years[2014])]
sum_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['sum'] == sum_years[2015])]
sum_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['sum'] == sum_years[2016])]
sum_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['sum'] == sum_years[2017])]

In [13]:
with open('./json_files/senate/sum_mean_max_year_congressperson_total.json', 'w',encoding="utf8") as f:
    f.write(df_cp_year.to_json(orient='records', lines=True) + "\n")

In [14]:
# with open('./json_files/senate/sum_mean_max_year_congressperson_maxtotal.json', 'w',encoding="utf8") as f:
#     for df in [sum_2008,sum_2009,sum_2010,sum_2011,sum_2012,sum_2013,sum_2014,sum_2015,sum_2016,sum_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [15]:
mean_max_year = df_cp_year.groupby("year")['mean'].max()

In [16]:
mean_max_year

year
2008    16290.201818
2009    16363.636364
2010    15000.000000
2011    15000.000000
2012     7416.013824
2013    15530.716000
2014    24745.000000
2015    19121.563636
2016    21687.337778
2017    31180.457778
Name: mean, dtype: float64

In [17]:
mean_2008 = df_cp_year[(df_cp_year['year'] == 2008) & (df_cp_year['mean'] == mean_max_year[2008])]
mean_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['mean'] == mean_max_year[2009])]
mean_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['mean'] == mean_max_year[2010])]
mean_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['mean'] == mean_max_year[2011])]
mean_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['mean'] == mean_max_year[2012])]
mean_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['mean'] == mean_max_year[2013])]
mean_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['mean'] == mean_max_year[2014])]
mean_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['mean'] == mean_max_year[2015])]
mean_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['mean'] == mean_max_year[2016])]
mean_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['mean'] == mean_max_year[2017])]

In [18]:
# with open('./json_files/senate/sum_mean_max_year_congressperson_maxmean.json', 'w',encoding="utf8") as f:
#     for df in [mean_2008,mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [19]:
mean_min_year = df_cp_year.groupby("year")['mean'].min()
mean_2008 = df_cp_year[(df_cp_year['year'] == 2008) & (df_cp_year['mean'] == mean_min_year[2008])]
mean_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['mean'] == mean_min_year[2009])]
mean_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['mean'] == mean_min_year[2010])]
mean_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['mean'] == mean_min_year[2011])]
mean_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['mean'] == mean_min_year[2012])]
mean_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['mean'] == mean_min_year[2013])]
mean_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['mean'] == mean_min_year[2014])]
mean_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['mean'] == mean_min_year[2015])]
mean_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['mean'] == mean_min_year[2016])]
mean_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['mean'] == mean_min_year[2017])]

In [20]:
# with open('./json_files/senate/sum_mean_max_year_congressperson_minmean.json', 'w',encoding="utf8") as f:
#     for df in [mean_2008,mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [21]:
count_by_party_year = df_senate.groupby(["year", "party", "congressperson_name"]).size().groupby(["year", "party"]).agg(["count"])
count_by_party_year.reset_index()

     year      party  count
0    2008        DEM     13
1    2008      PCdoB      1
2    2008        PDT      4
3    2008       PMDB     20
4    2008         PP      1
5    2008         PR      3
6    2008        PRB      1
7    2008        PSB      2
8    2008        PSC      2
9    2008       PSDB     15
10   2008        PSL      1
11   2008       PSOL      1
12   2008         PT     10
13   2008        PTB      9
14   2008         PV      1
15   2008  S/Partido      1
16   2009        DEM     13
17   2009      PCdoB      1
18   2009        PDT      7
19   2009       PMDB     19
20   2009         PP      1
21   2009         PR      3
22   2009        PRB      2
23   2009        PSB      2
24   2009        PSC      1
25   2009       PSDB     15
26   2009       PSOL      1
27   2009         PT     10
28   2009        PTB      8
29   2009         PV      1
..    ...        ...    ...
134  2016       PODE      2
135  2016         PP      6
136  2016        PPS      1
137  2016         PR      5
138  2016        PRB      2
139  2016        PSB      3
140  2016        PSC      1
141  2016        PSD      5
142  2016       PSDB     12
143  2016       PSOL      1
144  2016         PT     12
145  2016        PTB      3
146  2016        PTC      1
147  2017        DEM      5
148  2017      PCdoB      1
149  2017        PDT      3
150  2017       PMDB     20
151  2017       PODE      2
152  2017         PP      6
153  2017        PPS      1
154  2017         PR      4
155  2017        PRB      1
156  2017        PSB      3
157  2017        PSC      1
158  2017        PSD      5
159  2017       PSDB     12
160  2017       PSOL      1
161  2017         PT     11
162  2017        PTB      2
163  2017        PTC      1

[164 rows x 3 columns]

In [22]:
count_by_party_year = count_by_party_year.reset_index()

In [23]:
def replace_sum(row):
    c = count_by_party_year[(count_by_party_year.year== row.year) & (row.party==count_by_party_year.party)]
#     print()
#     c = count_by_party_year[(count_by_party_year.year== row.year) & (row.party==count_by_party_year.party)]["count"]
#     print(row["sum"]/c)
    return row["sum"]/c["count"].values[0]

In [24]:
# df_party_year = df_senate.groupby(["party", "year"])['reimbursement_value'].agg(['sum', 'mean', 'max', 'count']).reset_index()
# Comment lines bellow if dont want to consider number of politicians in each party
# df_party_year['sum'] = df_party_year['sum']/df_party_year["count"]
# df_party_year['mean'] = df_party_year['mean']/df_party_year["count"]
df_party_year = df_senate.groupby([ "year", "party"])["reimbursement_value"].agg(['sum']).reset_index()
df_party_year['mean'] = df_party_year.apply(replace_sum,axis=1)
df_party_year["n_congressman"] = df_party_year.apply(lambda row: count_by_party_year[(count_by_party_year.year== row.year) & (row.party==count_by_party_year.party)]["count"].values[0],axis=1)
df_party_year

     year      party         sum           mean  n_congressman
0    2008        DEM  1850037.97  142310.613077             13
1    2008      PCdoB   147589.20  147589.200000              1
2    2008        PDT   608526.36  152131.590000              4
3    2008       PMDB  2632159.73  131607.986500             20
4    2008         PP   167265.29  167265.290000              1
5    2008         PR   506924.03  168974.676667              3
6    2008        PRB   165000.00  165000.000000              1
7    2008        PSB   287968.53  143984.265000              2
8    2008        PSC   296263.00  148131.500000              2
9    2008       PSDB  1953690.09  130246.006000             15
10   2008        PSL    45354.64   45354.640000              1
11   2008       PSOL   164075.65  164075.650000              1
12   2008         PT  1315640.92  131564.092000             10
13   2008        PTB  1212226.78  134691.864444              9
14   2008         PV    53554.30   53554.300000              1
15   2008  S/Partido   169670.91  169670.910000              1
16   2009        DEM  2051692.59  157822.506923             13
17   2009      PCdoB   180000.00  180000.000000              1
18   2009        PDT   685075.99   97867.998571              7
19   2009       PMDB  2409102.03  126794.843684             19
20   2009         PP   175223.96  175223.960000              1
21   2009         PR   485658.74  161886.246667              3
22   2009        PRB   204249.48  102124.740000              2
23   2009        PSB   338846.03  169423.015000              2
24   2009        PSC   179434.38  179434.380000              1
25   2009       PSDB  2134513.41  142300.894000             15
26   2009       PSOL   177661.75  177661.750000              1
27   2009         PT  1311001.24  131100.124000             10
28   2009        PTB  1115663.23  139457.903750              8
29   2009         PV    97502.07   97502.070000              1
..    ...        ...         ...            ...            ...
134  2016       PODE   474316.89  237158.445000              2
135  2016         PP  1844019.52  307336.586667              6
136  2016        PPS   418157.60  418157.600000              1
137  2016         PR  1434678.70  286935.740000              5
138  2016        PRB   291281.76  145640.880000              2
139  2016        PSB  1030659.18  343553.060000              3
140  2016        PSC   306258.14  306258.140000              1
141  2016        PSD  1535211.09  307042.218000              5
142  2016       PSDB  3249235.03  270769.585833             12
143  2016       PSOL   471847.84  471847.840000              1
144  2016         PT  4247017.46  353918.121667             12
145  2016        PTB   719387.97  239795.990000              3
146  2016        PTC   420471.01  420471.010000              1
147  2017        DEM   829744.26  165948.852000              5
148  2017      PCdoB   291913.47  291913.470000              1
149  2017        PDT   646778.31  215592.770000              3
150  2017       PMDB  4340787.32  217039.366000             20
151  2017       PODE   374395.02  187197.510000              2
152  2017         PP  1429566.35  238261.058333              6
153  2017        PPS   349186.88  349186.880000              1
154  2017         PR  1010672.55  252668.137500              4
155  2017        PRB   233066.53  233066.530000              1
156  2017        PSB   808656.78  269552.260000              3
157  2017        PSC   233934.61  233934.610000              1
158  2017        PSD  1022828.67  204565.734000              5
159  2017       PSDB  2526580.86  210548.405000             12
160  2017       PSOL   382386.90  382386.900000              1
161  2017         PT  3105921.63  282356.511818             11
162  2017        PTB   543014.56  271507.280000              2
163  2017        PTC   280624.12  280624.120000              1

[164 rows x 5 columns]

In [25]:
with open('./json_files/senate/sum_mean_max_year_party_maxtotal.json', 'w',encoding="utf8") as f:
    f.write(df_party_year.to_json(orient='records', lines=True) + "\n")

In [26]:
sum_years = df_party_year.groupby("year")['sum'].max()
sum_years

year
2008    2632159.73
2009    2409102.03
2010    2211374.58
2011    3848853.91
2012    4668326.37
2013    5380802.45
2014    4791130.44
2015    5267161.44
2016    5290895.94
2017    4340787.32
Name: sum, dtype: float64

In [27]:
sum_party_2008 = df_party_year[(df_party_year['year'] == 2008) & (df_party_year['sum'] == sum_years[2008])]
sum_party_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['sum'] == sum_years[2009])]
sum_party_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['sum'] == sum_years[2010])]
sum_party_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['sum'] == sum_years[2011])]
sum_party_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['sum'] == sum_years[2012])]
sum_party_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['sum'] == sum_years[2013])]
sum_party_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['sum'] == sum_years[2014])]
sum_party_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['sum'] == sum_years[2015])]
sum_party_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['sum'] == sum_years[2016])]
sum_party_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['sum'] == sum_years[2017])]

In [28]:
sum_party_2017

     year party         sum        mean  n_congressman
150  2017  PMDB  4340787.32  217039.366             20

In [29]:
# with open('./json_files/senate/sum_mean_max_year_party_maxtotal.json', 'w',encoding="utf8") as f:
#     for df in [sum_party_2008,sum_party_2009,sum_party_2010,sum_party_2011,sum_party_2012,sum_party_2013,sum_party_2014,sum_party_2015,sum_party_2016,sum_party_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [30]:
mean_max_year = df_party_year.groupby("year")['mean'].max()
mean_max_year

year
2008    169670.910
2009    180000.000
2010    179037.720
2011    370438.240
2012    460001.070
2013    465451.685
2014    466253.380
2015    445880.330
2016    477079.760
2017    382386.900
Name: mean, dtype: float64

In [31]:
mean_2008 = df_party_year[(df_party_year['year'] == 2008) & (df_party_year['mean'] == mean_max_year[2008])]
mean_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['mean'] == mean_max_year[2009])]
mean_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['mean'] == mean_max_year[2010])]
mean_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['mean'] == mean_max_year[2011])]
mean_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['mean'] == mean_max_year[2012])]
mean_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['mean'] == mean_max_year[2013])]
mean_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['mean'] == mean_max_year[2014])]
mean_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['mean'] == mean_max_year[2015])]
mean_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['mean'] == mean_max_year[2016])]
mean_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['mean'] == mean_max_year[2017])]

In [32]:
# with open('./json_files/senate/sum_mean_max_year_party_maxmean.json', 'w',encoding="utf8") as f:
#     for df in [mean_2008,mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [33]:
mean_min_year = df_party_year.groupby("year")['mean'].min()

In [34]:
mean_2008 = df_party_year[(df_party_year['year'] == 2008) & (df_party_year['mean'] == mean_min_year[2008])]
mean_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['mean'] == mean_min_year[2009])]
mean_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['mean'] == mean_min_year[2010])]
mean_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['mean'] == mean_min_year[2011])]
mean_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['mean'] == mean_min_year[2012])]
mean_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['mean'] == mean_min_year[2013])]
mean_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['mean'] == mean_min_year[2014])]
mean_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['mean'] == mean_min_year[2015])]
mean_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['mean'] == mean_min_year[2016])]
mean_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['mean'] == mean_min_year[2017])]

In [35]:
# with open('./json_files/senate/sum_mean_max_year_party_minmean.json', 'w',encoding="utf8") as f:
#     for df in [mean_2008,mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [36]:
expense_type = pd.unique(df_senate["expense_type"]).tolist()

In [37]:
expense_type

['Recruitment of consultancies, advisory services, research, technical work and other services in support of the exercise of the parliamentary mandate',
 'Locomotion, lodging, food, fuels and lubricants',
 'Acquisition of consumables for use in the political office, including acquisition or leasing of software, postal expenses, acquisition of publications, rental of furniture and equipment',
 'Publicity of parliamentary activity',
 'Rent of real estate for political office, comprising expenses concerning them',
 'National air, water and land transport',
 'Private Security Services']

In [38]:
# with open('./json_files/senate/spents_categories.json', 'w',encoding="utf8") as f:
#     catogories = {i:expense_type[i] for i in range(len(expense_type))}
#     f.write(json.dumps(catogories))

In [39]:
df_senate["expense_type_id"] = df_senate["expense_type"].map(lambda x: expense_type.index(x))

In [40]:
df_senate.head()

,year,month,congressperson_name,expense_type,supplier,date,reimbursement_value,party,expense_type_id
0,2008,9,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,2008-09-30,12351.52,PTB,0
1,2008,9,ADA MELLO,"Locomotion, lodging, food, fuels and lubricants",NaN,2008-09-30,386.60,PTB,1
2,2008,10,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,2008-10-31,12351.52,PTB,0
3,2008,10,ADA MELLO,"Locomotion, lodging, food, fuels and lubricants",NaN,2008-10-31,2610.68,PTB,1
4,2008,11,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,2008-11-30,12351.52,PTB,0

In [41]:
subquota_number_year = df_senate.groupby(["year", "expense_type_id"])['reimbursement_value'].agg(['sum', 'mean', 'max',"count"])
subquota_number_year

                             sum         mean        max  count
year expense_type_id
2008 0                2208397.41  5007.703878   45175.85    441
     1                5158631.74  6563.144707   41239.32    786
     2                 757509.36  1565.101983   27000.00    484
     3                1134096.81  7662.816284   61250.00    148
     4                2317312.08  3927.647593   18793.95    590
2009 0                1705488.25  2229.396405   66960.00    765
     1                4723703.23   468.760864   42400.00  10077
     2                 625400.91   364.665254   16000.00   1715
     3                1997519.88  2380.834184   55000.00    839
     4                2673312.64   874.775079   15000.00   3056
2010 0                2032545.53  2534.346047   60000.00    802
     1                4407043.90   382.124677   24400.00  11533
     2                 601113.30   308.105228   10000.00   1951
     3                 967499.51  3042.451289   34400.00    318
     4                2743505.57   762.932583   15000.00   3596
2011 0                2558491.49  3230.418548   50000.00    792
     1                5629023.77   486.687167   30000.00  11566
     2                 739938.94   320.042794   16050.00   2312
     3                2780151.20  2425.960908   56758.00   1146
     4                3332007.99   816.868838   15000.00   4079
     5                3482161.92   685.464945   14000.00   5080
     6                 219702.45  2890.821711   15372.62     76
2012 0                2517317.67  3496.274542   46000.00    720
     1                6119616.76   467.574630   28000.00  13088
     2                 920952.16   388.259764   10120.00   2372
     3                3189724.59  3463.327459   88245.00    921
     4                4051401.01   789.746786   12612.98   5130
     5                6264591.97   808.021665    8400.00   7753
     6                 272661.58  2673.152745   15372.62    102
2013 0                2504936.81  3727.584539   50000.00    672
...                          ...          ...        ...    ...
     5                7307804.84   903.648428   84000.00   8087
     6                 395868.64  4657.278118   20524.44     85
2014 0                2755498.75  4137.385511  150000.00    666
     1                4980694.50   669.808297   20500.00   7436
     2                 794620.85   381.479045   11070.00   2083
     3                2907771.79  3945.416269  162400.00    737
     4                4532267.73   942.455340   14117.17   4809
     5                6067949.99   988.587486    8000.00   6138
     6                 473867.51  4513.023905   23852.60    105
2015 0                3131969.72  2816.519532   85000.00   1112
     1                5457905.30   593.444090   29520.00   9197
     2                 791325.48   439.869639   14500.00   1799
     3                3221638.25  3505.591132  216780.00    919
     4                4557137.46   958.993573   12000.00   4752
     5                6683836.85   912.344642   10142.64   7326
     6                 451465.38  3247.952374   28174.24    139
2016 0                2964295.02  3257.467055   80000.00    910
     1                5735684.86   578.485614   16560.00   9915
     2                 987024.01   511.411404   15000.00   1930
     3                3470259.79  3298.726036  256980.00   1052
     4                4700444.32   928.574540   12000.00   5062
     5                5902330.73   896.465785    7680.60   6584
     6                 490119.88  3526.042302   28922.72    139
2017 0                2261917.68  3437.564863   45000.00    658
     1                4229873.27   528.535958   20000.00   8003
     2                 561474.91   435.251868    8600.00   1290
     3                2308032.49  2693.153431   31950.00    857
     4                3635099.19   956.101839   14000.00   3802
     5                4971948.82   992.999565    5796.74   5007
     6                 441712.46  4206.785333   38500.96    105

[64 rows x 4 columns]

In [42]:
with open('./json_files/senate/sum_mean_max_year_spents_type_total.json', 'w') as f: 
    f.write("[" + subquota_number_year.reset_index().to_json(orient='records', lines=True)+"]")

In [43]:
subquota_number_year.reset_index(inplace=True)
# subquota_number_year['sum'] = subquota_number_year['sum']/subquota_number_year["count"]
# subquota_number_year['mean'] = subquota_number_year['mean']/subquota_number_year["count"]
subquota_number_year

    year  expense_type_id         sum         mean        max  count
0   2008                0  2208397.41  5007.703878   45175.85    441
1   2008                1  5158631.74  6563.144707   41239.32    786
2   2008                2   757509.36  1565.101983   27000.00    484
3   2008                3  1134096.81  7662.816284   61250.00    148
4   2008                4  2317312.08  3927.647593   18793.95    590
5   2009                0  1705488.25  2229.396405   66960.00    765
6   2009                1  4723703.23   468.760864   42400.00  10077
7   2009                2   625400.91   364.665254   16000.00   1715
8   2009                3  1997519.88  2380.834184   55000.00    839
9   2009                4  2673312.64   874.775079   15000.00   3056
10  2010                0  2032545.53  2534.346047   60000.00    802
11  2010                1  4407043.90   382.124677   24400.00  11533
12  2010                2   601113.30   308.105228   10000.00   1951
13  2010                3   967499.51  3042.451289   34400.00    318
14  2010                4  2743505.57   762.932583   15000.00   3596
15  2011                0  2558491.49  3230.418548   50000.00    792
16  2011                1  5629023.77   486.687167   30000.00  11566
17  2011                2   739938.94   320.042794   16050.00   2312
18  2011                3  2780151.20  2425.960908   56758.00   1146
19  2011                4  3332007.99   816.868838   15000.00   4079
20  2011                5  3482161.92   685.464945   14000.00   5080
21  2011                6   219702.45  2890.821711   15372.62     76
22  2012                0  2517317.67  3496.274542   46000.00    720
23  2012                1  6119616.76   467.574630   28000.00  13088
24  2012                2   920952.16   388.259764   10120.00   2372
25  2012                3  3189724.59  3463.327459   88245.00    921
26  2012                4  4051401.01   789.746786   12612.98   5130
27  2012                5  6264591.97   808.021665    8400.00   7753
28  2012                6   272661.58  2673.152745   15372.62    102
29  2013                0  2504936.81  3727.584539   50000.00    672
..   ...              ...         ...          ...        ...    ...
34  2013                5  7307804.84   903.648428   84000.00   8087
35  2013                6   395868.64  4657.278118   20524.44     85
36  2014                0  2755498.75  4137.385511  150000.00    666
37  2014                1  4980694.50   669.808297   20500.00   7436
38  2014                2   794620.85   381.479045   11070.00   2083
39  2014                3  2907771.79  3945.416269  162400.00    737
40  2014                4  4532267.73   942.455340   14117.17   4809
41  2014                5  6067949.99   988.587486    8000.00   6138
42  2014                6   473867.51  4513.023905   23852.60    105
43  2015                0  3131969.72  2816.519532   85000.00   1112
44  2015                1  5457905.30   593.444090   29520.00   9197
45  2015                2   791325.48   439.869639   14500.00   1799
46  2015                3  3221638.25  3505.591132  216780.00    919
47  2015                4  4557137.46   958.993573   12000.00   4752
48  2015                5  6683836.85   912.344642   10142.64   7326
49  2015                6   451465.38  3247.952374   28174.24    139
50  2016                0  2964295.02  3257.467055   80000.00    910
51  2016                1  5735684.86   578.485614   16560.00   9915
52  2016                2   987024.01   511.411404   15000.00   1930
53  2016                3  3470259.79  3298.726036  256980.00   1052
54  2016                4  4700444.32   928.574540   12000.00   5062
55  2016                5  5902330.73   896.465785    7680.60   6584
56  2016                6   490119.88  3526.042302   28922.72    139
57  2017                0  2261917.68  3437.564863   45000.00    658
58  2017                1  4229873.27   528.535958   20000.00   8003
59  2017                2   561474.91   435.251868    8600.00   1290
60  2017                3  2308032.49  2693.153431   31950.00    857
61  2017                4  3635099.19   956.101839   14000.00   3802
62  2017                5  4971948.82   992.999565    5796.74   5007
63  2017                6   441712.46  4206.785333   38500.96    105

[64 rows x 6 columns]

In [44]:
# with open('./json_files/senate/sum_mean_max_year_spents_type_total_normalizedbycount.json', 'w') as f: 
#     f.write("[" + subquota_number_year.reset_index().to_json(orient='records', lines=True) + "]")

In [45]:
sum_subquota_number_year = subquota_number_year.groupby(["year"])['sum'].max()
sum_subquota_number_year

year
2008    5158631.74
2009    4723703.23
2010    4407043.90
2011    5629023.77
2012    6264591.97
2013    7307804.84
2014    6067949.99
2015    6683836.85
2016    5902330.73
2017    4971948.82
Name: sum, dtype: float64

In [46]:
max_expenses_2008 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2008])]
max_expenses_2009 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2009])]
max_expenses_2010 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2010])]
max_expenses_2011 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2011])]
max_expenses_2012 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2012])]
max_expenses_2013 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2013])]
max_expenses_2014 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2014])]
max_expenses_2015 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2015])]
max_expenses_2016 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2016])]
max_expenses_2017 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2017])]

In [47]:
# with open('./json_files/senate/max_expenses_type_year_sum_normalizedbycount.json', 'w',encoding="utf8") as f:
#     for df in [max_expenses_2008,max_expenses_2009,max_expenses_2010,max_expenses_2011,max_expenses_2012,max_expenses_2013,max_expenses_2014,max_expenses_2015,max_expenses_2016,max_expenses_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [48]:
mean_subquota_number_year = subquota_number_year.groupby(["year"])['mean'].max()
mean_subquota_number_year

year
2008    7662.816284
2009    2380.834184
2010    3042.451289
2011    3230.418548
2012    3496.274542
2013    4657.278118
2014    4513.023905
2015    3505.591132
2016    3526.042302
2017    4206.785333
Name: mean, dtype: float64

In [49]:
mean_expenses_2008 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2008])]
mean_expenses_2009 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2009])]
mean_expenses_2010 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2010])]
mean_expenses_2011 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2011])]
mean_expenses_2012 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2012])]
mean_expenses_2013 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2013])]
mean_expenses_2014 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2014])]
mean_expenses_2015 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2015])]
mean_expenses_2016 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2016])]
mean_expenses_2017 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2017])]

In [50]:
# with open('./json_files/senate/max_expenses_type_year_mean_normalizedbycount.json', 'w',encoding="utf8") as f:
#     for df in [mean_expenses_2008,mean_expenses_2009,mean_expenses_2010,mean_expenses_2011,mean_expenses_2012,mean_expenses_2013,mean_expenses_2014,mean_expenses_2015,mean_expenses_2016,mean_expenses_2017]:
#         f.write( df.to_json(orient='records', lines=True) + "\n")

In [51]:
df_senate.head()["expense_type"]

0    Recruitment of consultancies, advisory service...
1      Locomotion, lodging, food, fuels and lubricants
2    Recruitment of consultancies, advisory service...
3      Locomotion, lodging, food, fuels and lubricants
4    Recruitment of consultancies, advisory service...
Name: expense_type, dtype: object

In [52]:
subquota_number_party_year = df_senate.groupby(["party", "year", "expense_type_id"])['reimbursement_value'].agg(['sum', 'mean', 'max', 'count'])
subquota_number_party_year

                                      sum          mean       max  count
party     year expense_type_id
DEM       2008 0                535136.68   8232.872000  32900.00     65
               1                823764.84   6590.118720  17417.36    125
               2                 91963.06   1642.197500  27000.00     56
               3                228857.65   6935.080303  15000.00     33
               4                170315.74   2504.643235  11361.01     68
          2009 0                532134.58   3595.503919  66960.00    148
               1                759231.87    516.835854  14464.44   1469
               2                 49790.90    263.443915   4757.45    189
               3                404129.56   2694.197067  23000.00    150
               4                306405.68    810.597037  12466.95    378
          2010 0                733565.43   4672.391274  37300.00    157
               1                711011.90    435.669056   8850.00   1632
               2                 69677.07    374.607903   5271.19    186
               3                176254.98   2554.420000  34400.00     69
               4                331862.85    775.380491   5099.94    428
          2011 0                134137.36   1524.288182  15000.00     88
               1                312050.20   1560.251000  11091.80    200
               2                 34777.09    399.736667   7890.00     87
               3                 81830.60   2639.696774  15000.00     31
               4                184413.51   1271.817310   4500.00    145
               5                125155.52    655.264503   2729.58    191
               6                 26472.69   2206.057500   2988.11     12
          2012 0                158741.58   2784.940000  15000.00     57
               1                381454.95   1825.143301  19140.00    209
               2                 23515.33    199.282458   3980.00    118
               3                 56201.00   3122.277778  10000.00     18
               4                223033.62   1167.715288   4703.85    191
               5                217118.35    786.660688   3329.27    276
               6                 38292.32   2735.165714   3288.11     14
          2013 0                 31329.09   1362.134348   8400.00     23
...                                   ...           ...       ...    ...
PV        2014 3                  5200.00   1733.333333   2700.00      3
               4                 38492.88    396.833814   1600.00     97
               5                 54826.77    913.779500   2884.18     60
S/Partido 2008 0                    90.00     90.000000     90.00      1
               1                115630.17  10511.833636  16737.02     11
               2                  3293.00   1097.666667   3000.00      3
               3                 49048.15   9809.630000  25829.25      5
               4                  1609.59    536.530000    742.51      3
          2009 0                  1500.00   1500.000000   1500.00      1
               1                122822.04   2729.378667  11385.68     45
               2                   100.00    100.000000    100.00      1
               3                 49174.00   3073.375000  12790.50     16
               4                  6203.97   1550.992500   5636.13      4
          2010 0                  5360.00   2680.000000   3360.00      2
               1                137079.77   2636.149423  13864.62     52
               2                   223.90    111.950000    115.90      2
               3                 31625.00   4517.857143  10000.00      7
               4                  4515.42    410.492727    766.16     11
          2011 0                111700.00   8592.307692  12000.00     13
               1                 78569.41   2182.483611  13134.48     36
               2                 11105.08    793.220000   4800.00     14
               4                 36536.87    689.374906   2111.06     53
               5                  8374.64    598.188571   1346.69     14
               6                   283.18    141.590000    158.69      2
          2012 0                 49500.00   9900.000000  11000.00      5
               1                 18176.18    956.641053   5042.45     19
               2                  1423.30    355.825000    584.40      4
               4                 23854.54    581.818049   2503.00     41
               5                  3002.17    500.361667    529.66      6
               6                   158.69    158.690000    158.69      1

[948 rows x 4 columns]

In [53]:
subquota_number_party_year.reset_index(inplace=True)
# subquota_number_party_year['sum'] = subquota_number_party_year['sum']/subquota_number_party_year["count"]
# subquota_number_party_year['mean'] = subquota_number_party_year['mean']/subquota_number_party_year["count"]
subquota_number_party_year

,party,year,expense_type_id,sum,mean,max,count
0,DEM,2008,0,535136.68,8232.872000,32900.00,65
1,DEM,2008,1,823764.84,6590.118720,17417.36,125
2,DEM,2008,2,91963.06,1642.197500,27000.00,56
3,DEM,2008,3,228857.65,6935.080303,15000.00,33
4,DEM,2008,4,170315.74,2504.643235,11361.01,68
5,DEM,2009,0,532134.58,3595.503919,66960.00,148
6,DEM,2009,1,759231.87,516.835854,14464.44,1469
7,DEM,2009,2,49790.90,263.443915,4757.45,189
8,DEM,2009,3,404129.56,2694.197067,23000.00,150
9,DEM,2009,4,306405.68,810.597037,12466.95,378
10,DEM,2010,0,733565.43,4672.391274,37300.00,157
11,DEM,2010,1,711011.90,435.669056,8850.00,1632
12,DEM,2010,2,69677.07,374.607903,5271.19,186
13,DEM,2010,3,176254.98,2554.420000,34400.00,69
14,DEM,2010,4,331862.85,775.380491,5099.94,428
15,DEM,2011,0,134137.36,1524.288182,15000.00,88
16,DEM,2011,1,312050.20,1560.251000,11091.80,200
17,DEM,2011,2,34777.09,399.736667,7890.00,87
18,DEM,2011,3,81830.60,2639.696774,15000.00,31
19,DEM,2011,4,184413.51,1271.817310,4500.00,145
20,DEM,2011,5,125155.52,655.264503,2729.58,191
21,DEM,2011,6,26472.69,2206.057500,2988.11,12
22,DEM,2012,0,158741.58,2784.940000,15000.00,57
23,DEM,2012,1,381454.95,1825.143301,19140.00,209
24,DEM,2012,2,23515.33,199.282458,3980.00,118
25,DEM,2012,3,56201.00,3122.277778,10000.00,18
26,DEM,2012,4,223033.62,1167.715288,4703.85,191
27,DEM,2012,5,217118.35,786.660688,3329.27,276
28,DEM,2012,6,38292.32,2735.165714,3288.11,14
29,DEM,2013,0,31329.09,1362.134348,8400.00,23
...,...,...,...,...,...,...,...
918,PV,2014,3,5200.00,1733.333333,2700.00,3
919,PV,2014,4,38492.88,396.833814,1600.00,97
920,PV,2014,5,54826.77,913.779500,2884.18,60
921,S/Partido,2008,0,90.00,90.000000,90.00,1
922,S/Partido,2008,1,115630.17,10511.833636,16737.02,11
923,S/Partido,2008,2,3293.00,1097.666667,3000.00,3
924,S/Partido,2008,3,49048.15,9809.630000,25829.25,5
925,S/Partido,2008,4,1609.59,536.530000,742.51,3
926,S/Partido,2009,0,1500.00,1500.000000,1500.00,1
927,S/Partido,2009,1,122822.04,2729.378667,11385.68,45
928,S/Partido,2009,2,100.00,100.000000,100.00,1
929,S/Partido,2009,3,49174.00,3073.375000,12790.50,16
930,S/Partido,2009,4,6203.97,1550.992500,5636.13,4
931,S/Partido,2010,0,5360.00,2680.000000,3360.00,2
932,S/Partido,2010,1,137079.77,2636.149423,13864.62,52
933,S/Partido,2010,2,223.90,111.950000,115.90,2
934,S/Partido,2010,3,31625.00,4517.857143,10000.00,7
935,S/Partido,2010,4,4515.42,410.492727,766.16,11
936,S/Partido,2011,0,111700.00,8592.307692,12000.00,13
937,S/Partido,2011,1,78569.41,2182.483611,13134.48,36
938,S/Partido,2011,2,11105.08,793.220000,4800.00,14
939,S/Partido,2011,4,36536.87,689.374906,2111.06,53
940,S/Partido,2011,5,8374.64,598.188571,1346.69,14
941,S/Partido,2011,6,283.18,141.590000,158.69,2
942,S/Partido,2012,0,49500.00,9900.000000,11000.00,5
943,S/Partido,2012,1,18176.18,956.641053,5042.45,19
944,S/Partido,2012,2,1423.30,355.825000,584.40,4
945,S/Partido,2012,4,23854.54,581.818049,2503.00,41
946,S/Partido,2012,5,3002.17,500.361667,529.66,6
947,S/Partido,2012,6,158.69,158.690000,158.69,1

In [54]:
subquota_number_party_year["max_spent"] = subquota_number_party_year.groupby(["party","year"])['sum'].transform(max)
maxspentbytype_normalizedbycount = subquota_number_party_year[subquota_number_party_year["sum"] == subquota_number_party_year["max_spent"]]
maxspentbytype_normalizedbycount

,party,year,expense_type_id,sum,mean,max,count,max_spent
1,DEM,2008,1,823764.84,6590.118720,17417.36,125,823764.84
6,DEM,2009,1,759231.87,516.835854,14464.44,1469,759231.87
10,DEM,2010,0,733565.43,4672.391274,37300.00,157,733565.43
16,DEM,2011,1,312050.20,1560.251000,11091.80,200,312050.20
23,DEM,2012,1,381454.95,1825.143301,19140.00,209,381454.95
30,DEM,2013,1,293606.59,1779.433879,8800.00,165,293606.59
37,DEM,2014,1,309196.12,1680.413696,9296.16,184,309196.12
44,DEM,2015,1,431482.43,841.096355,10446.71,513,431482.43
51,DEM,2016,1,436352.11,745.901043,10693.80,585,436352.11
58,DEM,2017,1,322916.46,767.022470,11223.58,421,322916.46
65,PCdoB,2008,1,86059.47,7823.588182,13684.90,11,86059.47
70,PCdoB,2009,1,88822.06,976.066593,11712.35,91,88822.06
75,PCdoB,2010,1,90480.20,690.688550,6000.00,131,90480.20
80,PCdoB,2011,1,268893.58,572.114000,26400.00,470,268893.58
90,PCdoB,2012,5,274003.15,1030.087030,3909.14,266,274003.15
96,PCdoB,2013,5,345125.85,1113.309194,4500.00,310,345125.85
102,PCdoB,2014,5,258615.55,1082.073431,3014.12,239,258615.55
106,PCdoB,2015,3,199985.42,4877.693171,28362.00,41,199985.42
112,PCdoB,2016,3,139916.16,2976.939574,14800.00,47,139916.16
120,PCdoB,2017,5,89074.56,1187.660800,3954.02,75,89074.56
122,PDT,2008,1,293340.43,6821.870465,15151.89,43,293340.43
127,PDT,2009,1,305667.95,287.552164,11060.16,1063,305667.95
132,PDT,2010,1,344989.79,318.550129,16050.00,1083,344989.79
137,PDT,2011,1,355432.54,592.387567,13206.61,600,355432.54
143,PDT,2012,1,432953.95,810.775187,5880.00,534,432953.95
149,PDT,2013,1,537477.97,713.782165,9162.09,753,537477.97
155,PDT,2014,1,587550.32,944.614662,15900.00,622,587550.32
161,PDT,2015,1,368060.13,1688.349220,11821.57,218,368060.13
166,PDT,2016,0,231140.00,17780.000000,80000.00,13,231140.00
173,PDT,2017,1,243745.47,485.548745,8700.00,502,243745.47
...,...,...,...,...,...,...,...,...
788,PT,2013,5,1487894.73,886.707229,3004.12,1678,1487894.73
795,PT,2014,5,1493117.68,974.619896,3253.00,1532,1493117.68
802,PT,2015,5,1542295.02,952.033963,10142.64,1620,1542295.02
809,PT,2016,5,1273424.30,936.341397,7680.60,1360,1273424.30
816,PT,2017,5,1076335.55,1034.938029,4708.98,1040,1076335.55
819,PTB,2008,1,560294.09,7571.541757,41239.32,74,560294.09
824,PTB,2009,1,452751.10,617.668622,42400.00,733,452751.10
829,PTB,2010,1,444393.80,706.508426,24400.00,629,444393.80
834,PTB,2011,1,611385.26,836.368345,16450.00,731,611385.26
841,PTB,2012,1,736329.76,790.901998,20000.00,931,736329.76
850,PTB,2013,3,616930.88,3316.832688,32999.94,186,616930.88
854,PTB,2014,0,631521.59,10352.812951,150000.00,61,631521.59
866,PTB,2015,5,214189.19,1145.396738,4290.81,187,214189.19
868,PTB,2016,0,216526.29,4811.695333,18000.00,45,216526.29
878,PTB,2017,3,153426.58,4512.546471,10420.00,34,153426.58
883,PTC,2015,6,276821.80,25165.618182,28174.24,11,276821.80
885,PTC,2016,6,314471.01,26205.917500,28922.72,12,314471.01
887,PTC,2017,6,264624.12,33078.015000,38500.96,8,264624.12
889,PV,2008,1,32526.74,5421.123333,8958.91,6,32526.74
893,PV,2009,1,57473.89,1853.996452,11467.49,31,57473.89
896,PV,2010,1,19418.64,1078.813333,2400.00,18,19418.64
899,PV,2011,0,55600.00,1544.444444,3000.00,36,55600.00
910,PV,2012,5,98980.54,1178.339762,3352.57,84,98980.54
911,PV,2013,1,105583.98,1055.839800,5000.00,100,105583.98
916,PV,2014,1,105508.45,1623.206923,5000.00,65,105508.45
922,S/Partido,2008,1,115630.17,10511.833636,16737.02,11,115630.17
927,S/Partido,2009,1,122822.04,2729.378667,11385.68,45,122822.04
932,S/Partido,2010,1,137079.77,2636.149423,13864.62,52,137079.77
936,S/Partido,2011,0,111700.00,8592.307692,12000.00,13,111700.00
942,S/Partido,2012,0,49500.00,9900.000000,11000.00,5,49500.00

In [55]:
with open('./json_files/senate/sum_mean_max_year_maxspentbytype_normalizedbycount.json', 'w') as f: 
    f.write("[" + maxspentbytype_normalizedbycount.to_json(orient='records', lines=True) + "]")

In [56]:
subquota_number_party_year["mean_spent"] = subquota_number_party_year.groupby(["party","year"])['mean'].transform(max)
meanspentbytype_normalizedbycount = subquota_number_party_year[subquota_number_party_year["mean"] == subquota_number_party_year["mean_spent"]]
meanspentbytype_normalizedbycount

,party,year,expense_type_id,sum,mean,max,count,max_spent,mean_spent
0,DEM,2008,0,535136.68,8232.872000,32900.00,65,823764.84,8232.872000
5,DEM,2009,0,532134.58,3595.503919,66960.00,148,759231.87,3595.503919
10,DEM,2010,0,733565.43,4672.391274,37300.00,157,733565.43,4672.391274
18,DEM,2011,3,81830.60,2639.696774,15000.00,31,312050.20,2639.696774
25,DEM,2012,3,56201.00,3122.277778,10000.00,18,381454.95,3122.277778
32,DEM,2013,3,159290.47,3123.342549,10000.00,51,293606.59,3123.342549
39,DEM,2014,3,109648.49,3537.048065,12000.00,31,309196.12,3537.048065
46,DEM,2015,3,239184.81,11389.752857,216780.00,21,431482.43,11389.752857
53,DEM,2016,3,279305.60,18620.373333,256980.00,15,436352.11,18620.373333
63,DEM,2017,6,42880.30,2522.370588,4400.11,17,322916.46,2522.370588
65,PCdoB,2008,1,86059.47,7823.588182,13684.90,11,86059.47,7823.588182
72,PCdoB,2009,3,40630.00,2138.421053,5550.00,19,88822.06,2138.421053
77,PCdoB,2010,3,23451.00,3908.500000,5503.00,6,90480.20,3908.500000
82,PCdoB,2011,3,153870.08,2699.475088,20000.00,57,268893.58,2699.475088
88,PCdoB,2012,3,173475.36,6672.129231,22564.00,26,274003.15,6672.129231
94,PCdoB,2013,3,196180.78,3382.427241,14579.38,58,345125.85,3382.427241
100,PCdoB,2014,3,174659.41,3234.433519,20000.00,54,258615.55,3234.433519
106,PCdoB,2015,3,199985.42,4877.693171,28362.00,41,199985.42,4877.693171
109,PCdoB,2016,0,24950.00,4990.000000,17000.00,5,139916.16,4990.000000
118,PCdoB,2017,3,83576.44,3482.351667,11199.00,24,89074.56,3482.351667
124,PDT,2008,3,117223.00,7814.866667,27221.00,15,293340.43,7814.866667
129,PDT,2009,3,164774.85,3923.210714,12620.00,42,305667.95,3923.210714
134,PDT,2010,3,94448.00,2862.060606,20000.00,33,344989.79,2862.060606
136,PDT,2011,0,198045.62,3536.528929,30000.00,56,355432.54,3536.528929
145,PDT,2012,3,149047.66,10646.261429,35391.03,14,432953.95,10646.261429
148,PDT,2013,0,103700.00,6913.333333,9000.00,15,537477.97,6913.333333
157,PDT,2014,3,148366.88,5495.069630,46000.00,27,587550.32,5495.069630
160,PDT,2015,0,40000.00,20000.000000,20000.00,2,368060.13,20000.000000
166,PDT,2016,0,231140.00,17780.000000,80000.00,13,231140.00,17780.000000
172,PDT,2017,0,120739.02,3551.147647,10000.00,34,243745.47,3551.147647
...,...,...,...,...,...,...,...,...,...
786,PT,2013,3,209590.48,3613.628966,29865.00,58,1487894.73,3613.628966
793,PT,2014,3,264834.63,10593.385200,162400.00,25,1493117.68,10593.385200
797,PT,2015,0,534105.90,1900.732740,26000.00,281,1542295.02,1900.732740
807,PT,2016,3,233117.81,2331.178100,25000.00,100,1273424.30,2331.178100
811,PT,2017,0,226708.86,2267.088600,10000.00,100,1076335.55,2267.088600
818,PTB,2008,0,477060.66,8834.456667,32000.00,54,560294.09,8834.456667
823,PTB,2009,0,349004.73,5369.303538,12351.52,65,452751.10,5369.303538
828,PTB,2010,0,389448.44,5334.910137,56800.00,73,444393.80,5334.910137
839,PTB,2011,6,108328.34,10832.834000,15372.62,10,611385.26,10832.834000
846,PTB,2012,6,123700.96,11245.541818,15372.62,11,736329.76,11245.541818
853,PTB,2013,6,251458.55,14791.679412,20524.44,17,616930.88,14791.679412
860,PTB,2014,6,254921.04,21243.420000,23852.60,12,631521.59,21243.420000
864,PTB,2015,3,106438.09,5913.227222,16873.59,18,214189.19,5913.227222
868,PTB,2016,0,216526.29,4811.695333,18000.00,45,216526.29,4811.695333
878,PTB,2017,3,153426.58,4512.546471,10420.00,34,153426.58,4512.546471
883,PTC,2015,6,276821.80,25165.618182,28174.24,11,276821.80,25165.618182
885,PTC,2016,6,314471.01,26205.917500,28922.72,12,314471.01,26205.917500
887,PTC,2017,6,264624.12,33078.015000,38500.96,8,264624.12,33078.015000
889,PV,2008,1,32526.74,5421.123333,8958.91,6,32526.74,5421.123333
893,PV,2009,1,57473.89,1853.996452,11467.49,31,57473.89,1853.996452
896,PV,2010,1,19418.64,1078.813333,2400.00,18,19418.64,1078.813333
899,PV,2011,0,55600.00,1544.444444,3000.00,36,55600.00,1544.444444
910,PV,2012,5,98980.54,1178.339762,3352.57,84,98980.54,1178.339762
913,PV,2013,3,13405.00,1340.500000,3000.00,10,105583.98,1340.500000
918,PV,2014,3,5200.00,1733.333333,2700.00,3,105508.45,1733.333333
922,S/Partido,2008,1,115630.17,10511.833636,16737.02,11,115630.17,10511.833636
929,S/Partido,2009,3,49174.00,3073.375000,12790.50,16,122822.04,3073.375000
934,S/Partido,2010,3,31625.00,4517.857143,10000.00,7,137079.77,4517.857143
936,S/Partido,2011,0,111700.00,8592.307692,12000.00,13,111700.00,8592.307692
942,S/Partido,2012,0,49500.00,9900.000000,11000.00,5,49500.00,9900.000000

In [57]:
# with open('./json_files/senate/sum_mean_max_year_meanspentbytype_normalizedbycount.json', 'w') as f: 
#     f.write("[" + meanspentbytype_normalizedbycount.to_json(orient='records', lines=True) + "]")