In [1]:
import json

In [2]:
import pandas as pd

In [3]:
df_chamber = pd.read_csv("./data/Chamber/clean_deputies.xz",compression='xz',low_memory=False,index_col=0)
# df_chamber.drop(columns=['Unnamed: 0.1', 'Unnamed: 0.1.1'],inplace=True)
att = "total_net_value"

/usr/local/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [7]:
df_chamber

,Unnamed: 0.1,Unnamed: 0.1.1,year,reimbursement_value_total,total_net_value,reimbursement_numbers,congressperson_name,term,state,party,...,subquota_group_description,supplier,issue_date,document_value,remark_value,net_values,month,installment,batch_number,reimbursement_values
0,0,0,2009,0.0,130.00,2888,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,MELHOR POSTO DE COMBUSTÍVEIS LTDA,2009-04-06 00:00:00,130.00,0.00,130.00,4,0,388810,0.0
1,1,1,2009,0.0,135.00,2888,DILCEU SPERAFICO,2015.0,PR,PP,...,NaN,MELONGENA PARTICIPAÇÕES LTDA,2009-04-07 00:00:00,141.75,6.75,135.00,4,0,388810,0.0
2,2,2,2009,0.0,1000.00,2893,DILCEU SPERAFICO,2015.0,PR,PP,...,NaN,ARY ANTONIO MOSCHETTA,2009-03-12 00:00:00,1000.00,0.00,1000.00,3,0,390159,0.0
3,3,3,2009,0.0,170.00,2894,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,CONVER COMBUSTÍVEIS AUTOMÓVEIS LTDA,2009-04-14 00:00:00,170.00,0.00,170.00,4,0,390158,0.0
4,4,4,2009,0.0,100.11,2894,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,GRANDO E GROFF LTDA,2009-04-09 00:00:00,100.11,0.00,100.11,4,0,390158,0.0
5,5,5,2009,0.0,11.40,2894,DILCEU SPERAFICO,2015.0,PR,PP,...,NaN,WERMUTH SERVIÇOS POSTAIS FRANQUEADOS LTDA,2009-04-04 00:00:00,11.40,0.00,11.40,4,0,390158,0.0
6,6,6,2009,0.0,40.70,2897,DILCEU SPERAFICO,2015.0,PR,PP,...,NaN,BARBATO E NOGUEIRA LTDA,2009-04-08 00:00:00,40.70,0.00,40.70,4,0,391679,0.0
7,7,7,2009,0.0,93.40,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-06 00:00:00,93.40,0.00,93.40,3,0,391417,0.0
8,8,8,2009,0.0,116.53,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-20 00:00:00,116.53,0.00,116.53,3,0,391417,0.0
9,9,9,2009,0.0,113.56,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-26 00:00:00,113.56,0.00,113.56,3,0,391417,0.0
10,10,10,2009,0.0,100.00,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-03 00:00:00,100.00,0.00,100.00,3,0,391417,0.0
11,11,11,2009,0.0,104.50,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-06 00:00:00,104.50,0.00,104.50,3,0,391417,0.0
12,12,12,2009,0.0,126.13,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-06 00:00:00,126.13,0.00,126.13,3,0,391417,0.0
13,13,13,2009,0.0,117.01,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-12 00:00:00,117.01,0.00,117.01,3,0,391417,0.0
14,14,14,2009,0.0,95.00,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-14 00:00:00,95.00,0.00,95.00,3,0,391417,0.0
15,15,15,2009,0.0,85.00,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-16 00:00:00,85.00,0.00,85.00,3,0,391417,0.0
16,16,16,2009,0.0,122.00,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-19 00:00:00,122.00,0.00,122.00,3,0,391417,0.0
17,17,17,2009,0.0,123.74,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-24 00:00:00,123.74,0.00,123.74,3,0,391418,0.0
18,18,18,2009,0.0,121.01,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-31 00:00:00,121.01,0.00,121.01,3,0,391418,0.0
19,19,19,2009,0.0,49.21,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-05 00:00:00,49.21,0.00,49.21,3,0,391418,0.0
20,20,20,2009,0.0,67.59,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-05 00:00:00,67.59,0.00,67.59,3,0,391418,0.0
21,21,21,2009,0.0,37.05,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-09 00:00:00,37.05,0.00,37.05,3,0,391418,0.0
22,22,22,2009,0.0,99.69,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-11 00:00:00,99.69,0.00,99.69,3,0,391418,0.0
23,23,23,2009,0.0,49.73,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-12 00:00:00,49.73,0.00,49.73,3,0,391418,0.0
24,24,24,2009,0.0,120.01,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-18 00:00:00,120.01,0.00,120.01,3,0,391418,0.0
25,25,25,2009,0.0,165.45,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-18 00:00:00,165.45,0.00,165.45,3,0,391418,0.0
26,26,26,2009,0.0,32.02,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-18 00:00:00,32.02,0.00,32.02,3,0,391418,0.0
27,27,27,2009,0.0,41.94,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-19 00:00:00,41.94,0.00,41.94,3,0,391419,0.0
28,28,28,2009,0.0,54.81,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-24 00:00:00,54.81,0.00,54.81,3,0,391419,0.0
29,29,29,2009,0.0,200.00,2897,DILCEU SPERAFICO,2015.0,PR,PP,...,NaN,GREZZANA E FREIRE LTDA,2009-04-15 00:00:00,200.00,0.00,200.00,4,0,391680,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713619,1713619,1713619,2017,0.0,51.00,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,TATIANA G DE CORDOVA BASSO & CIA LTDA,2017-09-21 00:00:00,51.00,0.00,51.00,9,0,1426522,0.0
1713620,1713620,1713620,2017,0.0,28.90,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,RESTAURANTE E LOJA 44 LTDA,2017-09-23 00:00:00,28.90,0.00,28.90,9,0,1426522,0.0
1713621,1713621,1713621,2017,0.0,110.56,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,DITRENTO POSTOS E LOGISTICA LTDA,2017-09-23 00:00:00,110.56,0.00,110.56,9,0,1426523,0.0
1713622,1713622,1713622,2017,0.0,20.00,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,BRASAL COMBUSTÍVEIS LTDA,2017-09-26 00:00:00,20.00,0.00,20.00,9,0,1426523,0.0
1713623,1713623,1713623,2017,0.0,27.55,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,SERVICO NACIONAL DE APRENDIZAGEM COMERCIAL - S...,2017-09-19 00:00:00,27.55,0.00,27.55,9,0,1426522,0.0
1713624,1713624,1713624,2017,0.0,15.30,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,SERVICO NACIONAL DE APRENDIZAGEM COMERCIAL - S...,2017-09-20 00:00:00,15.30,0.00,15.30,9,0,1426522,0.0
1713625,1713625,1713625,2017,0.0,2898.00,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,ESTILO GRAFICA EIRELI ME,2017-08-29 00:00:00,2898.00,0.00,2898.00,8,0,1426519,0.0
1713626,1713626,1713626,2017,0.0,311.50,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,WM COMERCIO DE ARTIGOS DE PAPELARIA LTDA-ME,2017-09-21 00:00:00,311.50,0.00,311.50,9,0,1426521,0.0
1713627,1713627,1713627,2017,0.0,277.20,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,HOTEL JARDIM EUROPA LTDA,2017-09-23 00:00:00,277.20,0.00,277.20,9,0,1426520,0.0
1713628,1713628,1713628,2017,0.0,68.97,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,FRED RESTAURANTE LTDA.,2017-09-25 00:00:00,68.97,0.00,68.97,9,0,1426522,0.0
1713629,1713629,1713629,2017,0.0,36.40,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,SERVICO NACIONAL DE APRENDIZAGEM COMERCIAL SENAC,2017-09-26 00:00:00,36.40,0.00,36.40,9,0,1426522,0.0
1713630,1713630,1713630,2017,0.0,233.70,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,OI S.A. - EM RECUPERACAO JUDICIAL,2017-08-26 00:00:00,233.70,0.00,233.70,9,0,1426523,0.0
1713631,1713631,1713631,2017,0.0,400.00,5984,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,RÁDIO MISSIONEIRA SETE POVOS LTDA,2017-09-29 00:00:00,400.00,0.00,400.00,9,0,1430307,0.0
1713632,1713632,1713632,2017,0.0,7200.00,5984,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,ORNELAS & ORNELAS CONSULTORIA E ASSESSORIA LTDA.,2017-10-02 00:00:00,7200.00,0.00,7200.00,9,0,1430310,0.0
1713633,1713633,1713633,2017,0.0,5874.00,5984,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,EDGAR LISBOA - ME,2017-10-02 00:00:00,5874.00,0.00,5874.00,10,0,1430310,0.0
1713634,1713634,1713634,2017,0.0,1227.28,5984,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,TELEFONICA BRASIL S.A.,2017-09-07 00:00:00,1251.24,23.96,1227.28,9,0,1430308,0.0
1713635,1713635,1713635,2017,0.0,180.35,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,OI S.A. - EM RECUPERACAO JUDICIAL,2017-09-15 00:00:00,180.35,0.00,180.35,9,0,1431767,0.0
1713636,1713636,1713636,2017,0.0,20.00,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,CASCOL COMBUSTIVEIS PARA VEICULOS LTDA,2017-10-06 00:00:00,20.00,0.00,20.00,10,0,1431770,0.0
1713637,1713637,1713637,2017,0.0,61.80,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,BRASAL COMBUSTÍVEIS LTDA,2017-10-06 00:00:00,61.80,0.00,61.80,10,0,1431770,0.0
1713638,1713638,1713638,2017,0.0,222.85,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-11 00:00:00,222.85,0.00,222.85,9,0,1431767,0.0
1713639,1713639,1713639,2017,0.0,146.70,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-11 00:00:00,146.70,0.00,146.70,9,0,1431767,0.0
1713640,1713640,1713640,2017,0.0,272.86,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-13 00:00:00,272.86,0.00,272.86,9,0,1431767,0.0
1713641,1713641,1713641,2017,0.0,287.90,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-17 00:00:00,287.90,0.00,287.90,9,0,1431767,0.0
1713642,1713642,1713642,2017,0.0,236.91,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-20 00:00:00,236.91,0.00,236.91,9,0,1431767,0.0
1713643,1713643,1713643,2017,0.0,175.60,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-21 00:00:00,175.60,0.00,175.60,9,0,1431767,0.0
1713644,1713644,1713644,2017,0.0,275.12,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-22 00:00:00,275.12,0.00,275.12,9,0,1431767,0.0
1713645,1713645,1713645,2017,0.0,117.60,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-23 00:00:00,117.60,0.00,117.60,9,0,1431767,0.0
1713646,1713646,1713646,2017,0.0,208.18,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-25 00:00:00,208.18,0.00,208.18,9,0,1431767,0.0
1713647,1713647,1713647,2017,0.0,86.24,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-25 00:00:00,86.24,0.00,86.24,9,0,1431768,0.0
1713648,1713648,1713648,2017,0.0,139.52,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-27 00:00:00,139.52,0.00,139.52,9,0,1431768,0.0

In [5]:
pd.unique(df_chamber["year"])

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017])

**Pegando soma, média e máximo por ano:**

In [8]:
sum_mean_max_year = df_chamber.groupby("year")[att].agg(['sum', 'mean', 'max'])
sum_mean_max_year

               sum        mean       max
year
2009  9.078889e+07  528.020416  122850.0
2010  1.203424e+08  589.050156  141000.0
2011  1.237837e+08  580.111752  197000.0
2012  1.227342e+08  622.955916  215000.0
2013  1.309542e+08  674.475887  197370.0
2014  1.410440e+08  819.337484  208320.0
2015  1.568238e+08  751.327524  189600.0
2016  1.659139e+08  825.351845  184500.0
2017  1.231230e+08  815.610901   79900.0

In [5]:
with open('sum_mean_max_year.json', 'w') as f: 
    f.write(sum_mean_max_year.reset_index().to_json(orient='records', lines=True))

**Vamos também descobrir soma, média e máximo totais:**

In [9]:
df_chamber[att].agg(['sum', 'mean', 'max'])

sum     1.175508e+09
mean    6.859678e+02
max     2.150000e+05
Name: total_net_value, dtype: float64

**Vamos pegar a soma dos gastos por deputado por ano**

In [10]:
df_cp_year = df_chamber.groupby(["year", "congressperson_name"])[att].agg(['sum', 'count', 'max']).reset_index()
df_cp_year
# DARLEY

      year congressperson_name        sum  count      max
0     2009  ABELARDO CAMARINHA  178115.05     34  10000.0
1     2009     ABELARDO LUPION  217827.00    688  10800.0
2     2009   ACÉLIO CASAGRANDE  181243.42    530   8000.0
3     2009       ADEMIR CAMILO  191777.41    300   6720.0
4     2009         ADÃO PRETTO   11994.60      1  11994.6
5     2009      AELTON FREITAS  194268.45    585  12000.0
6     2009     AFFONSO CAMARGO  139370.75    441   8300.0
7     2009         AFONSO HAMM  170882.12    963   8278.0
8     2009       AIRTON ROVEDA  195256.70    157  10080.0
9     2009       ALBANO FRANCO  144519.71     94   5000.0
10    2009       ALBERTO SILVA  109251.71     30  28200.0
11    2009      ALBÉRICO FILHO  100003.69    133   9860.0
12    2009       ALCENI GUERRA  131010.78    633  18000.0
13    2009         ALDO REBELO  220003.56    346  40000.0
14    2009       ALEX CANZIANI  173954.73    202  23320.0
15    2009    ALEXANDRE SANTOS  121206.49     54  12000.0
16    2009  ALEXANDRE SILVEIRA  200007.06    242  29000.0
17    2009      ALFREDO KAEFER  121528.47    536   5000.0
18    2009      ALICE PORTUGAL  154167.87    242   8500.0
19    2009        ALINE CORRÊA  172057.35    119  15350.0
20    2009          ANA ARRAES  138278.36    509   3000.0
21    2009        ANDRE VARGAS  185327.35    489   6970.0
22    2009        ANDREIA ZITO  143440.72    312   7850.0
23    2009      ANDRÉ DE PAULA  243826.94    141  10100.0
24    2009      ANDRÉ ZACHAROW  213095.20    475  16000.0
25    2009         ANGELA AMIN  148722.22    569   2870.0
26    2009      ANGELA PORTELA  209549.77    118  15000.0
27    2009      ANGELO VANHONI  158615.49    123  15000.0
28    2009    ANSELMO DE JESUS  259531.31    449  19956.4
29    2009     ANTONIO BULHÕES  211585.21    559   8100.0
...    ...                 ...        ...    ...      ...
5382  2017   VICENTINHO JÚNIOR  336361.08    196  30000.0
5383  2017       VICTOR MENDES  379115.42    123  25235.0
5384  2017   VINICIUS CARVALHO  185643.66    433  12000.0
5385  2017     VINICIUS GURGEL  323400.00     52  30000.0
5386  2017         VITOR LIPPI  221450.56    743   6415.0
5387  2017         VITOR VALIM  165714.14     92   5000.0
5388  2017        WADIH DAMOUS  157170.48    137   8000.0
5389  2017    WALDENOR PEREIRA  238733.53    264   9100.0
5390  2017     WALDIR MARANHÃO   62000.00      6  15000.0
5391  2017        WALNEY ROCHA  257661.71    392  15000.0
5392  2017        WALTER ALVES  296261.21    127  12000.0
5393  2017       WALTER IHOSHI  247103.10    205   8000.0
5394  2017       WELITON PRADO  251904.08    174  19250.0
5395  2017  WELLINGTON ROBERTO  278594.08    171  25000.0
5396  2017      WEVERTON ROCHA  285939.09    280  18240.0
5397  2017      WILSON BESERRA  189177.11    492  14000.0
5398  2017        WILSON FILHO  241633.89    237   9435.0
5399  2017      WLADIMIR COSTA  168447.53     31  19800.0
5400  2017      WOLNEY QUEIROZ  220831.40    205  18000.0
5401  2017        YEDA CRUSIUS  106931.77    138   5000.0
5402  2017     ZECA CAVALCANTI  359808.87    193  27990.0
5403  2017         ZECA DIRCEU  258218.49   1231   9000.0
5404  2017          ZECA DO PT  315393.18    231  12600.0
5405  2017        ZENAIDE MAIA  361026.27    239  16800.0
5406  2017    ZÉ AUGUSTO NALIN   86674.60     72   7400.0
5407  2017           ZÉ CARLOS  232559.06    459   9500.0
5408  2017          ZÉ GERALDO  234311.12     24  45000.0
5409  2017            ZÉ SILVA  246736.43    763  30000.0
5410  2017          ÁTILA LINS  290238.05     42  27300.0
5411  2017          ÁTILA LIRA  233850.76    101   9800.0

[5412 rows x 5 columns]

In [11]:
with open('./json_files/chamber/sum_mean_max_year_congressperson_each.json', 'w',encoding="utf8") as f:
    f.write(df_cp_year.to_json(orient='records', lines=True) + "\n")

**Agora vamos descobrir quem são os responsáveis pelo maior gasto em cada ano:**

In [ ]:
# df_cp_year = df_chamber.groupby(["congressperson_name", "year"])[att].agg(['sum', 'mean', 'max']).reset_index()

In [8]:
sum_years = df_cp_year.groupby("year")['sum'].max()

In [9]:
sum_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['sum'] == sum_years[2009])]
sum_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['sum'] == sum_years[2010])]
sum_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['sum'] == sum_years[2011])]
sum_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['sum'] == sum_years[2012])]
sum_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['sum'] == sum_years[2013])]
sum_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['sum'] == sum_years[2014])]
sum_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['sum'] == sum_years[2015])]
sum_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['sum'] == sum_years[2016])]
sum_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['sum'] == sum_years[2017])]

In [10]:
sum_2009

     year congressperson_name        sum      mean      max
520  2009  WELLINGTON ROBERTO  321864.66  12379.41  71400.0

In [ ]:
sum_2010

In [ ]:
sum_2011

In [ ]:
sum_2012

In [ ]:
sum_2013

In [ ]:
sum_2014

In [ ]:
sum_2015

In [ ]:
sum_2016

In [ ]:
sum_2017

In [ ]:
# with open('sum_mean_max_year_congressperson_maxtotal.json', 'w',encoding="utf8") as f:
#     for df in [sum_2009,sum_2010,sum_2011,sum_2012,sum_2013,sum_2014,sum_2015,sum_2016,sum_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

**Vamos descobrir agora quem são os reponsáveis pelos maiores gastos na média em cada ano:**

In [ ]:
mean_max_year = df_cp_year.groupby("year")['mean'].max()

In [ ]:
mean_max_year

In [ ]:
mean_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['mean'] == mean_max_year[2009])]
mean_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['mean'] == mean_max_year[2010])]
mean_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['mean'] == mean_max_year[2011])]
mean_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['mean'] == mean_max_year[2012])]
mean_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['mean'] == mean_max_year[2013])]
mean_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['mean'] == mean_max_year[2014])]
mean_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['mean'] == mean_max_year[2015])]
mean_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['mean'] == mean_max_year[2016])]
mean_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['mean'] == mean_max_year[2017])]

In [ ]:
mean_2009

In [ ]:
mean_2010

In [ ]:
mean_2011

In [ ]:
mean_2012

In [ ]:
mean_2013

In [ ]:
mean_2014

In [ ]:
mean_2015

In [ ]:
mean_2016

In [ ]:
# with open('spents_categories.json', 'w',encoding="utf8") as f:
#     catogories = {str(subquota_number[i]):subquota_description[i] for i in range(len(subquota_number))}
#     f.write(json.dumps(catmean_2017))

In [ ]:
with open('sum_mean_max_year_congressperson_maxmean.json', 'w',encoding="utf8") as f:
    for df in [mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

**Agora vejamos quem são deputados com menores gastos médios:**

In [ ]:
mean_min_year = df_cp_year.groupby("year")['mean'].min()

In [ ]:
mean_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['mean'] == mean_min_year[2009])]
mean_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['mean'] == mean_min_year[2010])]
mean_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['mean'] == mean_min_year[2011])]
mean_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['mean'] == mean_min_year[2012])]
mean_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['mean'] == mean_min_year[2013])]
mean_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['mean'] == mean_min_year[2014])]
mean_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['mean'] == mean_min_year[2015])]
mean_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['mean'] == mean_min_year[2016])]
mean_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['mean'] == mean_min_year[2017])]

In [ ]:
# with open('sum_mean_max_year_congressperson_minmean.json', 'w',encoding="utf8") as f:
#     for df in [mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [ ]:
mean_2009

In [ ]:
mean_2010

In [ ]:
mean_2011

In [ ]:
mean_2012

In [ ]:
mean_2013

In [ ]:
mean_2014

In [ ]:
mean_2015

In [ ]:
mean_2016

In [ ]:
mean_2017

**Agora analizemos por partido**

In [ ]:
list(df_chamber)

In [11]:
count_by_party_year = df_chamber.groupby(["year", "party", "congressperson_name"]).size().groupby(["year", "party"]).agg(["count"])
count_by_party_year.reset_index()

     year    party  count
0    2009   AVANTE      2
1    2009      DEM     40
2    2009    PCdoB     12
3    2009      PDT     21
4    2009      PEN      1
5    2009      PHS      3
6    2009     PMDB     91
7    2009      PMN      2
8    2009     PODE      2
9    2009       PP     42
10   2009      PPS     10
11   2009       PR     41
12   2009      PRB     16
13   2009     PROS      5
14   2009      PSB     26
15   2009      PSC     14
16   2009      PSD     25
17   2009     PSDB     53
18   2009      PSL      1
19   2009     PSOL      6
20   2009       PT     74
21   2009      PTB     24
22   2009      PTC      3
23   2009       PV     13
24   2009  S.PART.      2
25   2009       SD      8
26   2010   AVANTE      2
27   2010      DEM     44
28   2010    PCdoB     12
29   2010      PDT     19
..    ...      ...    ...
215  2016       PT     61
216  2016      PTB     19
217  2016       PV      7
218  2016     REDE      3
219  2016       SD     14
220  2017   AVANTE      6
221  2017      DEM     29
222  2017    PCdoB     13
223  2017      PDT     22
224  2017      PEN      3
225  2017      PHS      7
226  2017     PMDB     64
227  2017     PODE     19
228  2017       PP     46
229  2017      PPS     10
230  2017       PR     37
231  2017      PRB     24
232  2017     PROS      6
233  2017      PRP      1
234  2017      PSB     37
235  2017      PSC     10
236  2017      PSD     40
237  2017     PSDB     49
238  2017      PSL      3
239  2017     PSOL      6
240  2017       PT     58
241  2017      PTB     16
242  2017       PV      6
243  2017     REDE      3
244  2017       SD     14

[245 rows x 3 columns]

In [12]:
count_by_party_year = count_by_party_year.reset_index()

In [13]:
def replace_sum(row):
    c = count_by_party_year[(count_by_party_year.year== row.year) & (row.party==count_by_party_year.party)]
#     print()
#     c = count_by_party_year[(count_by_party_year.year== row.year) & (row.party==count_by_party_year.party)]["count"]
#     print(row["sum"]/c)
    return row["sum"]/c["count"].values[0]

In [14]:
df_party_year = df_chamber.groupby([ "year", "party"])[att].agg(['sum']).reset_index()
# Comment lines bellow if dont want to consider number of politicians in each party
df_party_year['mean'] = df_party_year.apply(replace_sum,axis=1)
df_party_year["n_congressman"] = df_party_year.apply(lambda row: count_by_party_year[(count_by_party_year.year== row.year) & (row.party==count_by_party_year.party)]["count"].values[0],axis=1)
# df_party_year['sum']/df_party_year["count"]
# df_party_year['mean'] = df_party_year['mean']/df_party_year["count"]
# politicians_by_party
#DARLEY

In [ ]:
df_party_year

In [15]:
with open('sum_mean_party_year.json', 'w',encoding="utf8") as f:
    f.write(df_party_year.to_json(orient='records', lines=True) + "\n")

In [ ]:
df_party_year = df_party_year[["year","party","sum","mean"]]

**Vejamos qual partido teve maior gasto em cada ano:**

In [ ]:
sum_years = df_party_year.groupby("year")['sum'].max()
sum_years

In [ ]:
sum_party_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['sum'] == sum_years[2009])]
sum_party_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['sum'] == sum_years[2010])]
sum_party_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['sum'] == sum_years[2011])]
sum_party_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['sum'] == sum_years[2012])]
sum_party_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['sum'] == sum_years[2013])]
sum_party_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['sum'] == sum_years[2014])]
sum_party_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['sum'] == sum_years[2015])]
sum_party_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['sum'] == sum_years[2016])]
sum_party_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['sum'] == sum_years[2017])]

In [ ]:
# with open('sum_mean_max_year_party_maxtotal.json', 'w',encoding="utf8") as f:
#     for df in [sum_party_2009,sum_party_2010,sum_party_2011,sum_party_2012,sum_party_2013,sum_party_2014,sum_party_2015,sum_party_2016,sum_party_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [ ]:
sum_party_2009

In [ ]:
sum_party_2010

In [ ]:
sum_party_2011

In [ ]:
sum_party_2012

In [ ]:
sum_party_2013

In [ ]:
sum_party_2014

In [ ]:
sum_party_2015

In [ ]:
sum_party_2016

In [ ]:
sum_party_2017

**Vamos descobrir agora quem são os partidos reponsáveis pelos maiores gastos na média em cada ano:**

In [ ]:
mean_max_year = df_party_year.groupby("year")['mean'].max()

In [ ]:
mean_max_year

In [ ]:
mean_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['mean'] == mean_max_year[2009])]
mean_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['mean'] == mean_max_year[2010])]
mean_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['mean'] == mean_max_year[2011])]
mean_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['mean'] == mean_max_year[2012])]
mean_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['mean'] == mean_max_year[2013])]
mean_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['mean'] == mean_max_year[2014])]
mean_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['mean'] == mean_max_year[2015])]
mean_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['mean'] == mean_max_year[2016])]
mean_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['mean'] == mean_max_year[2017])]

In [ ]:
# with open('sum_mean_max_year_party_maxmean.json', 'w',encoding="utf8") as f:
#     for df in [mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [ ]:
mean_2009

In [ ]:
mean_2010

In [ ]:
mean_2011

In [ ]:
mean_2012

In [ ]:
mean_2013

In [ ]:
mean_2014

In [ ]:
mean_2015

In [ ]:
mean_2016

In [ ]:
mean_2017

**Agora vejamos quem são os partidos com menores gastos médios:**

In [ ]:
mean_min_year = df_party_year.groupby("year")['mean'].min()

In [ ]:
mean_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['mean'] == mean_min_year[2009])]
mean_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['mean'] == mean_min_year[2010])]
mean_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['mean'] == mean_min_year[2011])]
mean_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['mean'] == mean_min_year[2012])]
mean_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['mean'] == mean_min_year[2013])]
mean_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['mean'] == mean_min_year[2014])]
mean_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['mean'] == mean_min_year[2015])]
mean_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['mean'] == mean_min_year[2016])]
mean_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['mean'] == mean_min_year[2017])]

In [ ]:
with open('sum_mean_max_year_party_minmean.json', 'w',encoding="utf8") as f:
    for df in [mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [ ]:
mean_2009

In [ ]:
mean_2010

In [ ]:
mean_2011

In [ ]:
mean_2012

In [ ]:
mean_2013

In [ ]:
mean_2014

In [ ]:
mean_2015

In [ ]:
mean_2016

In [ ]:
mean_2017

In [ ]:
df_chamber[df_chamber["subquota_number"] == 119].head()["subquota_description"]

##### Analisando Por tipo de Gasto

In [ ]:
df_chamber.groupby(["subquota_number","year"])[att].agg(['sum', 'mean', 'max'])

In [ ]:
df_chamber.groupby(["year","subquota_number"])[att].agg(['sum', 'mean', 'max'])

In [ ]:
df_chamber.iloc[0]

In [ ]:
pd.unique(df_chamber["subquota_group_id"])

In [ ]:
pd.unique(df_chamber["subquota_group_description"])

In [16]:
subquota_description = pd.unique(df_chamber["subquota_description"])
subquota_description

array(['Fuels and lubricants', 'Locomotion, meal and lodging',
       'Maintenance of office supporting parliamentary activity',
       'Software purchase or renting; Postal services; Subscriptions',
       'Publicity of parliamentary activity',
       'Purchase of office supplies',
       'Security service provided by specialized company',
       'Flight tickets', 'Congressperson meal', 'Telecommunication',
       'Lodging, except for congressperson from Distrito Federal',
       'Automotive vehicle renting or watercraft charter',
       'Postal services', 'Consultancy, research and technical work',
       'Publication subscriptions', 'Taxi, toll and parking',
       'Automotive vehicle renting or charter',
       'Terrestrial, maritime and fluvial tickets',
       'Aircraft renting or charter of aircraft',
       'Watercraft renting or charter',
       'Participation in course, talk or similar event'], dtype=object)

In [17]:
subquota_number = pd.unique(df_chamber["subquota_number"])
subquota_number

array([  3,   2,   1,   7,   5,   6,   8,   9,  13,  10,  14,  15,  11,
         4,  12, 122, 120, 123, 119, 121, 137])

In [18]:
with open('spents_categories.json', 'w',encoding="utf8") as f:
    catogories = {str(subquota_number[i]):subquota_description[i] for i in range(len(subquota_number))}
    f.write(json.dumps(catogories))

In [19]:
subquota_number_year = df_chamber.groupby(["year", "subquota_number"])[att].agg(['sum', 'mean', 'max',"count"])
subquota_number_year

                               sum          mean        max  count
year subquota_number
2009 1                1.158905e+07    626.029062   11970.00  18512
     2                5.410240e+06    342.030590   28200.00  15818
     3                1.392043e+07    194.887594    4500.00  71428
     4                1.066000e+07   4385.025512   61000.00   2431
     5                2.268215e+07   3514.977513  122850.00   6453
     6                5.456408e+05    340.812511   12089.00   1601
     7                9.493011e+05    360.402836   20693.00   2634
     8                7.123733e+05   1050.698024    5111.28    678
     9                5.096831e+06   4019.583107   58000.00   1268
     10               7.993239e+06    484.291990   15996.50  16505
     11               6.762420e+05    385.982877   36136.80   1752
     12               9.078687e+04    280.206389    3000.00    324
     13               8.249090e+05     65.422238    5852.00  12609
     14               9.373111e+05    252.917180    6650.00   3706
     15               8.700384e+06    536.299314   23048.20  16223
2010 1                1.567201e+07    707.093054   25454.50  22164
     3                1.652159e+07    215.590855    4500.00  76634
     4                1.562511e+07   5673.604219   60000.00   2754
     5                2.105567e+07   5239.031135  141000.00   4019
     8                1.191138e+06   1304.641950    4500.00    913
     9                9.105609e+06   4282.976933   65040.40   2126
     10               1.602309e+07    532.240289   13968.10  30105
     11               1.005495e+06    272.935643   32094.30   3684
     12               2.240826e+05    430.928058   20000.00    520
     13               1.456024e+06     66.888268    2068.00  21768
     14               1.921964e+06    291.648486    8050.00   6590
     15               2.054058e+07    622.027127   57333.00  33022
2011 1                1.621037e+07    751.279945   26940.00  21577
     3                1.658279e+07    213.599348    4500.00  77635
     4                1.550052e+07   4920.801029   72000.00   3150
...                            ...           ...        ...    ...
2016 8                1.739743e+06   1823.629591    8700.00    954
     9                2.419883e+06    996.246422   16137.20   2429
     10               7.897425e+06    447.598347    7109.57  17644
     11               6.798162e+05    245.598335   69610.30   2768
     12               4.054618e+05    365.610271    4000.00   1109
     13               1.739860e+06     66.338508    5142.25  26227
     14               1.922048e+06    323.304905    5024.00   5945
     119              3.400546e+06  10120.673929   39600.01    336
     120              2.716932e+07   4287.410169   17000.00   6337
     121              2.799443e+04    903.046129    6000.00     31
     122              8.803534e+05     33.399856    2413.85  26358
     123              9.460987e+04    103.173250    1833.66    917
     137              2.096184e+05   5516.272895    7697.16     38
2017 1                1.784921e+07   1000.348120   14823.80  17843
     3                1.422304e+07    259.662914    6000.00  54775
     4                1.476726e+07   7499.879787   60000.00   1969
     5                4.050660e+07   4277.812098   79900.00   9469
     8                1.226639e+06   1767.491859    8700.00    694
     9                1.933151e+06   1084.820943    9426.23   1782
     10               5.212827e+06    457.908178    6106.48  11384
     11               3.570482e+05    184.235372    8130.85   1938
     12               3.346988e+05    423.133780    5067.30    791
     13               1.075599e+06     65.685465    5155.15  16375
     14               1.476400e+06    278.723717    6903.75   5297
     119              2.214901e+06  10206.919171   39000.00    217
     120              2.087525e+07   4369.949031   12713.00   4777
     121              8.738080e+04   3799.165217    7000.00     23
     122              7.889730e+05     35.141999    2700.00  22451
     123              1.007248e+05     87.586800    2066.99   1150
     137              9.328715e+04   4055.963043    7697.16     23

[136 rows x 4 columns]

In [20]:
with open('sum_mean_max_year_spents_type_total.json', 'w') as f: 
    f.write(subquota_number_year.reset_index().to_json(orient='records', lines=True))

In [ ]:
subquota_number_year.reset_index(inplace=True)
subquota_number_year['sum'] = subquota_number_year['sum']/subquota_number_year["count"]
subquota_number_year['mean'] = subquota_number_year['mean']/subquota_number_year["count"]
subquota_number_year

In [ ]:
# with open('sum_mean_max_year_spents_type_total_normalizedbycount.json', 'w') as f: 
#     f.write(subquota_number_year.reset_index().to_json(orient='records', lines=True))

In [21]:
sum_subquota_number_year = subquota_number_year.groupby(["year"])['sum'].max()
sum_subquota_number_year

year
2009    22682149.89
2010    21055666.13
2011    29461975.88
2012    29834933.63
2013    39138875.78
2014    47724277.80
2015    49832286.19
2016    50495513.76
2017    40506602.76
Name: sum, dtype: float64

In [ ]:
max_expenses_2009 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2009])]
max_expenses_2010 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2010])]
max_expenses_2011 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2011])]
max_expenses_2012 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2012])]
max_expenses_2013 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2013])]
max_expenses_2014 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2014])]
max_expenses_2015 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2015])]
max_expenses_2016 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2016])]
max_expenses_2017 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2017])]

In [ ]:
# with open('max_expenses_type_year_sum_normalizedbycount.json', 'w',encoding="utf8") as f:
#     for df in [max_expenses_2009,max_expenses_2010,max_expenses_2011,max_expenses_2012,max_expenses_2013,max_expenses_2014,max_expenses_2015,max_expenses_2016,max_expenses_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [ ]:
max_expenses_2009

In [ ]:
mean_subquota_number_year = subquota_number_year.groupby(["year"])['mean'].max()
mean_subquota_number_year

In [ ]:
mean_expenses_2009 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2009])]
mean_expenses_2010 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2010])]
mean_expenses_2011 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2011])]
mean_expenses_2012 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2012])]
mean_expenses_2013 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2013])]
mean_expenses_2014 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2014])]
mean_expenses_2015 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2015])]
mean_expenses_2016 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2016])]
mean_expenses_2017 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2017])]

In [ ]:
mean_expenses_2009

In [ ]:
# with open('max_expenses_type_year_mean_normalizedbycount.json', 'w',encoding="utf8") as f:
#     for df in [mean_expenses_2009,mean_expenses_2010,mean_expenses_2011,mean_expenses_2012,mean_expenses_2013,mean_expenses_2014,mean_expenses_2015,mean_expenses_2016,mean_expenses_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [ ]:
subquota_number_party_year = df_chamber.groupby(["party", "year", "subquota_number"])[att].agg(['sum', 'mean', 'max', 'count'])
subquota_number_party_year

In [ ]:
subquota_number_party_year.reset_index(inplace=True)
# subquota_number_party_year['sum'] = subquota_number_party_year['sum']/subquota_number_party_year["count"]
# subquota_number_party_year['mean'] = subquota_number_party_year['mean']/subquota_number_party_year["count"]
subquota_number_party_year

In [ ]:
# subquota_number_party_year["max_spent"] = subquota_number_party_year.groupby(["party","year"])['sum'].transform(max)
# maxspentbytype_normalizedbycount = subquota_number_party_year[subquota_number_party_year["sum"] == subquota_number_party_year["max_spent"]]
# maxspentbytype_normalizedbycount

In [1]:
maxspentbytype_normalizedbycount

NameError: name 'maxspentbytype_normalizedbycount' is not defined

In [ ]:
with open('sum_mean_max_year_maxspentbytype_normalizedbycount.json', 'w') as f: 
    f.write(maxspentbytype_normalizedbycount.to_json(orient='records', lines=True))

In [ ]:
# subquota_number_party_year["mean_spent"] = subquota_number_party_year.groupby(["party","year"])['mean'].transform(max)
# meanspentbytype_normalizedbycount = subquota_number_party_year[subquota_number_party_year["mean"] == subquota_number_party_year["mean_spent"]]
# meanspentbytype_normalizedbycount

In [ ]:
# with open('sum_mean_max_year_meanspentbytype_normalizedbycount.json', 'w') as f: 
#     f.write(meanspentbytype_normalizedbycount.to_json(orient='records', lines=True))