In [1]:
import pandas as pd

In [2]:
df_deputies = pd.read_csv('data/Chamber/reimbursements.xz',compression='xz',low_memory=False)

In [6]:
df_deputies[df_deputies["year"]==2010].head()

,year,applicant_id,document_id,reimbursement_value_total,total_net_value,reimbursement_numbers,congressperson_name,congressperson_id,congressperson_document,term,...,issue_date,document_value,remark_value,net_values,month,installment,passenger,leg_of_the_trip,batch_number,reimbursement_values
171942,2010,1001,1758766,0.0,96.01,3203,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2010-01-01 00:00:00,96.01,0.00,96.01,1,0,NaN,NaN,448634,0.0
171943,2010,1001,1758772,0.0,854.60,3203,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2009-12-26 00:00:00,856.79,2.19,854.60,1,0,NaN,NaN,448634,0.0
171944,2010,1001,1758779,0.0,401.11,3203,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2010-12-22 00:00:00,415.35,14.24,401.11,1,0,NaN,NaN,448634,0.0
171945,2010,1001,1758783,0.0,19.20,3203,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2010-01-04 00:00:00,19.20,0.00,19.20,1,0,NaN,NaN,448634,0.0
171946,2010,1001,1758787,0.0,76.00,3203,DILCEU SPERAFICO,73768.0,444.0,2015.0,...,2010-01-01 00:00:00,76.00,0.00,76.00,1,0,NaN,NaN,448634,0.0

In [ ]:
df_senate = pd.read_csv("data/Senate/federal-senate-reimbursements.xz",compression='xz')

In [ ]:
df_senate[df_senate["year"]==2010].head()