In [1]:
import pandas as pd

In [2]:
df_senate = pd.read_csv("./data/Senate/clean_senate.xz",compression='xz', decimal=',',low_memory=False)
df_senate["date"] = pd.to_datetime(df_senate["date"])

/home/darley/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df_senate["reimbursement_value"] = df_senate["reimbursement_value"].apply(pd.to_numeric,errors='coerce')

In [30]:
df = df_senate[['date','reimbursement_value']].set_index(pd.DatetimeIndex(df_senate['date'])).drop("date",axis=1)

In [44]:
df.groupby(df.index.year)['reimbursement_value'].agg(['sum', 'mean', 'max'])

              sum         mean        max
date
1901          NaN          NaN        NaN
1956      5900.00  5900.000000    5900.00
1962       310.00   155.000000     160.00
1965       100.00   100.000000     100.00
1977       152.51   152.510000     152.51
1980          NaN          NaN        NaN
1986       139.16   139.160000     139.16
2000       336.05   168.025000     234.00
2001     19899.70   795.988000    6023.30
2002      4623.14  1155.785000    2500.00
2003          NaN          NaN        NaN
2004      1310.47  1310.470000    1310.47
2005      3165.00  3165.000000    3165.00
2006       528.12   264.060000     426.66
2007      2668.21   444.701667     956.00
2008  11581557.45  4709.864762   61250.00
2009  11547467.61   704.457516   66960.00
2010  10691194.60   587.299198   60000.00
2011  18786579.66   737.683263   56800.00
2012  12844482.53  1083.922576   88245.00
2013  11659749.43  1246.498763   84000.00
2014  17497953.84  1147.632573  162400.00
2015  24290951.03   937.874557   85000.00
2016  25324033.01   948.359099  216780.00
2017  19480435.10   968.453149  256980.00
2018       514.83   171.610000     382.03
2019      4678.11   935.622000    2805.50
2020      5555.69  1388.922500    4632.14
2021      1793.00   896.500000    1743.00
2022      5878.96  2939.480000    5003.00
2023          NaN          NaN        NaN
2041       793.38   396.690000     424.35
2101      1063.72  1063.720000    1063.72
2105      1944.27   972.135000    1288.54
2106      2805.43   467.571667     724.97
2107      1184.79  1184.790000    1184.79

In [ ]:
# df_senate[df_senate["congressperson_name"].str.contains("Ana Amélia".upper())]["date"]