In [1]:
import json

In [2]:
import pandas as pd

In [3]:
df_chamber = pd.read_csv("./data/Chamber/clean_deputies.xz",compression='xz',low_memory=False,index_col=0)
# df_chamber.drop(columns=['Unnamed: 0.1', 'Unnamed: 0.1.1'],inplace=True)

/home/darley/miniconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
df_chamber

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,year,reimbursement_value_total,total_net_value,reimbursement_numbers,congressperson_name,term,state,...,subquota_group_description,supplier,issue_date,document_value,remark_value,net_values,month,installment,batch_number,reimbursement_values
0,0,0,0,2009,0.0,130.00,2888,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,MELHOR POSTO DE COMBUSTÍVEIS LTDA,2009-04-06 00:00:00,130.00,0.00,130.00,4,0,388810,0.0
1,1,1,1,2009,0.0,135.00,2888,DILCEU SPERAFICO,2015.0,PR,...,NaN,MELONGENA PARTICIPAÇÕES LTDA,2009-04-07 00:00:00,141.75,6.75,135.00,4,0,388810,0.0
2,2,2,2,2009,0.0,1000.00,2893,DILCEU SPERAFICO,2015.0,PR,...,NaN,ARY ANTONIO MOSCHETTA,2009-03-12 00:00:00,1000.00,0.00,1000.00,3,0,390159,0.0
3,3,3,3,2009,0.0,170.00,2894,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,CONVER COMBUSTÍVEIS AUTOMÓVEIS LTDA,2009-04-14 00:00:00,170.00,0.00,170.00,4,0,390158,0.0
4,4,4,4,2009,0.0,100.11,2894,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,GRANDO E GROFF LTDA,2009-04-09 00:00:00,100.11,0.00,100.11,4,0,390158,0.0
5,5,5,5,2009,0.0,11.40,2894,DILCEU SPERAFICO,2015.0,PR,...,NaN,WERMUTH SERVIÇOS POSTAIS FRANQUEADOS LTDA,2009-04-04 00:00:00,11.40,0.00,11.40,4,0,390158,0.0
6,6,6,6,2009,0.0,40.70,2897,DILCEU SPERAFICO,2015.0,PR,...,NaN,BARBATO E NOGUEIRA LTDA,2009-04-08 00:00:00,40.70,0.00,40.70,4,0,391679,0.0
7,7,7,7,2009,0.0,93.40,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-06 00:00:00,93.40,0.00,93.40,3,0,391417,0.0
8,8,8,8,2009,0.0,116.53,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-20 00:00:00,116.53,0.00,116.53,3,0,391417,0.0
9,9,9,9,2009,0.0,113.56,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-26 00:00:00,113.56,0.00,113.56,3,0,391417,0.0
10,10,10,10,2009,0.0,100.00,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-03 00:00:00,100.00,0.00,100.00,3,0,391417,0.0
11,11,11,11,2009,0.0,104.50,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-06 00:00:00,104.50,0.00,104.50,3,0,391417,0.0
12,12,12,12,2009,0.0,126.13,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-06 00:00:00,126.13,0.00,126.13,3,0,391417,0.0
13,13,13,13,2009,0.0,117.01,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-12 00:00:00,117.01,0.00,117.01,3,0,391417,0.0
14,14,14,14,2009,0.0,95.00,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-14 00:00:00,95.00,0.00,95.00,3,0,391417,0.0
15,15,15,15,2009,0.0,85.00,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-16 00:00:00,85.00,0.00,85.00,3,0,391417,0.0
16,16,16,16,2009,0.0,122.00,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-19 00:00:00,122.00,0.00,122.00,3,0,391417,0.0
17,17,17,17,2009,0.0,123.74,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-24 00:00:00,123.74,0.00,123.74,3,0,391418,0.0
18,18,18,18,2009,0.0,121.01,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-31 00:00:00,121.01,0.00,121.01,3,0,391418,0.0
19,19,19,19,2009,0.0,49.21,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-05 00:00:00,49.21,0.00,49.21,3,0,391418,0.0
20,20,20,20,2009,0.0,67.59,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-05 00:00:00,67.59,0.00,67.59,3,0,391418,0.0
21,21,21,21,2009,0.0,37.05,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-09 00:00:00,37.05,0.00,37.05,3,0,391418,0.0
22,22,22,22,2009,0.0,99.69,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-11 00:00:00,99.69,0.00,99.69,3,0,391418,0.0
23,23,23,23,2009,0.0,49.73,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-12 00:00:00,49.73,0.00,49.73,3,0,391418,0.0
24,24,24,24,2009,0.0,120.01,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-18 00:00:00,120.01,0.00,120.01,3,0,391418,0.0
25,25,25,25,2009,0.0,165.45,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-18 00:00:00,165.45,0.00,165.45,3,0,391418,0.0
26,26,26,26,2009,0.0,32.02,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-18 00:00:00,32.02,0.00,32.02,3,0,391418,0.0
27,27,27,27,2009,0.0,41.94,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-19 00:00:00,41.94,0.00,41.94,3,0,391419,0.0
28,28,28,28,2009,0.0,54.81,2896,DILCEU SPERAFICO,2015.0,PR,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-24 00:00:00,54.81,0.00,54.81,3,0,391419,0.0
29,29,29,29,2009,0.0,200.00,2897,DILCEU SPERAFICO,2015.0,PR,...,NaN,GREZZANA E FREIRE LTDA,2009-04-15 00:00:00,200.00,0.00,200.00,4,0,391680,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713619,1713619,1713619,1713619,2017,0.0,51.00,5976,DARCÍSIO PERONDI,2015.0,RS,...,NaN,TATIANA G DE CORDOVA BASSO & CIA LTDA,2017-09-21 00:00:00,51.00,0.00,51.00,9,0,1426522,0.0
1713620,1713620,1713620,1713620,2017,0.0,28.90,5976,DARCÍSIO PERONDI,2015.0,RS,...,NaN,RESTAURANTE E LOJA 44 LTDA,2017-09-23 00:00:00,28.90,0.00,28.90,9,0,1426522,0.0
1713621,1713621,1713621,1713621,2017,0.0,110.56,5976,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,DITRENTO POSTOS E LOGISTICA LTDA,2017-09-23 00:00:00,110.56,0.00,110.56,9,0,1426523,0.0
1713622,1713622,1713622,1713622,2017,0.0,20.00,5976,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,BRASAL COMBUSTÍVEIS LTDA,2017-09-26 00:00:00,20.00,0.00,20.00,9,0,1426523,0.0
1713623,1713623,1713623,1713623,2017,0.0,27.55,5976,DARCÍSIO PERONDI,2015.0,RS,...,NaN,SERVICO NACIONAL DE APRENDIZAGEM COMERCIAL - S...,2017-09-19 00:00:00,27.55,0.00,27.55,9,0,1426522,0.0
1713624,1713624,1713624,1713624,2017,0.0,15.30,5976,DARCÍSIO PERONDI,2015.0,RS,...,NaN,SERVICO NACIONAL DE APRENDIZAGEM COMERCIAL - S...,2017-09-20 00:00:00,15.30,0.00,15.30,9,0,1426522,0.0
1713625,1713625,1713625,1713625,2017,0.0,2898.00,5976,DARCÍSIO PERONDI,2015.0,RS,...,NaN,ESTILO GRAFICA EIRELI ME,2017-08-29 00:00:00,2898.00,0.00,2898.00,8,0,1426519,0.0
1713626,1713626,1713626,1713626,2017,0.0,311.50,5976,DARCÍSIO PERONDI,2015.0,RS,...,NaN,WM COMERCIO DE ARTIGOS DE PAPELARIA LTDA-ME,2017-09-21 00:00:00,311.50,0.00,311.50,9,0,1426521,0.0
1713627,1713627,1713627,1713627,2017,0.0,277.20,5976,DARCÍSIO PERONDI,2015.0,RS,...,NaN,HOTEL JARDIM EUROPA LTDA,2017-09-23 00:00:00,277.20,0.00,277.20,9,0,1426520,0.0
1713628,1713628,1713628,1713628,2017,0.0,68.97,5976,DARCÍSIO PERONDI,2015.0,RS,...,NaN,FRED RESTAURANTE LTDA.,2017-09-25 00:00:00,68.97,0.00,68.97,9,0,1426522,0.0
1713629,1713629,1713629,1713629,2017,0.0,36.40,5976,DARCÍSIO PERONDI,2015.0,RS,...,NaN,SERVICO NACIONAL DE APRENDIZAGEM COMERCIAL SENAC,2017-09-26 00:00:00,36.40,0.00,36.40,9,0,1426522,0.0
1713630,1713630,1713630,1713630,2017,0.0,233.70,5976,DARCÍSIO PERONDI,2015.0,RS,...,NaN,OI S.A. - EM RECUPERACAO JUDICIAL,2017-08-26 00:00:00,233.70,0.00,233.70,9,0,1426523,0.0
1713631,1713631,1713631,1713631,2017,0.0,400.00,5984,DARCÍSIO PERONDI,2015.0,RS,...,NaN,RÁDIO MISSIONEIRA SETE POVOS LTDA,2017-09-29 00:00:00,400.00,0.00,400.00,9,0,1430307,0.0
1713632,1713632,1713632,1713632,2017,0.0,7200.00,5984,DARCÍSIO PERONDI,2015.0,RS,...,NaN,ORNELAS & ORNELAS CONSULTORIA E ASSESSORIA LTDA.,2017-10-02 00:00:00,7200.00,0.00,7200.00,9,0,1430310,0.0
1713633,1713633,1713633,1713633,2017,0.0,5874.00,5984,DARCÍSIO PERONDI,2015.0,RS,...,NaN,EDGAR LISBOA - ME,2017-10-02 00:00:00,5874.00,0.00,5874.00,10,0,1430310,0.0
1713634,1713634,1713634,1713634,2017,0.0,1227.28,5984,DARCÍSIO PERONDI,2015.0,RS,...,NaN,TELEFONICA BRASIL S.A.,2017-09-07 00:00:00,1251.24,23.96,1227.28,9,0,1430308,0.0
1713635,1713635,1713635,1713635,2017,0.0,180.35,5988,DARCÍSIO PERONDI,2015.0,RS,...,NaN,OI S.A. - EM RECUPERACAO JUDICIAL,2017-09-15 00:00:00,180.35,0.00,180.35,9,0,1431767,0.0
1713636,1713636,1713636,1713636,2017,0.0,20.00,5988,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,CASCOL COMBUSTIVEIS PARA VEICULOS LTDA,2017-10-06 00:00:00,20.00,0.00,20.00,10,0,1431770,0.0
1713637,1713637,1713637,1713637,2017,0.0,61.80,5988,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,BRASAL COMBUSTÍVEIS LTDA,2017-10-06 00:00:00,61.80,0.00,61.80,10,0,1431770,0.0
1713638,1713638,1713638,1713638,2017,0.0,222.85,5988,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-11 00:00:00,222.85,0.00,222.85,9,0,1431767,0.0
1713639,1713639,1713639,1713639,2017,0.0,146.70,5988,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-11 00:00:00,146.70,0.00,146.70,9,0,1431767,0.0
1713640,1713640,1713640,1713640,2017,0.0,272.86,5988,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-13 00:00:00,272.86,0.00,272.86,9,0,1431767,0.0
1713641,1713641,1713641,1713641,2017,0.0,287.90,5988,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-17 00:00:00,287.90,0.00,287.90,9,0,1431767,0.0
1713642,1713642,1713642,1713642,2017,0.0,236.91,5988,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-20 00:00:00,236.91,0.00,236.91,9,0,1431767,0.0
1713643,1713643,1713643,1713643,2017,0.0,175.60,5988,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-21 00:00:00,175.60,0.00,175.60,9,0,1431767,0.0
1713644,1713644,1713644,1713644,2017,0.0,275.12,5988,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-22 00:00:00,275.12,0.00,275.12,9,0,1431767,0.0
1713645,1713645,1713645,1713645,2017,0.0,117.60,5988,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-23 00:00:00,117.60,0.00,117.60,9,0,1431767,0.0
1713646,1713646,1713646,1713646,2017,0.0,208.18,5988,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-25 00:00:00,208.18,0.00,208.18,9,0,1431767,0.0
1713647,1713647,1713647,1713647,2017,0.0,86.24,5988,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-25 00:00:00,86.24,0.00,86.24,9,0,1431768,0.0
1713648,1713648,1713648,1713648,2017,0.0,139.52,5988,DARCÍSIO PERONDI,2015.0,RS,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-27 00:00:00,139.52,0.00,139.52,9,0,1431768,0.0

**Pegando soma, média e máximo por ano:**

In [6]:
sum_mean_max_year = df_chamber.groupby("year")['document_value'].agg(['sum', 'mean', 'max'])
sum_mean_max_year

               sum        mean       max
year
2009  9.280041e+07  539.719295  122850.0
2010  1.227308e+08  600.741115  141000.0
2011  1.270438e+08  595.390144  197000.0
2012  1.254368e+08  636.673372  215000.0
2013  1.322538e+08  681.169332  197370.0
2014  1.425243e+08  827.936564  208320.0
2015  1.581929e+08  757.886380  189600.0
2016  1.671565e+08  831.533252  184500.0
2017  1.238131e+08  820.182399   79900.0

In [8]:
# with open('sum_mean_max_year.json', 'w') as f: 
#     f.write(sum_mean_max_year.reset_index().to_json(orient='records', lines=True))

**Vamos também descobrir soma, média e máximo totais:**

In [4]:
df_chamber['document_value'].agg(['sum', 'mean', 'max'])

sum     1.191952e+09
mean    6.955638e+02
max     2.150000e+05
Name: document_value, dtype: float64

**Agora vamos descobrir quem são os responsáveis pelo maior gasto em cada ano:**

In [11]:
df_cp_year = df_chamber.groupby(["congressperson_name", "year"])['document_value'].agg(['sum', 'mean', 'max']).reset_index()

In [12]:
sum_years = df_cp_year.groupby("year")['sum'].max()

In [13]:
sum_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['sum'] == sum_years[2009])]
sum_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['sum'] == sum_years[2010])]
sum_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['sum'] == sum_years[2011])]
sum_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['sum'] == sum_years[2012])]
sum_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['sum'] == sum_years[2013])]
sum_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['sum'] == sum_years[2014])]
sum_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['sum'] == sum_years[2015])]
sum_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['sum'] == sum_years[2016])]
sum_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['sum'] == sum_years[2017])]

In [14]:
sum_2009

     congressperson_name  year        sum          mean      max
5245  WELLINGTON ROBERTO  2009  344510.25  13250.394231  71400.0

In [15]:
sum_2010

     congressperson_name  year        sum         mean      max
4967        URZENI ROCHA  2010  383158.94  3115.113333  23000.0

In [16]:
sum_2011

     congressperson_name  year        sum          mean      max
5247  WELLINGTON ROBERTO  2011  400055.78  12905.025161  84500.0

In [17]:
sum_2012

     congressperson_name  year        sum         mean      max
5401      ÂNGELO AGNOLIN  2012  394079.57  3311.593025  50000.0

In [18]:
sum_2013

     congressperson_name  year        sum         mean      max
4291           RAUL LIMA  2013  418348.99  6536.702969  23500.0

In [19]:
sum_2014

     congressperson_name  year       sum          mean      max
4292           RAUL LIMA  2014  485568.1  17341.717857  55000.0

In [20]:
sum_2015

     congressperson_name  year        sum        mean      max
3398      MARCOS ROGÉRIO  2015  518064.65  841.014042  26770.0

In [21]:
sum_2016

     congressperson_name  year        sum         mean      max
1518     ELIZEU DIONIZIO  2016  505356.39  2168.911545  10000.0

In [22]:
sum_2017

     congressperson_name  year        sum        mean      max
3400      MARCOS ROGÉRIO  2017  402849.36  1224.46614  30000.0

In [26]:
# with open('sum_mean_max_year_congressperson_maxtotal.json', 'w',encoding="utf8") as f:
#     for df in [sum_2009,sum_2010,sum_2011,sum_2012,sum_2013,sum_2014,sum_2015,sum_2016,sum_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

**Vamos descobrir agora quem são os reponsáveis pelos maiores gastos na média em cada ano:**

In [27]:
mean_max_year = df_cp_year.groupby("year")['mean'].max()

In [28]:
mean_max_year

year
2009     17700.000000
2010     33184.323333
2011     28952.000000
2012     20161.111111
2013     47200.000000
2014     62325.000000
2015    109810.000000
2016     19044.845385
2017     18960.417647
Name: mean, dtype: float64

In [29]:
mean_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['mean'] == mean_max_year[2009])]
mean_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['mean'] == mean_max_year[2010])]
mean_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['mean'] == mean_max_year[2011])]
mean_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['mean'] == mean_max_year[2012])]
mean_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['mean'] == mean_max_year[2013])]
mean_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['mean'] == mean_max_year[2014])]
mean_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['mean'] == mean_max_year[2015])]
mean_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['mean'] == mean_max_year[2016])]
mean_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['mean'] == mean_max_year[2017])]

In [20]:
mean_2009

   congressperson_name  year      sum     mean      max
54         ADÃO PRETTO  2009  17700.0  17700.0  17700.0

In [21]:
mean_2010

     congressperson_name  year        sum          mean      max
4771        SILAS CÂMARA  2010  298658.91  33184.323333  93000.0

In [22]:
mean_2011

      congressperson_name  year      sum     mean      max
1676  FERNANDO DE FABINHO  2011  28952.0  28952.0  28952.0

In [23]:
mean_2012

     congressperson_name  year       sum          mean      max
5248  WELLINGTON ROBERTO  2012  362900.0  20161.111111  80000.0

In [24]:
mean_2013

        congressperson_name  year       sum     mean      max
4658  SABINO CASTELO BRANCO  2013  330400.0  47200.0  80000.0

In [25]:
mean_2014

        congressperson_name  year       sum     mean       max
4659  SABINO CASTELO BRANCO  2014  373950.0  62325.0  184500.0

In [26]:
mean_2015

     congressperson_name  year       sum      mean       max
472  ARNALDO FARIA DE SÁ  2015  219620.0  109810.0  189600.0

In [27]:
mean_2016

     congressperson_name  year        sum          mean      max
5297      WLADIMIR COSTA  2016  247582.99  19044.845385  72200.0

In [28]:
mean_2017

     congressperson_name  year       sum          mean      max
4778        SILAS CÂMARA  2017  322327.1  18960.417647  37578.6

In [30]:
# with open('sum_mean_max_year_congressperson_maxmean.json', 'w',encoding="utf8") as f:
#     for df in [mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

**Agora vejamos quem são deputados com menores gastos médios:**

In [31]:
mean_min_year = df_cp_year.groupby("year")['mean'].min()

In [32]:
mean_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['mean'] == mean_min_year[2009])]
mean_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['mean'] == mean_min_year[2010])]
mean_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['mean'] == mean_min_year[2011])]
mean_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['mean'] == mean_min_year[2012])]
mean_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['mean'] == mean_min_year[2013])]
mean_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['mean'] == mean_min_year[2014])]
mean_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['mean'] == mean_min_year[2015])]
mean_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['mean'] == mean_min_year[2016])]
mean_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['mean'] == mean_min_year[2017])]

In [34]:
# with open('sum_mean_max_year_congressperson_minmean.json', 'w',encoding="utf8") as f:
#     for df in [mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [33]:
mean_2009

     congressperson_name  year      sum       mean    max
4475           RODOVALHO  2009  7545.21  40.565645  160.0

In [32]:
mean_2010

      congressperson_name  year        sum       mean     max
2386  JORGE TADEU MUDALEN  2010  128170.67  78.152848  4900.0

In [33]:
mean_2011

    congressperson_name  year      sum      mean     max
910    CELSO RUSSOMANNO  2011  2672.02  65.17122  295.84

In [34]:
mean_2012

     congressperson_name  year    sum   mean    max
2148      HUMBERTO SOUTO  2012  250.2  62.55  103.4

In [35]:
mean_2013

     congressperson_name  year       sum       mean      max
3240    MANUEL ROSA NECA  2013  23099.08  86.838647  1545.07

In [36]:
mean_2014

      congressperson_name  year        sum       mean     max
2390  JORGE TADEU MUDALEN  2014  142048.45  86.142177  3000.0

In [37]:
mean_2015

     congressperson_name  year    sum       mean   max
3170        LÉO OLIVEIRA  2015  115.0  38.333333  50.0

In [38]:
mean_2016

     congressperson_name  year      sum       mean     max
3774    NILMÁRIO MIRANDA  2016  1370.71  91.380667  787.35

In [39]:
mean_2017

      congressperson_name  year        sum       mean      max
2393  JORGE TADEU MUDALEN  2017  144055.37  98.871222  16000.0

**Agora analizemos por partido**

In [35]:
df_party_year = df_chamber.groupby(["party", "year"])['document_value'].agg(['sum', 'mean', 'max', 'count']).reset_index()
# Comment lines bellow if dont want to consider number of politicians in each party
df_party_year['sum'] = df_party_year['sum']/df_party_year["count"]
df_party_year['mean'] = df_party_year['mean']/df_party_year["count"]
df_party_year
# politicians_by_party

       party  year          sum       mean        max  count
0     AVANTE  2009  4493.804697  68.087950   74000.00     66
1     AVANTE  2010  3118.504452  21.359620   35000.00    146
2     AVANTE  2011  1157.309400   1.389327   25000.00    833
3     AVANTE  2012  1231.678729   1.701214   37380.00    724
4     AVANTE  2013  1740.457642   3.283882   35000.00    530
5     AVANTE  2014  2297.015526   5.037315   58500.00    456
6     AVANTE  2015  1392.365636   1.321030   29780.00   1054
7     AVANTE  2016  1024.295658   0.720827   49500.00   1421
8     AVANTE  2017  1042.510652   0.882736   40000.00   1181
9        DEM  2009   624.045365   0.054924   80000.00  11362
10       DEM  2010   678.977617   0.045238  120175.00  15009
11       DEM  2011   572.572505   0.041374   61873.00  13839
12       DEM  2012   647.381914   0.051799   74005.00  12498
13       DEM  2013   739.365229   0.068422   90000.00  10806
14       DEM  2014   840.747149   0.080354  136000.00  10463
15       DEM  2015   827.791386   0.073464   53000.00  11268
16       DEM  2016   928.221988   0.092943   85950.00   9987
17       DEM  2017   901.428043   0.114802   45000.00   7852
18     PCdoB  2009   598.986723   0.166756   40000.00   3592
19     PCdoB  2010   720.569366   0.184951   78620.00   3896
20     PCdoB  2011   600.152995   0.103492   24811.70   5799
21     PCdoB  2012   590.771582   0.115408   25000.00   5119
22     PCdoB  2013   591.345000   0.106818   45000.00   5536
23     PCdoB  2014   717.639348   0.128563  120000.00   5582
24     PCdoB  2015   789.306860   0.164989   31500.00   4784
25     PCdoB  2016   843.915408   0.188753   50000.00   4471
26     PCdoB  2017  1082.332575   0.364790   35000.00   2967
27       PDT  2009   645.826880   0.114875   50000.00   5622
28       PDT  2010   716.010927   0.104558   59979.50   6848
29       PDT  2011   882.576072   0.159974   41750.00   5517
..       ...   ...          ...        ...        ...    ...
215       PV  2010   402.043160   0.060213   36332.00   6677
216       PV  2011   426.823020   0.084402   30747.00   5057
217       PV  2012   445.411529   0.102417   27000.00   4349
218       PV  2013   577.525452   0.137082   38595.00   4213
219       PV  2014   697.669843   0.202340   27219.20   3448
220       PV  2015   477.176544   0.124557   28500.00   3831
221       PV  2016   504.432595   0.137635   51840.00   3665
222       PV  2017   550.323542   0.223527   15000.00   2462
223     REDE  2011   460.366019   1.466134    7560.00    314
224     REDE  2012   323.778387   0.492813    9260.00    657
225     REDE  2013   274.798250   0.372861    6787.26    737
226     REDE  2014   401.817993   0.746874   10500.00    538
227     REDE  2015   444.877497   0.287760   47600.00   1546
228     REDE  2016   607.678088   0.428848   28530.00   1417
229     REDE  2017   594.556453   0.544965   19760.00   1091
230  S.PART.  2009   380.505697   0.411358    6970.00    925
231  S.PART.  2010   357.839718   0.305324   21000.00   1172
232  S.PART.  2011   369.776803   0.352840   16000.00   1048
233  S.PART.  2012   379.780037   0.350028   11250.00   1085
234  S.PART.  2013   360.817000   0.445453   14880.00    810
235  S.PART.  2014   908.444096   4.832149   71340.00    188
236       SD  2009   498.039822   0.233056   15294.00   2137
237       SD  2010   653.089017   0.260922   37250.00   2503
238       SD  2011   724.284734   0.115497   44950.00   6271
239       SD  2012   785.399564   0.125403   42800.00   6263
240       SD  2013   822.776797   0.147056   56000.00   5595
241       SD  2014  1048.658232   0.203347  130000.00   5157
242       SD  2015   915.201631   0.189718  100000.00   4824
243       SD  2016   840.794954   0.151741   72200.00   5541
244       SD  2017   843.503399   0.210036   72000.00   4016

[245 rows x 6 columns]

**Vejamos qual partido teve maior gasto em cada ano:**

In [36]:
sum_years = df_party_year.groupby("year")['sum'].max()
sum_years

year
2009     4493.804697
2010     3991.831360
2011     1252.207408
2012     1432.056090
2013     1740.457642
2014     2297.015526
2015    12028.166667
2016     8699.544643
2017     9742.458125
Name: sum, dtype: float64

In [37]:
sum_party_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['sum'] == sum_years[2009])]
sum_party_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['sum'] == sum_years[2010])]
sum_party_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['sum'] == sum_years[2011])]
sum_party_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['sum'] == sum_years[2012])]
sum_party_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['sum'] == sum_years[2013])]
sum_party_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['sum'] == sum_years[2014])]
sum_party_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['sum'] == sum_years[2015])]
sum_party_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['sum'] == sum_years[2016])]
sum_party_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['sum'] == sum_years[2017])]

In [38]:
with open('sum_mean_max_year_party_maxtotal.json', 'w',encoding="utf8") as f:
    for df in [sum_party_2009,sum_party_2010,sum_party_2011,sum_party_2012,sum_party_2013,sum_party_2014,sum_party_2015,sum_party_2016,sum_party_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [129]:
sum_party_2009

    party  year          sum      mean      max  count
0  AVANTE  2009  4493.804697  68.08795  74000.0     66

In [130]:
sum_party_2010

    party  year         sum       mean      max  count
116  PROS  2010  3991.83136  12.059913  48000.0    331

In [131]:
sum_party_2011

    party  year          sum      mean      max  count
117  PROS  2011  1252.207408  0.543729  44500.0   2303

In [132]:
sum_party_2012

    party  year         sum      mean      max  count
118  PROS  2012  1432.05609  0.703367  50000.0   2036

In [133]:
sum_party_2013

    party  year          sum      mean      max  count
4  AVANTE  2013  1740.457642  3.283882  35000.0    530

In [134]:
sum_party_2014

    party  year          sum      mean      max  count
5  AVANTE  2014  2297.015526  5.037315  58500.0    456

In [135]:
sum_party_2015

    party  year           sum         mean      max  count
128   PRP  2015  12028.166667  2004.694444  32790.0      6

In [136]:
sum_party_2016

    party  year          sum        mean      max  count
129   PRP  2016  8699.544643  310.698023  28500.0     28

In [137]:
sum_party_2017

    party  year          sum        mean      max  count
130   PRP  2017  9742.458125  304.451816  38000.0     32

**Vamos descobrir agora quem são os partidos reponsáveis pelos maiores gastos na média em cada ano:**

In [39]:
mean_max_year = df_party_year.groupby("year")['mean'].max()

In [40]:
mean_max_year

year
2009      68.087950
2010      21.359620
2011       2.109643
2012       3.706317
2013       3.283882
2014       9.858150
2015    2004.694444
2016     310.698023
2017     304.451816
Name: mean, dtype: float64

In [41]:
mean_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['mean'] == mean_max_year[2009])]
mean_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['mean'] == mean_max_year[2010])]
mean_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['mean'] == mean_max_year[2011])]
mean_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['mean'] == mean_max_year[2012])]
mean_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['mean'] == mean_max_year[2013])]
mean_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['mean'] == mean_max_year[2014])]
mean_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['mean'] == mean_max_year[2015])]
mean_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['mean'] == mean_max_year[2016])]
mean_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['mean'] == mean_max_year[2017])]

In [42]:
# with open('sum_mean_max_year_party_maxmean.json', 'w',encoding="utf8") as f:
#     for df in [mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [141]:
mean_2009

    party  year          sum      mean      max  count
0  AVANTE  2009  4493.804697  68.08795  74000.0     66

In [142]:
mean_2010

    party  year          sum      mean      max  count
1  AVANTE  2010  3118.504452  21.35962  35000.0    146

In [143]:
mean_2011

   party  year          sum      mean      max  count
72  PODE  2011  1080.137285  2.109643  18500.0    512

In [144]:
mean_2012

     party  year         sum      mean      max  count
210  PTdoB  2012  852.452913  3.706317  31200.0    230

In [145]:
mean_2013

    party  year          sum      mean      max  count
4  AVANTE  2013  1740.457642  3.283882  35000.0    530

In [146]:
mean_2014

    party  year         sum     mean      max  count
168  PSDC  2014  966.098673  9.85815  20000.0     98

In [147]:
mean_2015

    party  year           sum         mean      max  count
128   PRP  2015  12028.166667  2004.694444  32790.0      6

In [148]:
mean_2016

    party  year          sum        mean      max  count
129   PRP  2016  8699.544643  310.698023  28500.0     28

In [149]:
mean_2017

    party  year          sum        mean      max  count
130   PRP  2017  9742.458125  304.451816  38000.0     32

**Agora vejamos quem são os partidos com menores gastos médios:**

In [43]:
mean_min_year = df_party_year.groupby("year")['mean'].min()

In [44]:
mean_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['mean'] == mean_min_year[2009])]
mean_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['mean'] == mean_min_year[2010])]
mean_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['mean'] == mean_min_year[2011])]
mean_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['mean'] == mean_min_year[2012])]
mean_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['mean'] == mean_min_year[2013])]
mean_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['mean'] == mean_min_year[2014])]
mean_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['mean'] == mean_min_year[2015])]
mean_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['mean'] == mean_min_year[2016])]
mean_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['mean'] == mean_min_year[2017])]

In [45]:
# with open('sum_mean_max_year_party_minmean.json', 'w',encoding="utf8") as f:
#     for df in [mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [152]:
mean_2009

    party  year         sum      mean      max  count
187    PT  2009  452.383491  0.015033  93000.0  30092

In [153]:
mean_2010

    party  year         sum     mean       max  count
188    PT  2010  527.985196  0.01597  120000.0  33062

In [154]:
mean_2011

    party  year         sum     mean       max  count
189    PT  2011  501.216393  0.01322  194100.0  37914

In [155]:
mean_2012

    party  year        sum      mean       max  count
190    PT  2012  520.13831  0.014146  162580.0  36770

In [156]:
mean_2013

    party  year         sum      mean      max  count
191    PT  2013  553.594146  0.014933  89940.0  37071

In [157]:
mean_2014

    party  year         sum      mean      max  count
192    PT  2014  673.273295  0.019869  96890.0  33886

In [158]:
mean_2015

    party  year         sum      mean       max  count
193    PT  2015  584.039878  0.019268  137900.0  30311

In [159]:
mean_2016

    party  year         sum     mean      max  count
194    PT  2016  615.091908  0.02011  87000.0  30587

In [160]:
mean_2017

    party  year         sum      mean      max  count
195    PT  2017  574.875582  0.023031  45000.0  24961

In [46]:
df_chamber[df_chamber["subquota_number"] == 119].head()["subquota_description"]

795160    Aircraft renting or charter of aircraft
795161    Aircraft renting or charter of aircraft
795162    Aircraft renting or charter of aircraft
795852    Aircraft renting or charter of aircraft
795858    Aircraft renting or charter of aircraft
Name: subquota_description, dtype: object

##### Analisando Por tipo de Gasto

In [14]:
df_chamber.groupby(["subquota_number","year"])['document_value'].agg(['sum', 'mean', 'max'])

                               sum          mean        max
subquota_number year
1               2009  1.186107e+07    640.723573   11970.00
                2010  1.597854e+07    720.923118   28203.00
                2011  1.661479e+07    770.023234   26940.00
                2012  1.810760e+07    859.728219   17000.00
                2013  1.890488e+07    926.891329   18000.00
                2014  1.898468e+07   1012.354040   25400.00
                2015  2.294253e+07   1071.980755   34546.80
                2016  2.504928e+07   1042.894367   21088.70
                2017  1.801215e+07   1009.479923   15081.70
2               2009  5.560361e+06    351.521129   28200.00
3               2009  1.425307e+07    199.544632    9601.18
                2010  1.703309e+07    222.265391    8775.98
                2011  1.703058e+07    219.367285    9848.66
                2012  1.652401e+07    228.794668    9975.23
                2013  1.642559e+07    236.081287    8837.67
                2014  1.563207e+07    238.632072   11374.90
                2015  1.755703e+07    235.260562    7329.56
                2016  1.913803e+07    263.351673    9033.47
                2017  1.441435e+07    263.155560    8831.74
4               2009  1.085394e+07   4464.804138   61000.00
                2010  1.583475e+07   5749.726681   60000.00
                2011  1.582223e+07   5022.931257   84500.00
                2012  1.540185e+07   5379.620367   80000.00
                2013  1.469230e+07   6244.070812   80000.00
                2014  1.860537e+07   8099.857397   90000.00
                2015  2.193403e+07   7270.147219   68200.00
                2016  2.322750e+07   7913.970698   62000.00
                2017  1.477368e+07   7503.140188   60000.00
5               2009  2.306012e+07   3573.550253  122850.00
                2010  2.146155e+07   5340.023603  141000.00
...                            ...           ...        ...
15              2013  2.094128e+07    767.585863   34500.00
                2014  2.330827e+05   1503.759097   11100.00
119             2013  7.158072e+05   8624.183373   79000.00
                2014  5.221462e+06   9425.022094  184500.00
                2015  2.773230e+06   8831.942898   35566.70
                2016  3.414617e+06  10162.549732   39600.00
                2017  2.214901e+06  10206.919309   39000.00
120             2013  7.735381e+05   3334.216078   10800.00
                2014  1.771517e+07   4067.776935   30000.00
                2015  2.429709e+07   4213.125540   17691.40
                2016  2.735331e+07   4316.444538   17000.00
                2017  2.095747e+07   4387.160994   12744.60
121             2013  6.954398e+04   3863.554444   13600.00
                2014  2.745380e+05   3760.794795   30050.00
                2015  3.693220e+04    900.785366    9500.00
                2016  2.800616e+04    903.424516    6000.00
                2017  8.738080e+04   3799.165217    7000.00
122             2013  6.051211e+04     33.617839    1042.83
                2014  5.890782e+05     32.834190    3206.20
                2015  8.648487e+05     30.813720    1681.89
                2016  8.876473e+05     33.676579    3450.00
                2017  8.017816e+05     35.712513    3850.00
123             2013  6.791050e+03    101.358955     737.45
                2014  6.740750e+04     82.506120    1445.85
                2015  8.987286e+04     91.427121    1777.00
                2016  9.479265e+04    103.372574    1833.66
                2017  1.010111e+05     87.835722    2066.99
137             2015  2.244000e+04   7480.000000    9640.00
                2016  2.253827e+05   5931.122368   12870.00
                2017  1.041900e+05   4529.999565   18600.00

[136 rows x 3 columns]

In [6]:
df_chamber.iloc[0]

year                                                       2009
reimbursement_value_total                                     0
total_net_value                                             130
reimbursement_numbers                                      2888
congressperson_name                            DILCEU SPERAFICO
term                                                       2015
state                                                        PR
party                                                        PP
subquota_number                                               3
subquota_description                       Fuels and lubricants
subquota_group_id                                             1
subquota_group_description                 Veículos Automotores
supplier                      MELHOR POSTO DE COMBUSTÍVEIS LTDA
issue_date                                  2009-04-06 00:00:00
document_value                                              130
remark_value                                                  0
net_values                                                  130
month                                                         4
installment                                                   0
batch_number                                             388810
reimbursement_values                                          0
Name: 0, dtype: object

In [16]:
pd.unique(df_chamber["subquota_group_id"])

array([1, 0, 4, 3, 2])

In [17]:
pd.unique(df_chamber["subquota_group_description"])

array(['Veículos Automotores', nan, 'Sem especificações', 'Aeronaves',
       'Embarcações'], dtype=object)

In [50]:
subquota_description = pd.unique(df_chamber["subquota_description"])
subquota_description

array(['Fuels and lubricants', 'Locomotion, meal and lodging',
       'Maintenance of office supporting parliamentary activity',
       'Software purchase or renting; Postal services; Subscriptions',
       'Publicity of parliamentary activity',
       'Purchase of office supplies',
       'Security service provided by specialized company',
       'Flight tickets', 'Congressperson meal', 'Telecommunication',
       'Lodging, except for congressperson from Distrito Federal',
       'Automotive vehicle renting or watercraft charter',
       'Postal services', 'Consultancy, research and technical work',
       'Publication subscriptions', 'Taxi, toll and parking',
       'Automotive vehicle renting or charter',
       'Terrestrial, maritime and fluvial tickets',
       'Aircraft renting or charter of aircraft',
       'Watercraft renting or charter',
       'Participation in course, talk or similar event'], dtype=object)

In [51]:
subquota_number = pd.unique(df_chamber["subquota_number"])
subquota_number

array([  3,   2,   1,   7,   5,   6,   8,   9,  13,  10,  14,  15,  11,
         4,  12, 122, 120, 123, 119, 121, 137])

In [53]:
# with open('spents_categories.json', 'w',encoding="utf8") as f:
#     catogories = {str(subquota_number[i]):subquota_description[i] for i in range(len(subquota_number))}
#     f.write(json.dumps(catogories))

In [4]:
subquota_number_year = df_chamber.groupby(["year", "subquota_number"])['document_value'].agg(['sum', 'mean', 'max',"count"])
subquota_number_year

                               sum          mean        max  count
year subquota_number
2009 1                1.186107e+07    640.723573   11970.00  18512
     2                5.560361e+06    351.521129   28200.00  15818
     3                1.425307e+07    199.544632    9601.18  71428
     4                1.085394e+07   4464.804138   61000.00   2431
     5                2.306012e+07   3573.550253  122850.00   6453
     6                5.652112e+05    353.036371   12089.00   1601
     7                9.872551e+05    374.812096   26100.00   2634
     8                7.441497e+05   1097.566003   13500.00    678
     9                5.203714e+06   4103.875079   58000.00   1268
     10               8.304819e+06    503.169863   15996.50  16505
     11               6.838419e+05    390.320691   36136.80   1752
     12               9.129205e+04    281.765586    3000.00    324
     13               8.425938e+05     66.824793    5852.00  12609
     14               9.694148e+05    261.579814    6650.00   3706
     15               8.819556e+06    543.645170   23048.20  16223
2010 1                1.597854e+07    720.923118   28203.00  22164
     3                1.703309e+07    222.265391    8775.98  76634
     4                1.583475e+07   5749.726681   60000.00   2754
     5                2.146155e+07   5340.023603  141000.00   4019
     8                1.263315e+06   1383.696780   13000.00    913
     9                9.233264e+06   4343.021439   73000.00   2126
     10               1.638074e+07    544.120369   13977.00  30105
     11               1.016590e+06    275.947218   32094.30   3684
     12               2.265473e+05    435.667981   20000.00    520
     13               1.493893e+06     68.627930    2068.00  21768
     14               1.976949e+06    299.992329    8050.00   6590
     15               2.083158e+07    630.839420   57333.00  33022
2011 1                1.661479e+07    770.023234   26940.00  21577
     3                1.703058e+07    219.367285    9848.66  77635
     4                1.582223e+07   5022.931257   84500.00   3150
...                            ...           ...        ...    ...
2016 8                1.754035e+06   1838.610891    8900.00    954
     9                2.428735e+06    999.891025   20144.50   2429
     10               8.107106e+06    459.482305    7135.55  17644
     11               6.811119e+05    246.066431   69610.30   2768
     12               4.099884e+05    369.691984    4000.00   1109
     13               1.760573e+06     67.128278    5142.25  26227
     14               1.938083e+06    326.002214    5084.00   5945
     119              3.414617e+06  10162.549732   39600.00    336
     120              2.735331e+07   4316.444538   17000.00   6337
     121              2.800616e+04    903.424516    6000.00     31
     122              8.876473e+05     33.676579    3450.00  26358
     123              9.479265e+04    103.372574    1833.66    917
     137              2.253827e+05   5931.122368   12870.00     38
2017 1                1.801215e+07   1009.479923   15081.70  17843
     3                1.441435e+07    263.155560    8831.74  54775
     4                1.477368e+07   7503.140188   60000.00   1969
     5                4.054563e+07   4281.933358   79900.00   9469
     8                1.235065e+06   1779.632133    8700.00    694
     9                1.936179e+06   1086.520387    9426.23   1782
     10               5.361196e+06    470.941298    6106.48  11384
     11               3.592123e+05    185.352079    8130.85   1938
     12               3.368567e+05    425.861858    5067.30    791
     13               1.086480e+06     66.349935    5155.15  16375
     14               1.485567e+06    280.454319    6903.75   5297
     119              2.214901e+06  10206.919309   39000.00    217
     120              2.095747e+07   4387.160994   12744.60   4777
     121              8.738080e+04   3799.165217    7000.00     23
     122              8.017816e+05     35.712513    3850.00  22451
     123              1.010111e+05     87.835722    2066.99   1150
     137              1.041900e+05   4529.999565   18600.00     23

[136 rows x 4 columns]

In [57]:
with open('sum_mean_max_year_spents_type_total.json', 'w') as f: 
    f.write(subquota_number_year.reset_index().to_json(orient='records', lines=True))

In [5]:
subquota_number_year.reset_index(inplace=True)
subquota_number_year['sum'] = subquota_number_year['sum']/subquota_number_year["count"]
subquota_number_year['mean'] = subquota_number_year['mean']/subquota_number_year["count"]
subquota_number_year

     year  subquota_number           sum        mean        max  count
0    2009                1    640.723573    0.034611   11970.00  18512
1    2009                2    351.521129    0.022223   28200.00  15818
2    2009                3    199.544632    0.002794    9601.18  71428
3    2009                4   4464.804138    1.836612   61000.00   2431
4    2009                5   3573.550253    0.553781  122850.00   6453
5    2009                6    353.036371    0.220510   12089.00   1601
6    2009                7    374.812096    0.142298   26100.00   2634
7    2009                8   1097.566003    1.618829   13500.00    678
8    2009                9   4103.875079    3.236495   58000.00   1268
9    2009               10    503.169863    0.030486   15996.50  16505
10   2009               11    390.320691    0.222786   36136.80   1752
11   2009               12    281.765586    0.869647    3000.00    324
12   2009               13     66.824793    0.005300    5852.00  12609
13   2009               14    261.579814    0.070583    6650.00   3706
14   2009               15    543.645170    0.033511   23048.20  16223
15   2010                1    720.923118    0.032527   28203.00  22164
16   2010                3    222.265391    0.002900    8775.98  76634
17   2010                4   5749.726681    2.087773   60000.00   2754
18   2010                5   5340.023603    1.328695  141000.00   4019
19   2010                8   1383.696780    1.515550   13000.00    913
20   2010                9   4343.021439    2.042813   73000.00   2126
21   2010               10    544.120369    0.018074   13977.00  30105
22   2010               11    275.947218    0.074904   32094.30   3684
23   2010               12    435.667981    0.837823   20000.00    520
24   2010               13     68.627930    0.003153    2068.00  21768
25   2010               14    299.992329    0.045522    8050.00   6590
26   2010               15    630.839420    0.019104   57333.00  33022
27   2011                1    770.023234    0.035687   26940.00  21577
28   2011                3    219.367285    0.002826    9848.66  77635
29   2011                4   5022.931257    1.594581   84500.00   3150
..    ...              ...           ...         ...        ...    ...
106  2016                8   1838.610891    1.927265    8900.00    954
107  2016                9    999.891025    0.411647   20144.50   2429
108  2016               10    459.482305    0.026042    7135.55  17644
109  2016               11    246.066431    0.088897   69610.30   2768
110  2016               12    369.691984    0.333356    4000.00   1109
111  2016               13     67.128278    0.002560    5142.25  26227
112  2016               14    326.002214    0.054836    5084.00   5945
113  2016              119  10162.549732   30.245684   39600.00    336
114  2016              120   4316.444538    0.681150   17000.00   6337
115  2016              121    903.424516   29.142726    6000.00     31
116  2016              122     33.676579    0.001278    3450.00  26358
117  2016              123    103.372574    0.112729    1833.66    917
118  2016              137   5931.122368  156.082168   12870.00     38
119  2017                1   1009.479923    0.056576   15081.70  17843
120  2017                3    263.155560    0.004804    8831.74  54775
121  2017                4   7503.140188    3.810635   60000.00   1969
122  2017                5   4281.933358    0.452205   79900.00   9469
123  2017                8   1779.632133    2.564311    8700.00    694
124  2017                9   1086.520387    0.609720    9426.23   1782
125  2017               10    470.941298    0.041369    6106.48  11384
126  2017               11    185.352079    0.095641    8130.85   1938
127  2017               12    425.861858    0.538384    5067.30    791
128  2017               13     66.349935    0.004052    5155.15  16375
129  2017               14    280.454319    0.052946    6903.75   5297
130  2017              119  10206.919309   47.036495   39000.00    217
131  2017              120   4387.160994    0.918393   12744.60   4777
132  2017              121   3799.165217  165.181096    7000.00     23
133  2017              122     35.712513    0.001591    3850.00  22451
134  2017              123     87.835722    0.076379    2066.99   1150
135  2017              137   4529.999565  196.956503   18600.00     23

[136 rows x 6 columns]

In [59]:
with open('sum_mean_max_year_spents_type_total_normalizedbycount.json', 'w') as f: 
    f.write(subquota_number_year.reset_index().to_json(orient='records', lines=True))

In [6]:
sum_subquota_number_year = subquota_number_year.groupby(["year"])['sum'].max()
sum_subquota_number_year

year
2009     4464.804138
2010     5749.726681
2011     5022.931257
2012     5379.620367
2013     8624.183373
2014     9425.022094
2015     8831.942898
2016    10162.549732
2017    10206.919309
Name: sum, dtype: float64

In [15]:
max_expenses_2009 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2009])]
max_expenses_2010 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2010])]
max_expenses_2011 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2011])]
max_expenses_2012 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2012])]
max_expenses_2013 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2013])]
max_expenses_2014 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2014])]
max_expenses_2015 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2015])]
max_expenses_2016 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2016])]
max_expenses_2017 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2017])]

In [16]:
with open('max_expenses_type_year_sum_normalizedbycount.json', 'w',encoding="utf8") as f:
    for df in [max_expenses_2009,max_expenses_2010,max_expenses_2011,max_expenses_2012,max_expenses_2013,max_expenses_2014,max_expenses_2015,max_expenses_2016,max_expenses_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [66]:
max_expenses_2009

   year  subquota_number          sum      mean      max  count
3  2009                4  4464.804138  1.836612  61000.0   2431

In [17]:
mean_subquota_number_year = subquota_number_year.groupby(["year"])['mean'].max()
mean_subquota_number_year

year
2009       3.236495
2010       2.087773
2011       1.687218
2012       1.879015
2013     214.641914
2014      51.517737
2015    2493.333333
2016     156.082168
2017     196.956503
Name: mean, dtype: float64

In [18]:
mean_expenses_2009 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2009])]
mean_expenses_2010 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2010])]
mean_expenses_2011 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2011])]
mean_expenses_2012 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2012])]
mean_expenses_2013 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2013])]
mean_expenses_2014 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2014])]
mean_expenses_2015 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2015])]
mean_expenses_2016 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2016])]
mean_expenses_2017 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2017])]

In [19]:
mean_expenses_2009

   year  subquota_number          sum      mean      max  count
8  2009                9  4103.875079  3.236495  58000.0   1268

In [20]:
with open('max_expenses_type_year_mean_normalizedbycount.json', 'w',encoding="utf8") as f:
    for df in [mean_expenses_2009,mean_expenses_2010,mean_expenses_2011,mean_expenses_2012,mean_expenses_2013,mean_expenses_2014,mean_expenses_2015,mean_expenses_2016,mean_expenses_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [34]:
subquota_number_party_year = df_chamber.groupby(["party", "year", "subquota_number"])['document_value'].agg(['sum', 'mean', 'max', 'count'])
subquota_number_party_year

                                    sum          mean       max  count
party  year subquota_number
AVANTE 2009 1                  44277.46   1054.225238   3000.00     42
            2                  13400.00   6700.000000   6700.00      2
            3                  43133.98   4313.398000   4461.00     10
            5                 154900.00  51633.333333  74000.00      3
            10                   679.67    226.556667    235.71      3
            15                 40200.00   6700.000000   6700.00      6
       2010 1                  92563.14   1142.754815   3152.60     81
            3                  60835.58   4055.705333   4655.00     15
            4                   9000.00   9000.000000   9000.00      1
            5                  62000.00  31000.000000  35000.00      2
            8                   4400.00   4400.000000   4400.00      1
            9                  29400.00   7350.000000  11000.00      4
            10                 15316.12   1178.163077   2004.45     13
            14                  2086.81   1043.405000   1817.55      2
            15                179700.00   6655.555556   7000.00     27
       2011 1                 142020.51   1075.912955   4500.00    132
            3                 115107.71    507.082423   4629.21    227
            4                 103424.83  14774.975714  25000.00      7
            5                  83222.00   3962.952381  20000.00     21
            8                  22000.00   4400.000000   4400.00      5
            9                 126788.01    982.852791  25000.00    129
            10                 41580.75    540.009740   3516.80     77
            11                  9471.60     61.905882    722.00    153
            12                  2782.60    695.650000   1487.70      4
            13                   227.74     45.548000     64.00      5
            14                 19455.99    648.533000   2416.70     30
            15                297956.99   6929.232326  12800.00     43
       2012 1                 161791.20   1207.397015   4704.06    134
            3                 129009.67    424.373914   4500.00    304
            4                  50000.00  16666.666667  20000.00      3
...                                 ...           ...       ...    ...
SD     2016 3                 424951.27    211.103462   6351.85   2013
            4                 849914.01  10492.765556  35000.00     81
            5                1549907.83   5457.421937  72200.00    284
            8                    916.63    152.771667    166.63      6
            9                  26247.00    846.677419   2188.79     31
            10                181258.42    489.887622   2193.91    370
            11                  5433.55     74.432192    528.28     73
            12                  3058.23    139.010455    776.00     22
            13                 40601.96     46.993009    306.90    864
            14                 42088.37    176.101967   3201.60    239
            119               157713.50  15771.350000  23500.00     10
            120               620534.00   3927.430380  15000.00    158
            122                10390.30     15.695317    339.08    662
            123                  107.32     35.773333     99.12      3
            137                 4342.35   2171.175000   3052.35      2
       2017 1                 572000.28    982.818351  12000.00    582
            3                 295557.24    215.420729   5971.35   1372
            4                 616187.00   8930.246377  28500.00     69
            5                1084940.54   4887.119550  72000.00    222
            8                    669.13    167.282500    169.24      4
            9                  14796.98    870.410588   2073.68     17
            10                122725.14    488.944781   2483.00    251
            11                  5363.01    137.513077   1850.90     39
            12                  3045.30    338.366667    860.40      9
            13                 21774.42     41.793512    228.69    521
            14                 29196.35    178.026524    749.96    164
            119               106235.60  10623.560000  19328.70     10
            120               502262.16   4292.838974   9900.00    117
            122                12609.13     19.763527    294.73    638
            123                  147.37    147.370000    147.37      1

[3167 rows x 4 columns]

In [35]:
subquota_number_party_year.reset_index(inplace=True)
subquota_number_party_year['sum'] = subquota_number_party_year['sum']/subquota_number_party_year["count"]
subquota_number_party_year['mean'] = subquota_number_party_year['mean']/subquota_number_party_year["count"]
subquota_number_party_year

,party,year,subquota_number,sum,mean,max,count
0,AVANTE,2009,1,1054.225238,25.100601,3000.00,42
1,AVANTE,2009,2,6700.000000,3350.000000,6700.00,2
2,AVANTE,2009,3,4313.398000,431.339800,4461.00,10
3,AVANTE,2009,5,51633.333333,17211.111111,74000.00,3
4,AVANTE,2009,10,226.556667,75.518889,235.71,3
5,AVANTE,2009,15,6700.000000,1116.666667,6700.00,6
6,AVANTE,2010,1,1142.754815,14.108084,3152.60,81
7,AVANTE,2010,3,4055.705333,270.380356,4655.00,15
8,AVANTE,2010,4,9000.000000,9000.000000,9000.00,1
9,AVANTE,2010,5,31000.000000,15500.000000,35000.00,2
10,AVANTE,2010,8,4400.000000,4400.000000,4400.00,1
11,AVANTE,2010,9,7350.000000,1837.500000,11000.00,4
12,AVANTE,2010,10,1178.163077,90.627929,2004.45,13
13,AVANTE,2010,14,1043.405000,521.702500,1817.55,2
14,AVANTE,2010,15,6655.555556,246.502058,7000.00,27
15,AVANTE,2011,1,1075.912955,8.150856,4500.00,132
16,AVANTE,2011,3,507.082423,2.233843,4629.21,227
17,AVANTE,2011,4,14774.975714,2110.710816,25000.00,7
18,AVANTE,2011,5,3962.952381,188.712018,20000.00,21
19,AVANTE,2011,8,4400.000000,880.000000,4400.00,5
20,AVANTE,2011,9,982.852791,7.619014,25000.00,129
21,AVANTE,2011,10,540.009740,7.013114,3516.80,77
22,AVANTE,2011,11,61.905882,0.404614,722.00,153
23,AVANTE,2011,12,695.650000,173.912500,1487.70,4
24,AVANTE,2011,13,45.548000,9.109600,64.00,5
25,AVANTE,2011,14,648.533000,21.617767,2416.70,30
26,AVANTE,2011,15,6929.232326,161.144938,12800.00,43
27,AVANTE,2012,1,1207.397015,9.010425,4704.06,134
28,AVANTE,2012,3,424.373914,1.395967,4500.00,304
29,AVANTE,2012,4,16666.666667,5555.555556,20000.00,3
...,...,...,...,...,...,...,...
3137,SD,2016,3,211.103462,0.104870,6351.85,2013
3138,SD,2016,4,10492.765556,129.540316,35000.00,81
3139,SD,2016,5,5457.421937,19.216274,72200.00,284
3140,SD,2016,8,152.771667,25.461944,166.63,6
3141,SD,2016,9,846.677419,27.312175,2188.79,31
3142,SD,2016,10,489.887622,1.324021,2193.91,370
3143,SD,2016,11,74.432192,1.019619,528.28,73
3144,SD,2016,12,139.010455,6.318657,776.00,22
3145,SD,2016,13,46.993009,0.054390,306.90,864
3146,SD,2016,14,176.101967,0.736828,3201.60,239
3147,SD,2016,119,15771.350000,1577.135000,23500.00,10
3148,SD,2016,120,3927.430380,24.857154,15000.00,158
3149,SD,2016,122,15.695317,0.023709,339.08,662
3150,SD,2016,123,35.773333,11.924444,99.12,3
3151,SD,2016,137,2171.175000,1085.587500,3052.35,2
3152,SD,2017,1,982.818351,1.688691,12000.00,582
3153,SD,2017,3,215.420729,0.157012,5971.35,1372
3154,SD,2017,4,8930.246377,129.423861,28500.00,69
3155,SD,2017,5,4887.119550,22.014052,72000.00,222
3156,SD,2017,8,167.282500,41.820625,169.24,4
3157,SD,2017,9,870.410588,51.200623,2073.68,17
3158,SD,2017,10,488.944781,1.947987,2483.00,251
3159,SD,2017,11,137.513077,3.525976,1850.90,39
3160,SD,2017,12,338.366667,37.596296,860.40,9
3161,SD,2017,13,41.793512,0.080218,228.69,521
3162,SD,2017,14,178.026524,1.085528,749.96,164
3163,SD,2017,119,10623.560000,1062.356000,19328.70,10
3164,SD,2017,120,4292.838974,36.690931,9900.00,117
3165,SD,2017,122,19.763527,0.030977,294.73,638
3166,SD,2017,123,147.370000,147.370000,147.37,1

In [37]:
subquota_number_party_year["max_spent"] = subquota_number_party_year.groupby(["party","year"])['sum'].transform(max)
maxspentbytype_normalizedbycount = subquota_number_party_year[subquota_number_party_year["sum"] == subquota_number_party_year["max_spent"]]
maxspentbytype_normalizedbycount

,party,year,subquota_number,sum,mean,max,count,max_spent
3,AVANTE,2009,5,51633.333333,17211.111111,74000.00,3,51633.333333
9,AVANTE,2010,5,31000.000000,15500.000000,35000.00,2,31000.000000
17,AVANTE,2011,4,14774.975714,2110.710816,25000.00,7,14774.975714
29,AVANTE,2012,4,16666.666667,5555.555556,20000.00,3,16666.666667
40,AVANTE,2013,4,23333.333333,7777.777778,30000.00,3,23333.333333
52,AVANTE,2014,5,15279.500000,763.975000,58500.00,20,15279.500000
61,AVANTE,2015,4,11312.130435,245.915879,20000.00,46,11312.130435
73,AVANTE,2016,4,14158.846154,544.571006,35000.00,26,14158.846154
85,AVANTE,2017,4,12389.000000,728.764706,40000.00,17,12389.000000
103,DEM,2009,9,5933.501270,94.182560,15000.00,63,5933.501270
113,DEM,2010,5,7034.214708,25.672316,120175.00,274,7034.214708
124,DEM,2011,4,5213.892809,29.291533,18000.00,178,5213.892809
136,DEM,2012,4,5150.451337,29.944485,30000.00,172,5150.451337
158,DEM,2013,119,7825.000000,3912.500000,10400.00,2,7825.000000
173,DEM,2014,119,10363.295833,431.803993,22000.00,24,10363.295833
189,DEM,2015,119,9574.166667,797.847222,19000.00,12,9574.166667
205,DEM,2016,119,12535.200000,1253.520000,24450.00,10,12535.200000
211,DEM,2017,4,6487.220709,46.008658,18000.00,141,6487.220709
229,PCdoB,2009,5,3910.035405,21.135327,40000.00,185,3910.035405
243,PCdoB,2010,5,7691.902800,76.919028,78620.00,100,7691.902800
254,PCdoB,2011,4,4634.657674,53.891368,15000.00,86,4634.657674
266,PCdoB,2012,4,4685.235738,76.807143,15780.00,61,4685.235738
278,PCdoB,2013,4,5246.634146,127.966686,15000.00,41,5246.634146
302,PCdoB,2014,119,11113.250000,2778.312500,16500.00,4,11113.250000
309,PCdoB,2015,4,9237.340909,209.939566,30000.00,44,9237.340909
325,PCdoB,2016,4,10224.655172,176.287158,50000.00,58,10224.655172
341,PCdoB,2017,4,11858.571429,564.693878,22400.00,21,11858.571429
357,PDT,2009,4,6813.533333,113.558889,41900.00,60,6813.533333
371,PDT,2010,4,9414.485195,122.266041,37500.00,77,9414.485195
383,PDT,2011,4,6667.402360,74.914633,28000.00,89,6667.402360
...,...,...,...,...,...,...,...,...
2789,PV,2010,4,5277.560811,71.318389,16999.50,74,5277.560811
2801,PV,2011,4,4013.251867,53.510025,16000.00,75,4013.251867
2813,PV,2012,4,4843.633030,73.388379,27000.00,66,4843.633030
2825,PV,2013,4,5690.095238,135.478458,25000.00,42,5690.095238
2839,PV,2014,4,9837.570000,158.670484,26300.00,62,9837.570000
2853,PV,2015,4,7590.949615,145.979800,25000.00,52,7590.949615
2879,PV,2016,137,7658.135000,1914.533750,7966.72,4,7658.135000
2882,PV,2017,4,3613.500476,86.035726,10000.00,42,3613.500476
2896,REDE,2011,5,2332.600000,466.520000,7560.00,5,2332.600000
2903,REDE,2012,4,2766.666667,922.222222,4000.00,3,2766.666667
2911,REDE,2013,1,1591.396988,19.173458,6787.26,83,1591.396988
2920,REDE,2014,1,2033.325882,29.901851,7381.75,68,2033.325882
2932,REDE,2015,4,5002.813333,555.868148,19800.00,9,5002.813333
2949,REDE,2016,11,7489.773333,2496.591111,22309.00,3,7489.773333
2959,REDE,2017,4,6976.875000,436.054688,19760.00,16,6976.875000
2975,S.PART.,2009,5,1183.344828,13.601665,6970.00,87,1183.344828
2989,S.PART.,2010,9,5217.007500,652.125937,10000.00,8,5217.007500
2998,S.PART.,2011,4,1745.657143,249.379592,6000.00,7,1745.657143
3009,S.PART.,2012,4,2533.085714,361.869388,4500.00,7,2533.085714
3022,S.PART.,2013,9,978.095000,489.047500,1364.34,2,978.095000
3031,S.PART.,2014,5,15917.398000,3183.479600,71340.00,5,15917.398000
3042,SD,2009,4,3581.350000,179.067500,5000.00,20,3581.350000
3056,SD,2010,5,6031.716290,97.285747,37250.00,62,6031.716290
3067,SD,2011,4,6192.422680,63.839409,21570.00,97,6192.422680
3079,SD,2012,4,5866.762295,48.088216,26500.00,122,5866.762295
3103,SD,2013,121,10933.333333,3644.444444,13600.00,3,10933.333333
3118,SD,2014,121,12012.500000,1501.562500,13500.00,8,12012.500000
3123,SD,2015,4,11585.000000,186.854839,60000.00,62,11585.000000
3147,SD,2016,119,15771.350000,1577.135000,23500.00,10,15771.350000
3163,SD,2017,119,10623.560000,1062.356000,19328.70,10,10623.560000

In [38]:
with open('sum_mean_max_year_maxspentbytype_normalizedbycount.json', 'w') as f: 
    f.write(maxspentbytype_normalizedbycount.to_json(orient='records', lines=True))

In [41]:
subquota_number_party_year["mean_spent"] = subquota_number_party_year.groupby(["party","year"])['mean'].transform(max)
meanspentbytype_normalizedbycount = subquota_number_party_year[subquota_number_party_year["mean"] == subquota_number_party_year["mean_spent"]]
meanspentbytype_normalizedbycount

,party,year,subquota_number,sum,mean,max,count,max_spent,mean_spent
3,AVANTE,2009,5,51633.333333,17211.111111,74000.00,3,51633.333333,17211.111111
9,AVANTE,2010,5,31000.000000,15500.000000,35000.00,2,31000.000000,15500.000000
17,AVANTE,2011,4,14774.975714,2110.710816,25000.00,7,14774.975714,2110.710816
29,AVANTE,2012,4,16666.666667,5555.555556,20000.00,3,16666.666667,5555.555556
40,AVANTE,2013,4,23333.333333,7777.777778,30000.00,3,23333.333333,7777.777778
52,AVANTE,2014,5,15279.500000,763.975000,58500.00,20,15279.500000,763.975000
62,AVANTE,2015,5,9937.361538,382.206213,29780.00,26,11312.130435,382.206213
80,AVANTE,2016,119,9150.000000,9150.000000,9150.00,1,14158.846154,9150.000000
92,AVANTE,2017,119,4629.333333,1543.111111,5000.00,3,12389.000000,1543.111111
103,DEM,2009,9,5933.501270,94.182560,15000.00,63,5933.501270,94.182560
115,DEM,2010,9,6122.481340,63.118364,52000.00,97,7034.214708,63.118364
124,DEM,2011,4,5213.892809,29.291533,18000.00,178,5213.892809,29.291533
142,DEM,2012,12,904.715385,34.796746,6550.00,26,5150.451337,34.796746
158,DEM,2013,119,7825.000000,3912.500000,10400.00,2,7825.000000,3912.500000
172,DEM,2014,15,3557.160000,711.432000,6000.00,5,10363.295833,711.432000
191,DEM,2015,121,4754.800000,2377.400000,9500.00,2,9574.166667,2377.400000
205,DEM,2016,119,12535.200000,1253.520000,24450.00,10,12535.200000,1253.520000
220,DEM,2017,119,6167.777778,685.308642,10070.00,9,6487.220709,685.308642
233,PCdoB,2009,9,3297.721739,143.379206,11200.00,23,3910.035405,143.379206
245,PCdoB,2010,9,4697.365556,173.976502,12800.00,27,7691.902800,173.976502
254,PCdoB,2011,4,4634.657674,53.891368,15000.00,86,4634.657674,53.891368
268,PCdoB,2012,8,2232.107200,89.284288,4500.00,25,4685.235738,89.284288
288,PCdoB,2013,120,3723.083333,620.513889,6750.00,6,5246.634146,620.513889
302,PCdoB,2014,119,11113.250000,2778.312500,16500.00,4,11113.250000,2778.312500
318,PCdoB,2015,119,2744.333333,914.777778,4763.00,3,9237.340909,914.777778
334,PCdoB,2016,119,9842.857143,1406.122449,14500.00,7,10224.655172,1406.122449
350,PCdoB,2017,119,8218.347500,2054.586875,14500.00,4,11858.571429,2054.586875
362,PDT,2009,9,6158.715610,150.212576,19500.00,41,6813.533333,150.212576
377,PDT,2010,12,3056.583333,509.430556,17000.00,6,9414.485195,509.430556
385,PDT,2011,8,3367.941875,210.496367,4500.00,16,6667.402360,210.496367
...,...,...,...,...,...,...,...,...,...
2789,PV,2010,4,5277.560811,71.318389,16999.50,74,5277.560811,71.318389
2801,PV,2011,4,4013.251867,53.510025,16000.00,75,4013.251867,53.510025
2813,PV,2012,4,4843.633030,73.388379,27000.00,66,4843.633030,73.388379
2835,PV,2013,120,1661.171250,207.646406,3890.00,8,5690.095238,207.646406
2841,PV,2014,8,3088.298235,181.664602,4960.00,17,9837.570000,181.664602
2853,PV,2015,4,7590.949615,145.979800,25000.00,52,7590.949615,145.979800
2879,PV,2016,137,7658.135000,1914.533750,7966.72,4,7658.135000,1914.533750
2885,PV,2017,9,801.754000,160.350800,1331.39,5,3613.500476,160.350800
2896,REDE,2011,5,2332.600000,466.520000,7560.00,5,2332.600000,466.520000
2903,REDE,2012,4,2766.666667,922.222222,4000.00,3,2766.666667,922.222222
2913,REDE,2013,4,292.000000,292.000000,292.00,1,1591.396988,292.000000
2924,REDE,2014,9,949.860000,949.860000,949.86,1,2033.325882,949.860000
2932,REDE,2015,4,5002.813333,555.868148,19800.00,9,5002.813333,555.868148
2949,REDE,2016,11,7489.773333,2496.591111,22309.00,3,7489.773333,2496.591111
2970,REDE,2017,137,6000.000000,6000.000000,6000.00,1,6976.875000,6000.000000
2974,S.PART.,2009,4,75.000000,75.000000,75.00,1,1183.344828,75.000000
2989,S.PART.,2010,9,5217.007500,652.125937,10000.00,8,5217.007500,652.125937
2998,S.PART.,2011,4,1745.657143,249.379592,6000.00,7,1745.657143,249.379592
3009,S.PART.,2012,4,2533.085714,361.869388,4500.00,7,2533.085714,361.869388
3022,S.PART.,2013,9,978.095000,489.047500,1364.34,2,978.095000,489.047500
3031,S.PART.,2014,5,15917.398000,3183.479600,71340.00,5,15917.398000,3183.479600
3046,SD,2009,9,1207.293333,201.215556,2400.00,6,3581.350000,201.215556
3057,SD,2010,8,1792.497500,448.124375,2880.00,4,6031.716290,448.124375
3069,SD,2011,8,4191.100000,161.196154,4488.00,26,6192.422680,161.196154
3081,SD,2012,8,4371.230769,336.248521,4488.00,13,5866.762295,336.248521
3103,SD,2013,121,10933.333333,3644.444444,13600.00,3,10933.333333,3644.444444
3118,SD,2014,121,12012.500000,1501.562500,13500.00,8,12012.500000,1501.562500
3132,SD,2015,119,9344.446667,3114.815556,17500.00,3,11585.000000,3114.815556
3147,SD,2016,119,15771.350000,1577.135000,23500.00,10,15771.350000,1577.135000
3163,SD,2017,119,10623.560000,1062.356000,19328.70,10,10623.560000,1062.356000

In [42]:
with open('sum_mean_max_year_meanspentbytype_normalizedbycount.json', 'w') as f: 
    f.write(meanspentbytype_normalizedbycount.to_json(orient='records', lines=True))