In [1]:
import pandas as pd
import json

In [2]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')

In [3]:
df_senate = pd.read_csv("./data/Senate/clean_senate.xz",sep=';',compression='xz',parse_dates=['date'],date_parser=dateparse,low_memory=False,index_col=0)

In [4]:
list(df_senate)

['year',
 'month',
 'congressperson_name',
 'expense_type',
 'supplier',
 'date',
 'reimbursement_value',
 'party']

In [5]:
sum_mean_max_year = df_senate.groupby("year")['reimbursement_value'].agg(['sum', 'mean', 'max'])
sum_mean_max_year

              sum         mean       max
year
2008  11575947.40  4726.805798   61250.0
2009  11725424.91   712.705137   66960.0
2010  10751707.81   590.753176   60000.0
2011  18988510.72   743.947294   56758.0
2012  23336265.74   775.651989   88245.0
2013  24644284.56   842.194128   84000.0
2014  22512671.12  1024.514022  162400.0
2015  24845639.68   957.442762  216780.0
2016  25285876.22   947.462388  256980.0
2017  18852938.19   938.424001   45000.0

In [6]:
with open('./json_files/senate/sum_mean_max_year.json', 'w') as f:
    f.write("[" + sum_mean_max_year.reset_index().to_json(orient='records', lines=True) + "]")

In [7]:
df_senate['reimbursement_value'].agg(['sum', 'mean', 'max'])

sum     1.925193e+08
mean    8.885163e+02
max     2.569800e+05
Name: reimbursement_value, dtype: float64

In [8]:
df_cp_year = df_senate.groupby(["congressperson_name", "year"])['reimbursement_value'].agg(['sum', 'mean', 'max']).reset_index()
df_cp_year

                congressperson_name  year        sum          mean       max
0                      ACIR GURGACZ  2009   17620.00   8810.000000  12620.00
1                      ACIR GURGACZ  2010  179510.03   1002.849330  20000.00
2                      ACIR GURGACZ  2011  315733.66   1223.773876  40000.00
3                      ACIR GURGACZ  2012  280383.11   1709.653110  35391.03
4                      ACIR GURGACZ  2013  409890.04   1389.457763   9162.09
5                      ACIR GURGACZ  2014  382905.25   2025.953704  46000.00
6                      ACIR GURGACZ  2015  412941.50   2359.665714  29780.00
7                      ACIR GURGACZ  2016  301970.88   2156.934857  19800.00
8                      ACIR GURGACZ  2017  321743.37   2314.700504   8700.00
9                         ADA MELLO  2008   59962.46   7495.307500  12351.52
10                  ADELMIR SANTANA  2008  163612.32   7436.923636  15000.00
11                  ADELMIR SANTANA  2009  178174.44   6143.946207  66960.00
12                  ADELMIR SANTANA  2010  180000.00  15000.000000  21000.00
13                  ADELMIR SANTANA  2011   15000.00  15000.000000  15000.00
14                      AECIO NEVES  2011  180990.41   1103.600061   8000.00
15                      AECIO NEVES  2012  252715.42    834.044290   8362.00
16                      AECIO NEVES  2013  286004.86    792.257230   8831.11
17                      AECIO NEVES  2014  214075.14   1408.389079   9330.95
18                      AECIO NEVES  2015  268031.78   1015.271894  10000.00
19                      AECIO NEVES  2016  295335.85    962.006026   9000.00
20                      AECIO NEVES  2017  146748.50    922.946541   9000.00
21                  AIRTON SANDOVAL  2017  137813.62    753.079891   6766.00
22                   ALFREDO COTAIT  2010   29532.64    335.598182  18000.00
23                   ALFREDO COTAIT  2011   15000.00    375.000000   8976.15
24               ALFREDO NASCIMENTO  2010   10756.98   1344.622500   2500.00
25               ALFREDO NASCIMENTO  2011   66410.39   1328.207800   3000.00
26               ALFREDO NASCIMENTO  2012  193696.51   1445.496343   5181.25
27               ALFREDO NASCIMENTO  2013  327838.22   1939.871124   8000.00
28               ALFREDO NASCIMENTO  2014  229497.37   1807.065906   8000.00
29               ALFREDO NASCIMENTO  2015   20083.63   2008.363000   3420.00
..                              ...   ...        ...           ...       ...
886                 WALTER PINHEIRO  2012  247767.63    561.831361   4500.00
887                 WALTER PINHEIRO  2013  233187.38    602.551370   8400.00
888                 WALTER PINHEIRO  2014  169061.35    569.230135   3575.97
889                 WALTER PINHEIRO  2015  175530.91    601.133253   3717.71
890                 WALTER PINHEIRO  2016   78455.02    622.658889   4125.22
891                 WELLINGTON DIAS  2011  328405.01   1277.840506  13020.00
892                 WELLINGTON DIAS  2012  421996.11   1528.971413   8050.00
893                 WELLINGTON DIAS  2013  465934.55   1109.367976   7990.00
894                 WELLINGTON DIAS  2014  374444.70   1456.983268  19340.00
895             WELLINGTON FAGUNDES  2015  359067.72    480.679679  85000.00
896             WELLINGTON FAGUNDES  2016  415154.23    448.815384  40000.00
897             WELLINGTON FAGUNDES  2017  265709.20    389.032504   4500.00
898  WELLINGTON SALGADO DE OLIVEIRA  2008  110236.74   2563.645116   7070.00
899  WELLINGTON SALGADO DE OLIVEIRA  2009  154715.26    289.728951  40000.00
900  WELLINGTON SALGADO DE OLIVEIRA  2010   44478.63    232.872408   9523.72
901                   WILDER MORAIS  2012   67136.14    729.740652  10000.00
902                   WILDER MORAIS  2013  180251.56    706.868863   8246.43
903                   WILDER MORAIS  2014  117540.17    656.648994   8292.00
904                   WILDER MORAIS  2015  251598.90    628.997250  10446.71
905                   WILDER MORAIS  2016  252542.40    693.797802  10693.80
906                   WILDER MORAIS  2017  172205.41   1103.880833  11223.58
907                 WILSON SANTIAGO  2011  282758.27   1273.685901  20250.00
908                 WIRLANDE DA LUZ  2016   11298.25   1129.825000   2234.37
909                   ZEZE PERRELLA  2011  161942.97   2841.104737  15000.00
910                   ZEZE PERRELLA  2012  335890.42   1805.862473  18333.35
911                   ZEZE PERRELLA  2013  222520.97   1636.183603   9000.00
912                   ZEZE PERRELLA  2014  254646.81   2233.743947   9000.00
913                   ZEZE PERRELLA  2015  341787.74   1436.082941  20000.00
914                   ZEZE PERRELLA  2016  322433.80    810.135176  80000.00
915                   ZEZE PERRELLA  2017  253138.97    431.241857  10000.00

[916 rows x 5 columns]

In [9]:
sum_years = df_cp_year.groupby("year")['sum'].max()

In [10]:
sum_2008 = df_cp_year[(df_cp_year['year'] == 2008) & (df_cp_year['sum'] == sum_years[2008])]
sum_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['sum'] == sum_years[2009])]
sum_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['sum'] == sum_years[2010])]
sum_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['sum'] == sum_years[2011])]
sum_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['sum'] == sum_years[2012])]
sum_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['sum'] == sum_years[2013])]
sum_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['sum'] == sum_years[2014])]
sum_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['sum'] == sum_years[2015])]
sum_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['sum'] == sum_years[2016])]
sum_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['sum'] == sum_years[2017])]

In [11]:
with open('./json_files/senate/sum_mean_max_year_congressperson_maxtotal.json', 'w',encoding="utf8") as f:
    for df in [sum_2008,sum_2009,sum_2010,sum_2011,sum_2012,sum_2013,sum_2014,sum_2015,sum_2016,sum_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [12]:
mean_max_year = df_cp_year.groupby("year")['mean'].max()

In [13]:
mean_max_year

year
2008    16290.201818
2009    16363.636364
2010    15000.000000
2011    15000.000000
2012     7416.013824
2013    15530.716000
2014    24745.000000
2015    19121.563636
2016    21687.337778
2017    31180.457778
Name: mean, dtype: float64

In [14]:
mean_2008 = df_cp_year[(df_cp_year['year'] == 2008) & (df_cp_year['mean'] == mean_max_year[2008])]
mean_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['mean'] == mean_max_year[2009])]
mean_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['mean'] == mean_max_year[2010])]
mean_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['mean'] == mean_max_year[2011])]
mean_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['mean'] == mean_max_year[2012])]
mean_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['mean'] == mean_max_year[2013])]
mean_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['mean'] == mean_max_year[2014])]
mean_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['mean'] == mean_max_year[2015])]
mean_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['mean'] == mean_max_year[2016])]
mean_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['mean'] == mean_max_year[2017])]

In [15]:
with open('./json_files/senate/sum_mean_max_year_congressperson_maxmean.json', 'w',encoding="utf8") as f:
    for df in [mean_2008,mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [16]:
mean_min_year = df_cp_year.groupby("year")['mean'].min()
mean_2008 = df_cp_year[(df_cp_year['year'] == 2008) & (df_cp_year['mean'] == mean_min_year[2008])]
mean_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['mean'] == mean_min_year[2009])]
mean_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['mean'] == mean_min_year[2010])]
mean_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['mean'] == mean_min_year[2011])]
mean_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['mean'] == mean_min_year[2012])]
mean_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['mean'] == mean_min_year[2013])]
mean_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['mean'] == mean_min_year[2014])]
mean_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['mean'] == mean_min_year[2015])]
mean_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['mean'] == mean_min_year[2016])]
mean_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['mean'] == mean_min_year[2017])]

In [17]:
with open('./json_files/senate/sum_mean_max_year_congressperson_minmean.json', 'w',encoding="utf8") as f:
    for df in [mean_2008,mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [18]:
df_party_year = df_senate.groupby(["party", "year"])['reimbursement_value'].agg(['sum', 'mean', 'max', 'count']).reset_index()
# Comment lines bellow if dont want to consider number of politicians in each party
df_party_year['sum'] = df_party_year['sum']/df_party_year["count"]
df_party_year['mean'] = df_party_year['mean']/df_party_year["count"]
df_party_year

         party  year           sum         mean        max  count
0          DEM  2008   5331.521527    15.364615   32900.00    347
1          DEM  2009    879.045668     0.376626   66960.00   2334
2          DEM  2010    818.111744     0.330951   37300.00   2472
3          DEM  2011   1192.091472     1.581023   15000.00    754
4          DEM  2012   1243.892582     1.408712   19140.00    883
5          DEM  2013   1078.743558     1.119029   10000.00    964
6          DEM  2014   1289.527525     1.636456   25000.00    788
7          DEM  2015   1019.831072     0.769684  216780.00   1325
8          DEM  2016   1059.672642     0.858730  256980.00   1234
9          DEM  2017    925.021472     1.031239   11223.58    897
10       False  2011    522.268414     1.104162   15000.00    473
11       False  2015    779.548499     1.104176   35000.00    706
12       False  2016    944.997819     0.862224   17500.00   1096
13       False  2017   1203.476549     3.270317   21000.00    368
14       PCdoB  2008   3883.926316   102.208587   13684.90     38
15       PCdoB  2009   1216.216216     8.217677   11712.35    148
16       PCdoB  2010    902.849467     5.342305    6000.00    169
17       PCdoB  2011    814.769555     0.979290   26400.00    832
18       PCdoB  2012    979.347227     1.275192   28000.00    768
19       PCdoB  2013   1007.471180     1.090337   18900.00    924
20       PCdoB  2014   1113.258810     1.440180   20000.00    773
21       PCdoB  2015   1643.529497     5.168332   28362.00    318
22       PCdoB  2016   1716.114245     6.173073   17000.00    278
23       PCdoB  2017   1206.254008     4.984521   12000.00    242
24         PDT  2008   3457.536136    19.645092   27221.00    176
25         PDT  2009    455.199993     0.302458   12620.00   1505
26         PDT  2010    453.307472     0.285818   20000.00   1586
27         PDT  2011    785.544136     0.628435   40000.00   1250
28         PDT  2012    982.853288     0.749697   35391.03   1311
29         PDT  2013    781.347650     0.503121    9162.09   1553
..         ...   ...           ...          ...        ...    ...
138         PT  2013    694.054124     0.112325   29865.00   6179
139         PT  2014    825.943987     0.164171  162400.00   5031
140         PT  2015    778.916931     0.140853   30000.00   5530
141         PT  2016    765.642232     0.138028   44500.00   5547
142         PT  2017    715.980090     0.165048   12771.00   4338
143        PTB  2008   5800.128134    27.751809   41239.32    209
144        PTB  2009    872.975923     0.683080   55000.00   1278
145        PTB  2010    904.934795     0.726855   56800.00   1245
146        PTB  2011    994.646924     0.533037   56758.00   1866
147        PTB  2012    983.514075     0.443824   60000.00   2216
148        PTB  2013   1409.727859     0.917194   32999.94   1537
149        PTB  2014   2085.712585     2.354077  150000.00    886
150        PTB  2015    981.200024     1.189333   23852.60    825
151        PTB  2016    776.876857     0.838960   18000.00    926
152        PTB  2017    834.123748     1.281296   14000.00    651
153        PTC  2015  18896.276190   899.822676   28174.24     21
154        PTC  2016  20022.429048   953.449002   28922.72     21
155        PTC  2017  31180.457778  3464.495309   38500.96      9
156         PV  2008   2550.204762   121.438322    8958.91     21
157         PV  2009    840.535086     7.245992   11467.49    116
158         PV  2010    535.537945     7.336136    2400.00     73
159         PV  2011    637.278052     2.069085    3000.00    308
160         PV  2012    652.551696     1.908046    5266.84    342
161         PV  2013    742.972969     2.081157    5000.00    357
162         PV  2014    789.509343     2.881421    5000.00    274
163  S/Partido  2008   7376.996087   320.738960   25829.25     23
164  S/Partido  2009   2683.582239    40.053466   12790.50     67
165  S/Partido  2010   2416.271486    32.652317   13864.62     74
166  S/Partido  2011   1867.948333    14.151124   13134.48    132
167  S/Partido  2012   1264.669474    16.640388   11000.00     76

[168 rows x 6 columns]

In [19]:
sum_years = df_party_year.groupby("year")['sum'].max()
sum_years

year
2008     7376.996087
2009     2683.582239
2010     2416.271486
2011     3112.926387
2012     3172.421172
2013     3181.654247
2014     4126.136106
2015    18896.276190
2016    20022.429048
2017    31180.457778
Name: sum, dtype: float64

In [20]:
sum_party_2008 = df_party_year[(df_party_year['year'] == 2008) & (df_party_year['sum'] == sum_years[2008])]
sum_party_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['sum'] == sum_years[2009])]
sum_party_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['sum'] == sum_years[2010])]
sum_party_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['sum'] == sum_years[2011])]
sum_party_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['sum'] == sum_years[2012])]
sum_party_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['sum'] == sum_years[2013])]
sum_party_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['sum'] == sum_years[2014])]
sum_party_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['sum'] == sum_years[2015])]
sum_party_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['sum'] == sum_years[2016])]
sum_party_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['sum'] == sum_years[2017])]

In [21]:
sum_party_2017

    party  year           sum         mean       max  count
155   PTC  2017  31180.457778  3464.495309  38500.96      9

In [22]:
with open('./json_files/senate/sum_mean_max_year_party_maxtotal.json', 'w',encoding="utf8") as f:
    for df in [sum_party_2008,sum_party_2009,sum_party_2010,sum_party_2011,sum_party_2012,sum_party_2013,sum_party_2014,sum_party_2015,sum_party_2016,sum_party_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [23]:
mean_max_year = df_party_year.groupby("year")['mean'].max()
mean_max_year

year
2008     320.738960
2009      40.053466
2010      32.652317
2011      26.159045
2012      21.878767
2013      30.890533
2014      36.514479
2015     899.822676
2016     953.449002
2017    3464.495309
Name: mean, dtype: float64

In [24]:
mean_2008 = df_party_year[(df_party_year['year'] == 2008) & (df_party_year['mean'] == mean_max_year[2008])]
mean_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['mean'] == mean_max_year[2009])]
mean_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['mean'] == mean_max_year[2010])]
mean_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['mean'] == mean_max_year[2011])]
mean_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['mean'] == mean_max_year[2012])]
mean_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['mean'] == mean_max_year[2013])]
mean_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['mean'] == mean_max_year[2014])]
mean_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['mean'] == mean_max_year[2015])]
mean_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['mean'] == mean_max_year[2016])]
mean_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['mean'] == mean_max_year[2017])]

In [25]:
with open('./json_files/senate/sum_mean_max_year_party_maxmean.json', 'w',encoding="utf8") as f:
    for df in [mean_2008,mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [26]:
mean_min_year = df_party_year.groupby("year")['mean'].min()

In [27]:
mean_2008 = df_party_year[(df_party_year['year'] == 2008) & (df_party_year['mean'] == mean_min_year[2008])]
mean_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['mean'] == mean_min_year[2009])]
mean_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['mean'] == mean_min_year[2010])]
mean_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['mean'] == mean_min_year[2011])]
mean_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['mean'] == mean_min_year[2012])]
mean_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['mean'] == mean_min_year[2013])]
mean_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['mean'] == mean_min_year[2014])]
mean_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['mean'] == mean_min_year[2015])]
mean_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['mean'] == mean_min_year[2016])]
mean_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['mean'] == mean_min_year[2017])]

In [28]:
with open('./json_files/senate/sum_mean_max_year_party_minmean.json', 'w',encoding="utf8") as f:
    for df in [mean_2008,mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [29]:
expense_type = pd.unique(df_senate["expense_type"]).tolist()

In [30]:
expense_type

['Recruitment of consultancies, advisory services, research, technical work and other services in support of the exercise of the parliamentary mandate',
 'Locomotion, lodging, food, fuels and lubricants',
 'Acquisition of consumables for use in the political office, including acquisition or leasing of software, postal expenses, acquisition of publications, rental of furniture and equipment',
 'Publicity of parliamentary activity',
 'Rent of real estate for political office, comprising expenses concerning them',
 'National air, water and land transport',
 'Private Security Services']

In [31]:
df_senate["expense_type_id"] = df_senate["expense_type"].map(lambda x: expense_type.index(x))

In [32]:
df_senate.head()

,year,month,congressperson_name,expense_type,supplier,date,reimbursement_value,party,expense_type_id
0,2008,9,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,2008-09-30,12351.52,PTB,0
1,2008,9,ADA MELLO,"Locomotion, lodging, food, fuels and lubricants",NaN,2008-09-30,386.60,PTB,1
2,2008,10,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,2008-10-31,12351.52,PTB,0
3,2008,10,ADA MELLO,"Locomotion, lodging, food, fuels and lubricants",NaN,2008-10-31,2610.68,PTB,1
4,2008,11,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,2008-11-30,12351.52,PTB,0

In [33]:
subquota_number_year = df_senate.groupby(["year", "expense_type_id"])['reimbursement_value'].agg(['sum', 'mean', 'max',"count"])
subquota_number_year

                             sum         mean        max  count
year expense_type_id
2008 0                2208397.41  5007.703878   45175.85    441
     1                5158631.74  6563.144707   41239.32    786
     2                 757509.36  1565.101983   27000.00    484
     3                1134096.81  7662.816284   61250.00    148
     4                2317312.08  3927.647593   18793.95    590
2009 0                1705488.25  2229.396405   66960.00    765
     1                4723703.23   468.760864   42400.00  10077
     2                 625400.91   364.665254   16000.00   1715
     3                1997519.88  2380.834184   55000.00    839
     4                2673312.64   874.775079   15000.00   3056
2010 0                2032545.53  2534.346047   60000.00    802
     1                4407043.90   382.124677   24400.00  11533
     2                 601113.30   308.105228   10000.00   1951
     3                 967499.51  3042.451289   34400.00    318
     4                2743505.57   762.932583   15000.00   3596
2011 0                2589517.74  3208.820000   50000.00    807
     1                5764824.19   484.357603   30000.00  11902
     2                 749207.19   316.923515   16050.00   2364
     3                2807471.72  2432.817782   56758.00   1154
     4                3375625.51   815.171579   15000.00   4141
     5                3482161.92   685.464945   14000.00   5080
     6                 219702.45  2890.821711   15372.62     76
2012 0                2517317.67  3496.274542   46000.00    720
     1                6119616.76   467.574630   28000.00  13088
     2                 920952.16   388.259764   10120.00   2372
     3                3189724.59  3463.327459   88245.00    921
     4                4051401.01   789.746786   12612.98   5130
     5                6264591.97   808.021665    8400.00   7753
     6                 272661.58  2673.152745   15372.62    102
2013 0                2504936.81  3727.584539   50000.00    672
...                          ...          ...        ...    ...
     5                7307804.84   903.648428   84000.00   8087
     6                 395868.64  4657.278118   20524.44     85
2014 0                2755498.75  4137.385511  150000.00    666
     1                4980694.50   669.808297   20500.00   7436
     2                 794620.85   381.479045   11070.00   2083
     3                2907771.79  3945.416269  162400.00    737
     4                4532267.73   942.455340   14117.17   4809
     5                6067949.99   988.587486    8000.00   6138
     6                 473867.51  4513.023905   23852.60    105
2015 0                3195317.75  2832.728502   85000.00   1128
     1                5602725.24   582.282814   29520.00   9622
     2                 807530.95   439.353074   14500.00   1838
     3                3276294.25  3519.113050  216780.00    931
     4                4710442.85   974.036983   12000.00   4836
     5                6801863.26   912.267068   10142.64   7456
     6                 451465.38  3247.952374   28174.24    139
2016 0                3109141.76  3211.923306   80000.00    968
     1                5915892.99   572.912356   16560.00  10326
     2                1053998.25   520.750124   15000.00   2024
     3                3585465.79  3310.679400  256980.00   1083
     4                4976764.44   940.787229   12000.00   5290
     5                6149743.11   897.379704    7680.60   6853
     6                 494869.88  3436.596389   28922.72    144
2017 0                2386998.09  3536.293467   45000.00    675
     1                4288131.30   528.811358   20000.00   8109
     2                 615519.27   455.602717    8600.00   1351
     3                2329032.49  2714.490082   31950.00    858
     4                3742026.51   962.455378   14000.00   3888
     5                5040428.07   989.871970    5796.74   5092
     6                 450802.46  3853.012479   38500.96    117

[64 rows x 4 columns]

In [34]:
with open('./json_files/senate/sum_mean_max_year_spents_type_total.json', 'w') as f: 
    f.write("[" + subquota_number_year.reset_index().to_json(orient='records', lines=True)+"]")

In [35]:
subquota_number_year.reset_index(inplace=True)
subquota_number_year['sum'] = subquota_number_year['sum']/subquota_number_year["count"]
subquota_number_year['mean'] = subquota_number_year['mean']/subquota_number_year["count"]
subquota_number_year

    year  expense_type_id          sum       mean        max  count
0   2008                0  5007.703878  11.355338   45175.85    441
1   2008                1  6563.144707   8.350057   41239.32    786
2   2008                2  1565.101983   3.233682   27000.00    484
3   2008                3  7662.816284  51.775786   61250.00    148
4   2008                4  3927.647593   6.657030   18793.95    590
5   2009                0  2229.396405   2.914244   66960.00    765
6   2009                1   468.760864   0.046518   42400.00  10077
7   2009                2   364.665254   0.212633   16000.00   1715
8   2009                3  2380.834184   2.837705   55000.00    839
9   2009                4   874.775079   0.286248   15000.00   3056
10  2010                0  2534.346047   3.160032   60000.00    802
11  2010                1   382.124677   0.033133   24400.00  11533
12  2010                2   308.105228   0.157922   10000.00   1951
13  2010                3  3042.451289   9.567457   34400.00    318
14  2010                4   762.932583   0.212161   15000.00   3596
15  2011                0  3208.820000   3.976233   50000.00    807
16  2011                1   484.357603   0.040695   30000.00  11902
17  2011                2   316.923515   0.134062   16050.00   2364
18  2011                3  2432.817782   2.108161   56758.00   1154
19  2011                4   815.171579   0.196854   15000.00   4141
20  2011                5   685.464945   0.134934   14000.00   5080
21  2011                6  2890.821711  38.037128   15372.62     76
22  2012                0  3496.274542   4.855937   46000.00    720
23  2012                1   467.574630   0.035725   28000.00  13088
24  2012                2   388.259764   0.163685   10120.00   2372
25  2012                3  3463.327459   3.760399   88245.00    921
26  2012                4   789.746786   0.153947   12612.98   5130
27  2012                5   808.021665   0.104221    8400.00   7753
28  2012                6  2673.152745  26.207380   15372.62    102
29  2013                0  3727.584539   5.547001   50000.00    672
..   ...              ...          ...        ...        ...    ...
34  2013                5   903.648428   0.111741   84000.00   8087
35  2013                6  4657.278118  54.791507   20524.44     85
36  2014                0  4137.385511   6.212291  150000.00    666
37  2014                1   669.808297   0.090076   20500.00   7436
38  2014                2   381.479045   0.183139   11070.00   2083
39  2014                3  3945.416269   5.353346  162400.00    737
40  2014                4   942.455340   0.195977   14117.17   4809
41  2014                5   988.587486   0.161060    8000.00   6138
42  2014                6  4513.023905  42.981180   23852.60    105
43  2015                0  2832.728502   2.511284   85000.00   1128
44  2015                1   582.282814   0.060516   29520.00   9622
45  2015                2   439.353074   0.239039   14500.00   1838
46  2015                3  3519.113050   3.779928  216780.00    931
47  2015                4   974.036983   0.201414   12000.00   4836
48  2015                5   912.267068   0.122353   10142.64   7456
49  2015                6  3247.952374  23.366564   28174.24    139
50  2016                0  3211.923306   3.318103   80000.00    968
51  2016                1   572.912356   0.055483   16560.00  10326
52  2016                2   520.750124   0.257288   15000.00   2024
53  2016                3  3310.679400   3.056952  256980.00   1083
54  2016                4   940.787229   0.177843   12000.00   5290
55  2016                5   897.379704   0.130947    7680.60   6853
56  2016                6  3436.596389  23.865253   28922.72    144
57  2017                0  3536.293467   5.238953   45000.00    675
58  2017                1   528.811358   0.065213   20000.00   8109
59  2017                2   455.602717   0.337234    8600.00   1351
60  2017                3  2714.490082   3.163741   31950.00    858
61  2017                4   962.455378   0.247545   14000.00   3888
62  2017                5   989.871970   0.194397    5796.74   5092
63  2017                6  3853.012479  32.931731   38500.96    117

[64 rows x 6 columns]

In [36]:
with open('./json_files/senate/sum_mean_max_year_spents_type_total_normalizedbycount.json', 'w') as f: 
    f.write("[" + subquota_number_year.reset_index().to_json(orient='records', lines=True) + "]")

In [37]:
sum_subquota_number_year = subquota_number_year.groupby(["year"])['sum'].max()
sum_subquota_number_year

year
2008    7662.816284
2009    2380.834184
2010    3042.451289
2011    3208.820000
2012    3496.274542
2013    4657.278118
2014    4513.023905
2015    3519.113050
2016    3436.596389
2017    3853.012479
Name: sum, dtype: float64

In [38]:
max_expenses_2008 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2008])]
max_expenses_2009 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2009])]
max_expenses_2010 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2010])]
max_expenses_2011 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2011])]
max_expenses_2012 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2012])]
max_expenses_2013 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2013])]
max_expenses_2014 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2014])]
max_expenses_2015 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2015])]
max_expenses_2016 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2016])]
max_expenses_2017 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2017])]

In [39]:
with open('./json_files/senate/max_expenses_type_year_sum_normalizedbycount.json', 'w',encoding="utf8") as f:
    for df in [max_expenses_2008,max_expenses_2009,max_expenses_2010,max_expenses_2011,max_expenses_2012,max_expenses_2013,max_expenses_2014,max_expenses_2015,max_expenses_2016,max_expenses_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [40]:
mean_subquota_number_year = subquota_number_year.groupby(["year"])['mean'].max()
mean_subquota_number_year

year
2008    51.775786
2009     2.914244
2010     9.567457
2011    38.037128
2012    26.207380
2013    54.791507
2014    42.981180
2015    23.366564
2016    23.865253
2017    32.931731
Name: mean, dtype: float64

In [41]:
mean_expenses_2008 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2008])]
mean_expenses_2009 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2009])]
mean_expenses_2010 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2010])]
mean_expenses_2011 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2011])]
mean_expenses_2012 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2012])]
mean_expenses_2013 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2013])]
mean_expenses_2014 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2014])]
mean_expenses_2015 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2015])]
mean_expenses_2016 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2016])]
mean_expenses_2017 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2017])]

In [42]:
with open('./json_files/senate/max_expenses_type_year_mean_normalizedbycount.json', 'w',encoding="utf8") as f:
    for df in [mean_expenses_2008,mean_expenses_2009,mean_expenses_2010,mean_expenses_2011,mean_expenses_2012,mean_expenses_2013,mean_expenses_2014,mean_expenses_2015,mean_expenses_2016,mean_expenses_2017]:
        f.write( df.to_json(orient='records', lines=True) + "\n")

In [43]:
df_senate.head()["expense_type"]

0    Recruitment of consultancies, advisory service...
1      Locomotion, lodging, food, fuels and lubricants
2    Recruitment of consultancies, advisory service...
3      Locomotion, lodging, food, fuels and lubricants
4    Recruitment of consultancies, advisory service...
Name: expense_type, dtype: object

In [44]:
subquota_number_party_year = df_senate.groupby(["party", "year", "expense_type_id"])['reimbursement_value'].agg(['sum', 'mean', 'max', 'count'])
subquota_number_party_year

                                      sum          mean       max  count
party     year expense_type_id
DEM       2008 0                535136.68   8232.872000  32900.00     65
               1                823764.84   6590.118720  17417.36    125
               2                 91963.06   1642.197500  27000.00     56
               3                228857.65   6935.080303  15000.00     33
               4                170315.74   2504.643235  11361.01     68
          2009 0                532134.58   3595.503919  66960.00    148
               1                759231.87    516.835854  14464.44   1469
               2                 49790.90    263.443915   4757.45    189
               3                404129.56   2694.197067  23000.00    150
               4                306405.68    810.597037  12466.95    378
          2010 0                733565.43   4672.391274  37300.00    157
               1                711011.90    435.669056   8850.00   1632
               2                 69677.07    374.607903   5271.19    186
               3                176254.98   2554.420000  34400.00     69
               4                331862.85    775.380491   5099.94    428
          2011 0                134137.36   1524.288182  15000.00     88
               1                312050.20   1560.251000  11091.80    200
               2                 34777.09    399.736667   7890.00     87
               3                 81830.60   2639.696774  15000.00     31
               4                184413.51   1271.817310   4500.00    145
               5                125155.52    655.264503   2729.58    191
               6                 26472.69   2206.057500   2988.11     12
          2012 0                158741.58   2784.940000  15000.00     57
               1                381454.95   1825.143301  19140.00    209
               2                 23515.33    199.282458   3980.00    118
               3                 56201.00   3122.277778  10000.00     18
               4                223033.62   1167.715288   4703.85    191
               5                217118.35    786.660688   3329.27    276
               6                 38292.32   2735.165714   3288.11     14
          2013 0                 31329.09   1362.134348   8400.00     23
...                                   ...           ...       ...    ...
PV        2014 3                  5200.00   1733.333333   2700.00      3
               4                 38492.88    396.833814   1600.00     97
               5                 54826.77    913.779500   2884.18     60
S/Partido 2008 0                    90.00     90.000000     90.00      1
               1                115630.17  10511.833636  16737.02     11
               2                  3293.00   1097.666667   3000.00      3
               3                 49048.15   9809.630000  25829.25      5
               4                  1609.59    536.530000    742.51      3
          2009 0                  1500.00   1500.000000   1500.00      1
               1                122822.04   2729.378667  11385.68     45
               2                   100.00    100.000000    100.00      1
               3                 49174.00   3073.375000  12790.50     16
               4                  6203.97   1550.992500   5636.13      4
          2010 0                  5360.00   2680.000000   3360.00      2
               1                137079.77   2636.149423  13864.62     52
               2                   223.90    111.950000    115.90      2
               3                 31625.00   4517.857143  10000.00      7
               4                  4515.42    410.492727    766.16     11
          2011 0                111700.00   8592.307692  12000.00     13
               1                 78569.41   2182.483611  13134.48     36
               2                 11105.08    793.220000   4800.00     14
               4                 36536.87    689.374906   2111.06     53
               5                  8374.64    598.188571   1346.69     14
               6                   283.18    141.590000    158.69      2
          2012 0                 49500.00   9900.000000  11000.00      5
               1                 18176.18    956.641053   5042.45     19
               2                  1423.30    355.825000    584.40      4
               4                 23854.54    581.818049   2503.00     41
               5                  3002.17    500.361667    529.66      6
               6                   158.69    158.690000    158.69      1

[973 rows x 4 columns]

In [45]:
subquota_number_party_year.reset_index(inplace=True)
subquota_number_party_year['sum'] = subquota_number_party_year['sum']/subquota_number_party_year["count"]
subquota_number_party_year['mean'] = subquota_number_party_year['mean']/subquota_number_party_year["count"]
subquota_number_party_year

,party,year,expense_type_id,sum,mean,max,count
0,DEM,2008,0,8232.872000,126.659569,32900.00,65
1,DEM,2008,1,6590.118720,52.720950,17417.36,125
2,DEM,2008,2,1642.197500,29.324955,27000.00,56
3,DEM,2008,3,6935.080303,210.153949,15000.00,33
4,DEM,2008,4,2504.643235,36.832989,11361.01,68
5,DEM,2009,0,3595.503919,24.293945,66960.00,148
6,DEM,2009,1,516.835854,0.351828,14464.44,1469
7,DEM,2009,2,263.443915,1.393883,4757.45,189
8,DEM,2009,3,2694.197067,17.961314,23000.00,150
9,DEM,2009,4,810.597037,2.144437,12466.95,378
10,DEM,2010,0,4672.391274,29.760454,37300.00,157
11,DEM,2010,1,435.669056,0.266954,8850.00,1632
12,DEM,2010,2,374.607903,2.014021,5271.19,186
13,DEM,2010,3,2554.420000,37.020580,34400.00,69
14,DEM,2010,4,775.380491,1.811637,5099.94,428
15,DEM,2011,0,1524.288182,17.321457,15000.00,88
16,DEM,2011,1,1560.251000,7.801255,11091.80,200
17,DEM,2011,2,399.736667,4.594674,7890.00,87
18,DEM,2011,3,2639.696774,85.151509,15000.00,31
19,DEM,2011,4,1271.817310,8.771154,4500.00,145
20,DEM,2011,5,655.264503,3.430704,2729.58,191
21,DEM,2011,6,2206.057500,183.838125,2988.11,12
22,DEM,2012,0,2784.940000,48.858596,15000.00,57
23,DEM,2012,1,1825.143301,8.732743,19140.00,209
24,DEM,2012,2,199.282458,1.688834,3980.00,118
25,DEM,2012,3,3122.277778,173.459877,10000.00,18
26,DEM,2012,4,1167.715288,6.113693,4703.85,191
27,DEM,2012,5,786.660688,2.850220,3329.27,276
28,DEM,2012,6,2735.165714,195.368980,3288.11,14
29,DEM,2013,0,1362.134348,59.223233,8400.00,23
...,...,...,...,...,...,...,...
943,PV,2014,3,1733.333333,577.777778,2700.00,3
944,PV,2014,4,396.833814,4.091070,1600.00,97
945,PV,2014,5,913.779500,15.229658,2884.18,60
946,S/Partido,2008,0,90.000000,90.000000,90.00,1
947,S/Partido,2008,1,10511.833636,955.621240,16737.02,11
948,S/Partido,2008,2,1097.666667,365.888889,3000.00,3
949,S/Partido,2008,3,9809.630000,1961.926000,25829.25,5
950,S/Partido,2008,4,536.530000,178.843333,742.51,3
951,S/Partido,2009,0,1500.000000,1500.000000,1500.00,1
952,S/Partido,2009,1,2729.378667,60.652859,11385.68,45
953,S/Partido,2009,2,100.000000,100.000000,100.00,1
954,S/Partido,2009,3,3073.375000,192.085938,12790.50,16
955,S/Partido,2009,4,1550.992500,387.748125,5636.13,4
956,S/Partido,2010,0,2680.000000,1340.000000,3360.00,2
957,S/Partido,2010,1,2636.149423,50.695181,13864.62,52
958,S/Partido,2010,2,111.950000,55.975000,115.90,2
959,S/Partido,2010,3,4517.857143,645.408163,10000.00,7
960,S/Partido,2010,4,410.492727,37.317521,766.16,11
961,S/Partido,2011,0,8592.307692,660.946746,12000.00,13
962,S/Partido,2011,1,2182.483611,60.624545,13134.48,36
963,S/Partido,2011,2,793.220000,56.658571,4800.00,14
964,S/Partido,2011,4,689.374906,13.007074,2111.06,53
965,S/Partido,2011,5,598.188571,42.727755,1346.69,14
966,S/Partido,2011,6,141.590000,70.795000,158.69,2
967,S/Partido,2012,0,9900.000000,1980.000000,11000.00,5
968,S/Partido,2012,1,956.641053,50.349529,5042.45,19
969,S/Partido,2012,2,355.825000,88.956250,584.40,4
970,S/Partido,2012,4,581.818049,14.190684,2503.00,41
971,S/Partido,2012,5,500.361667,83.393611,529.66,6
972,S/Partido,2012,6,158.690000,158.690000,158.69,1

In [46]:
subquota_number_party_year["max_spent"] = subquota_number_party_year.groupby(["party","year"])['sum'].transform(max)
maxspentbytype_normalizedbycount = subquota_number_party_year[subquota_number_party_year["sum"] == subquota_number_party_year["max_spent"]]
maxspentbytype_normalizedbycount

,party,year,expense_type_id,sum,mean,max,count,max_spent
0,DEM,2008,0,8232.872000,126.659569,32900.00,65,8232.872000
5,DEM,2009,0,3595.503919,24.293945,66960.00,148,3595.503919
10,DEM,2010,0,4672.391274,29.760454,37300.00,157,4672.391274
18,DEM,2011,3,2639.696774,85.151509,15000.00,31,2639.696774
25,DEM,2012,3,3122.277778,173.459877,10000.00,18,3122.277778
32,DEM,2013,3,3123.342549,61.242011,10000.00,51,3123.342549
39,DEM,2014,3,3537.048065,114.098325,12000.00,31,3537.048065
46,DEM,2015,3,11389.752857,542.369184,216780.00,21,11389.752857
53,DEM,2016,3,18620.373333,1241.358222,256980.00,15,18620.373333
63,DEM,2017,6,2522.370588,148.374740,4400.11,17,2522.370588
67,False,2011,3,3415.065000,426.883125,9777.00,8,3415.065000
72,False,2015,3,4554.666667,379.555556,15000.00,12,4554.666667
78,False,2016,3,3716.322581,119.881374,17500.00,31,3716.322581
85,False,2017,3,21000.000000,21000.000000,21000.00,1,21000.000000
90,PCdoB,2008,1,7823.588182,711.235289,13684.90,11,7823.588182
97,PCdoB,2009,3,2138.421053,112.548476,5550.00,19,2138.421053
102,PCdoB,2010,3,3908.500000,651.416667,5503.00,6,3908.500000
107,PCdoB,2011,3,2699.475088,47.359212,20000.00,57,2699.475088
113,PCdoB,2012,3,6672.129231,256.620355,22564.00,26,6672.129231
119,PCdoB,2013,3,3382.427241,58.317711,14579.38,58,3382.427241
125,PCdoB,2014,3,3234.433519,59.896917,20000.00,54,3234.433519
131,PCdoB,2015,3,4877.693171,118.968126,28362.00,41,4877.693171
134,PCdoB,2016,0,4990.000000,998.000000,17000.00,5,4990.000000
143,PCdoB,2017,3,3482.351667,145.097986,11199.00,24,3482.351667
149,PDT,2008,3,7814.866667,520.991111,27221.00,15,7814.866667
154,PDT,2009,3,3923.210714,93.409779,12620.00,42,3923.210714
159,PDT,2010,3,2862.060606,86.729109,20000.00,33,2862.060606
161,PDT,2011,0,3536.528929,63.152302,30000.00,56,3536.528929
170,PDT,2012,3,10646.261429,760.447245,35391.03,14,10646.261429
173,PDT,2013,0,6913.333333,460.888889,9000.00,15,6913.333333
...,...,...,...,...,...,...,...,...
811,PT,2013,3,3613.628966,62.303948,29865.00,58,3613.628966
818,PT,2014,3,10593.385200,423.735408,162400.00,25,10593.385200
822,PT,2015,0,1900.732740,6.764173,26000.00,281,1900.732740
832,PT,2016,3,2331.178100,23.311781,25000.00,100,2331.178100
836,PT,2017,0,2267.088600,22.670886,10000.00,100,2267.088600
843,PTB,2008,0,8834.456667,163.601049,32000.00,54,8834.456667
848,PTB,2009,0,5369.303538,82.604670,12351.52,65,5369.303538
853,PTB,2010,0,5334.910137,73.080961,56800.00,73,5334.910137
864,PTB,2011,6,10832.834000,1083.283400,15372.62,10,10832.834000
871,PTB,2012,6,11245.541818,1022.321983,15372.62,11,11245.541818
878,PTB,2013,6,14791.679412,870.098789,20524.44,17,14791.679412
885,PTB,2014,6,21243.420000,1770.285000,23852.60,12,21243.420000
889,PTB,2015,3,5913.227222,328.512623,16873.59,18,5913.227222
893,PTB,2016,0,4811.695333,106.926563,18000.00,45,4811.695333
903,PTB,2017,3,4512.546471,132.721955,10420.00,34,4512.546471
908,PTC,2015,6,25165.618182,2287.783471,28174.24,11,25165.618182
910,PTC,2016,6,26205.917500,2183.826458,28922.72,12,26205.917500
912,PTC,2017,6,33078.015000,4134.751875,38500.96,8,33078.015000
914,PV,2008,1,5421.123333,903.520556,8958.91,6,5421.123333
918,PV,2009,1,1853.996452,59.806337,11467.49,31,1853.996452
921,PV,2010,1,1078.813333,59.934074,2400.00,18,1078.813333
924,PV,2011,0,1544.444444,42.901235,3000.00,36,1544.444444
935,PV,2012,5,1178.339762,14.027854,3352.57,84,1178.339762
938,PV,2013,3,1340.500000,134.050000,3000.00,10,1340.500000
943,PV,2014,3,1733.333333,577.777778,2700.00,3,1733.333333
947,S/Partido,2008,1,10511.833636,955.621240,16737.02,11,10511.833636
954,S/Partido,2009,3,3073.375000,192.085938,12790.50,16,3073.375000
959,S/Partido,2010,3,4517.857143,645.408163,10000.00,7,4517.857143
961,S/Partido,2011,0,8592.307692,660.946746,12000.00,13,8592.307692
967,S/Partido,2012,0,9900.000000,1980.000000,11000.00,5,9900.000000

In [47]:
with open('./json_files/senate/sum_mean_max_year_maxspentbytype_normalizedbycount.json', 'w') as f: 
    f.write("[" + maxspentbytype_normalizedbycount.to_json(orient='records', lines=True) + "]")

In [48]:
subquota_number_party_year["mean_spent"] = subquota_number_party_year.groupby(["party","year"])['mean'].transform(max)
meanspentbytype_normalizedbycount = subquota_number_party_year[subquota_number_party_year["mean"] == subquota_number_party_year["mean_spent"]]
meanspentbytype_normalizedbycount

,party,year,expense_type_id,sum,mean,max,count,max_spent,mean_spent
3,DEM,2008,3,6935.080303,210.153949,15000.00,33,8232.872000,210.153949
5,DEM,2009,0,3595.503919,24.293945,66960.00,148,3595.503919,24.293945
13,DEM,2010,3,2554.420000,37.020580,34400.00,69,4672.391274,37.020580
21,DEM,2011,6,2206.057500,183.838125,2988.11,12,2639.696774,183.838125
28,DEM,2012,6,2735.165714,195.368980,3288.11,14,3122.277778,195.368980
35,DEM,2013,6,2451.671250,102.152969,4125.90,24,3123.342549,102.152969
39,DEM,2014,3,3537.048065,114.098325,12000.00,31,3537.048065,114.098325
46,DEM,2015,3,11389.752857,542.369184,216780.00,21,11389.752857,542.369184
53,DEM,2016,3,18620.373333,1241.358222,256980.00,15,18620.373333,1241.358222
57,DEM,2017,0,2186.000000,1093.000000,4300.00,2,2522.370588,1093.000000
67,False,2011,3,3415.065000,426.883125,9777.00,8,3415.065000,426.883125
72,False,2015,3,4554.666667,379.555556,15000.00,12,4554.666667,379.555556
81,False,2016,6,950.000000,190.000000,950.00,5,3716.322581,190.000000
85,False,2017,3,21000.000000,21000.000000,21000.00,1,21000.000000,21000.000000
92,PCdoB,2008,3,3561.510000,890.377500,6691.00,4,7823.588182,890.377500
94,PCdoB,2009,0,1088.117500,136.014687,1860.00,8,2138.421053,136.014687
102,PCdoB,2010,3,3908.500000,651.416667,5503.00,6,3908.500000,651.416667
107,PCdoB,2011,3,2699.475088,47.359212,20000.00,57,2699.475088,47.359212
113,PCdoB,2012,3,6672.129231,256.620355,22564.00,26,6672.129231,256.620355
119,PCdoB,2013,3,3382.427241,58.317711,14579.38,58,3382.427241,58.317711
125,PCdoB,2014,3,3234.433519,59.896917,20000.00,54,3234.433519,59.896917
128,PCdoB,2015,0,2500.000000,1250.000000,2500.00,2,4877.693171,1250.000000
134,PCdoB,2016,0,4990.000000,998.000000,17000.00,5,4990.000000,998.000000
143,PCdoB,2017,3,3482.351667,145.097986,11199.00,24,3482.351667,145.097986
149,PDT,2008,3,7814.866667,520.991111,27221.00,15,7814.866667,520.991111
154,PDT,2009,3,3923.210714,93.409779,12620.00,42,3923.210714,93.409779
159,PDT,2010,3,2862.060606,86.729109,20000.00,33,2862.060606,86.729109
164,PDT,2011,3,3313.281250,103.540039,40000.00,32,3536.528929,103.540039
170,PDT,2012,3,10646.261429,760.447245,35391.03,14,10646.261429,760.447245
173,PDT,2013,0,6913.333333,460.888889,9000.00,15,6913.333333,460.888889
...,...,...,...,...,...,...,...,...,...
811,PT,2013,3,3613.628966,62.303948,29865.00,58,3613.628966,62.303948
818,PT,2014,3,10593.385200,423.735408,162400.00,25,10593.385200,423.735408
828,PT,2015,6,464.256667,38.688056,520.00,12,1900.732740,38.688056
835,PT,2016,6,520.000000,43.333333,520.00,12,2331.178100,43.333333
842,PT,2017,6,518.920000,86.486667,539.36,6,2267.088600,86.486667
846,PTB,2008,3,6533.750000,816.718750,38000.00,8,8834.456667,816.718750
851,PTB,2009,3,3788.700455,86.106829,55000.00,44,5369.303538,86.106829
856,PTB,2010,3,3698.768378,99.966713,15000.00,37,5334.910137,99.966713
864,PTB,2011,6,10832.834000,1083.283400,15372.62,10,10832.834000,1083.283400
871,PTB,2012,6,11245.541818,1022.321983,15372.62,11,11245.541818,1022.321983
878,PTB,2013,6,14791.679412,870.098789,20524.44,17,14791.679412,870.098789
885,PTB,2014,6,21243.420000,1770.285000,23852.60,12,21243.420000,1770.285000
889,PTB,2015,3,5913.227222,328.512623,16873.59,18,5913.227222,328.512623
896,PTB,2016,3,2804.323529,164.960208,7420.00,17,4811.695333,164.960208
900,PTB,2017,0,3896.446667,216.469259,10000.00,18,4512.546471,216.469259
908,PTC,2015,6,25165.618182,2287.783471,28174.24,11,25165.618182,2287.783471
910,PTC,2016,6,26205.917500,2183.826458,28922.72,12,26205.917500,2183.826458
911,PTC,2017,3,16000.000000,16000.000000,16000.00,1,33078.015000,16000.000000
914,PV,2008,1,5421.123333,903.520556,8958.91,6,5421.123333,903.520556
918,PV,2009,1,1853.996452,59.806337,11467.49,31,1853.996452,59.806337
921,PV,2010,1,1078.813333,59.934074,2400.00,18,1078.813333,59.934074
924,PV,2011,0,1544.444444,42.901235,3000.00,36,1544.444444,42.901235
933,PV,2012,3,833.250000,104.156250,1700.00,8,1178.339762,104.156250
938,PV,2013,3,1340.500000,134.050000,3000.00,10,1340.500000,134.050000
943,PV,2014,3,1733.333333,577.777778,2700.00,3,1733.333333,577.777778
949,S/Partido,2008,3,9809.630000,1961.926000,25829.25,5,10511.833636,1961.926000
951,S/Partido,2009,0,1500.000000,1500.000000,1500.00,1,3073.375000,1500.000000
956,S/Partido,2010,0,2680.000000,1340.000000,3360.00,2,4517.857143,1340.000000
961,S/Partido,2011,0,8592.307692,660.946746,12000.00,13,8592.307692,660.946746
967,S/Partido,2012,0,9900.000000,1980.000000,11000.00,5,9900.000000,1980.000000

In [49]:
with open('./json_files/senate/sum_mean_max_year_meanspentbytype_normalizedbycount.json', 'w') as f: 
    f.write("[" + meanspentbytype_normalizedbycount.to_json(orient='records', lines=True) + "]")