In [1]:
import pandas as pd
import json

In [2]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')

In [3]:
df_senate = pd.read_csv("./data/Senate/clean_senate.xz",sep=';',compression='xz',parse_dates=['date'],date_parser=dateparse,low_memory=False,index_col=0)

In [4]:
list(df_senate)

['year',
 'month',
 'congressperson_name',
 'expense_type',
 'supplier',
 'date',
 'reimbursement_value',
 'party']

In [5]:
sum_mean_max_year = df_senate.groupby("year")['reimbursement_value'].agg(['sum', 'mean', 'max'])
sum_mean_max_year

              sum         mean       max
year
2008  11575947.40  4726.805798   61250.0
2009  11725424.91   712.705137   66960.0
2010  10751707.81   590.753176   60000.0
2011  18988510.72   743.947294   56758.0
2012  23336265.74   775.651989   88245.0
2013  24644284.56   842.194128   84000.0
2014  22512671.12  1024.514022  162400.0
2015  24845639.68   957.442762  216780.0
2016  25285876.22   947.462388  256980.0
2017  18852938.19   938.424001   45000.0

In [6]:
with open('./json_files/senate/sum_mean_max_year.json', 'w') as f:
    f.write("[" + sum_mean_max_year.reset_index().to_json(orient='records', lines=True) + "]")

In [ ]:
df_senate['reimbursement_value'].agg(['sum', 'mean', 'max'])

In [7]:
df_cp_year = df_senate.groupby(["congressperson_name", "year"])['reimbursement_value'].agg(['sum', 'mean', 'max']).reset_index()
df_cp_year

                congressperson_name  year        sum          mean       max
0                      ACIR GURGACZ  2009   17620.00   8810.000000  12620.00
1                      ACIR GURGACZ  2010  179510.03   1002.849330  20000.00
2                      ACIR GURGACZ  2011  315733.66   1223.773876  40000.00
3                      ACIR GURGACZ  2012  280383.11   1709.653110  35391.03
4                      ACIR GURGACZ  2013  409890.04   1389.457763   9162.09
5                      ACIR GURGACZ  2014  382905.25   2025.953704  46000.00
6                      ACIR GURGACZ  2015  412941.50   2359.665714  29780.00
7                      ACIR GURGACZ  2016  301970.88   2156.934857  19800.00
8                      ACIR GURGACZ  2017  321743.37   2314.700504   8700.00
9                         ADA MELLO  2008   59962.46   7495.307500  12351.52
10                  ADELMIR SANTANA  2008  163612.32   7436.923636  15000.00
11                  ADELMIR SANTANA  2009  178174.44   6143.946207  66960.00
12                  ADELMIR SANTANA  2010  180000.00  15000.000000  21000.00
13                  ADELMIR SANTANA  2011   15000.00  15000.000000  15000.00
14                      AECIO NEVES  2011  180990.41   1103.600061   8000.00
15                      AECIO NEVES  2012  252715.42    834.044290   8362.00
16                      AECIO NEVES  2013  286004.86    792.257230   8831.11
17                      AECIO NEVES  2014  214075.14   1408.389079   9330.95
18                      AECIO NEVES  2015  268031.78   1015.271894  10000.00
19                      AECIO NEVES  2016  295335.85    962.006026   9000.00
20                      AECIO NEVES  2017  146748.50    922.946541   9000.00
21                  AIRTON SANDOVAL  2017  137813.62    753.079891   6766.00
22                   ALFREDO COTAIT  2010   29532.64    335.598182  18000.00
23                   ALFREDO COTAIT  2011   15000.00    375.000000   8976.15
24               ALFREDO NASCIMENTO  2010   10756.98   1344.622500   2500.00
25               ALFREDO NASCIMENTO  2011   66410.39   1328.207800   3000.00
26               ALFREDO NASCIMENTO  2012  193696.51   1445.496343   5181.25
27               ALFREDO NASCIMENTO  2013  327838.22   1939.871124   8000.00
28               ALFREDO NASCIMENTO  2014  229497.37   1807.065906   8000.00
29               ALFREDO NASCIMENTO  2015   20083.63   2008.363000   3420.00
..                              ...   ...        ...           ...       ...
886                 WALTER PINHEIRO  2012  247767.63    561.831361   4500.00
887                 WALTER PINHEIRO  2013  233187.38    602.551370   8400.00
888                 WALTER PINHEIRO  2014  169061.35    569.230135   3575.97
889                 WALTER PINHEIRO  2015  175530.91    601.133253   3717.71
890                 WALTER PINHEIRO  2016   78455.02    622.658889   4125.22
891                 WELLINGTON DIAS  2011  328405.01   1277.840506  13020.00
892                 WELLINGTON DIAS  2012  421996.11   1528.971413   8050.00
893                 WELLINGTON DIAS  2013  465934.55   1109.367976   7990.00
894                 WELLINGTON DIAS  2014  374444.70   1456.983268  19340.00
895             WELLINGTON FAGUNDES  2015  359067.72    480.679679  85000.00
896             WELLINGTON FAGUNDES  2016  415154.23    448.815384  40000.00
897             WELLINGTON FAGUNDES  2017  265709.20    389.032504   4500.00
898  WELLINGTON SALGADO DE OLIVEIRA  2008  110236.74   2563.645116   7070.00
899  WELLINGTON SALGADO DE OLIVEIRA  2009  154715.26    289.728951  40000.00
900  WELLINGTON SALGADO DE OLIVEIRA  2010   44478.63    232.872408   9523.72
901                   WILDER MORAIS  2012   67136.14    729.740652  10000.00
902                   WILDER MORAIS  2013  180251.56    706.868863   8246.43
903                   WILDER MORAIS  2014  117540.17    656.648994   8292.00
904                   WILDER MORAIS  2015  251598.90    628.997250  10446.71
905                   WILDER MORAIS  2016  252542.40    693.797802  10693.80
906                   WILDER MORAIS  2017  172205.41   1103.880833  11223.58
907                 WILSON SANTIAGO  2011  282758.27   1273.685901  20250.00
908                 WIRLANDE DA LUZ  2016   11298.25   1129.825000   2234.37
909                   ZEZE PERRELLA  2011  161942.97   2841.104737  15000.00
910                   ZEZE PERRELLA  2012  335890.42   1805.862473  18333.35
911                   ZEZE PERRELLA  2013  222520.97   1636.183603   9000.00
912                   ZEZE PERRELLA  2014  254646.81   2233.743947   9000.00
913                   ZEZE PERRELLA  2015  341787.74   1436.082941  20000.00
914                   ZEZE PERRELLA  2016  322433.80    810.135176  80000.00
915                   ZEZE PERRELLA  2017  253138.97    431.241857  10000.00

[916 rows x 5 columns]

In [8]:
sum_years = df_cp_year.groupby("year")['sum'].max()

In [9]:
sum_2008 = df_cp_year[(df_cp_year['year'] == 2008) & (df_cp_year['sum'] == sum_years[2008])]
sum_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['sum'] == sum_years[2009])]
sum_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['sum'] == sum_years[2010])]
sum_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['sum'] == sum_years[2011])]
sum_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['sum'] == sum_years[2012])]
sum_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['sum'] == sum_years[2013])]
sum_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['sum'] == sum_years[2014])]
sum_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['sum'] == sum_years[2015])]
sum_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['sum'] == sum_years[2016])]
sum_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['sum'] == sum_years[2017])]

In [10]:
with open('./json_files/senate/sum_mean_max_year_congressperson_total.json', 'w',encoding="utf8") as f:
    f.write(df_cp_year.to_json(orient='records', lines=True) + "\n")

In [ ]:
# with open('./json_files/senate/sum_mean_max_year_congressperson_maxtotal.json', 'w',encoding="utf8") as f:
#     for df in [sum_2008,sum_2009,sum_2010,sum_2011,sum_2012,sum_2013,sum_2014,sum_2015,sum_2016,sum_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [ ]:
mean_max_year = df_cp_year.groupby("year")['mean'].max()

In [ ]:
mean_max_year

In [ ]:
mean_2008 = df_cp_year[(df_cp_year['year'] == 2008) & (df_cp_year['mean'] == mean_max_year[2008])]
mean_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['mean'] == mean_max_year[2009])]
mean_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['mean'] == mean_max_year[2010])]
mean_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['mean'] == mean_max_year[2011])]
mean_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['mean'] == mean_max_year[2012])]
mean_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['mean'] == mean_max_year[2013])]
mean_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['mean'] == mean_max_year[2014])]
mean_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['mean'] == mean_max_year[2015])]
mean_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['mean'] == mean_max_year[2016])]
mean_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['mean'] == mean_max_year[2017])]

In [ ]:
# with open('./json_files/senate/sum_mean_max_year_congressperson_maxmean.json', 'w',encoding="utf8") as f:
#     for df in [mean_2008,mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [ ]:
mean_min_year = df_cp_year.groupby("year")['mean'].min()
mean_2008 = df_cp_year[(df_cp_year['year'] == 2008) & (df_cp_year['mean'] == mean_min_year[2008])]
mean_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['mean'] == mean_min_year[2009])]
mean_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['mean'] == mean_min_year[2010])]
mean_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['mean'] == mean_min_year[2011])]
mean_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['mean'] == mean_min_year[2012])]
mean_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['mean'] == mean_min_year[2013])]
mean_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['mean'] == mean_min_year[2014])]
mean_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['mean'] == mean_min_year[2015])]
mean_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['mean'] == mean_min_year[2016])]
mean_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['mean'] == mean_min_year[2017])]

In [ ]:
# with open('./json_files/senate/sum_mean_max_year_congressperson_minmean.json', 'w',encoding="utf8") as f:
#     for df in [mean_2008,mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [12]:
count_by_party_year = df_senate.groupby(["year", "party", "congressperson_name"]).size().groupby(["year", "party"]).agg(["count"])
count_by_party_year.reset_index()

     year      party  count
0    2008        DEM     13
1    2008      PCdoB      1
2    2008        PDT      4
3    2008       PMDB     20
4    2008         PP      1
5    2008         PR      3
6    2008        PRB      1
7    2008        PSB      2
8    2008        PSC      2
9    2008       PSDB     15
10   2008        PSL      1
11   2008       PSOL      1
12   2008         PT     10
13   2008        PTB      9
14   2008         PV      1
15   2008  S/Partido      1
16   2009        DEM     13
17   2009      PCdoB      1
18   2009        PDT      7
19   2009       PMDB     19
20   2009         PP      1
21   2009         PR      3
22   2009        PRB      2
23   2009        PSB      2
24   2009        PSC      1
25   2009       PSDB     15
26   2009       PSOL      1
27   2009         PT     10
28   2009        PTB      8
29   2009         PV      1
..    ...        ...    ...
138  2016         PP      6
139  2016        PPS      1
140  2016         PR      5
141  2016        PRB      2
142  2016        PSB      3
143  2016        PSC      1
144  2016        PSD      5
145  2016       PSDB     12
146  2016       PSOL      1
147  2016         PT     12
148  2016        PTB      3
149  2016        PTC      1
150  2017        DEM      5
151  2017      False      5
152  2017      PCdoB      1
153  2017        PDT      3
154  2017       PMDB     20
155  2017       PODE      2
156  2017         PP      6
157  2017        PPS      1
158  2017         PR      4
159  2017        PRB      1
160  2017        PSB      3
161  2017        PSC      1
162  2017        PSD      5
163  2017       PSDB     12
164  2017       PSOL      1
165  2017         PT     11
166  2017        PTB      2
167  2017        PTC      1

[168 rows x 3 columns]

In [13]:
count_by_party_year = count_by_party_year.reset_index()

In [17]:
def replace_sum(row):
    c = count_by_party_year[(count_by_party_year.year== row.year) & (row.party==count_by_party_year.party)]
#     print()
#     c = count_by_party_year[(count_by_party_year.year== row.year) & (row.party==count_by_party_year.party)]["count"]
#     print(row["sum"]/c)
    return row["sum"]/c["count"].values[0]

In [18]:
# df_party_year = df_senate.groupby(["party", "year"])['reimbursement_value'].agg(['sum', 'mean', 'max', 'count']).reset_index()
# Comment lines bellow if dont want to consider number of politicians in each party
# df_party_year['sum'] = df_party_year['sum']/df_party_year["count"]
# df_party_year['mean'] = df_party_year['mean']/df_party_year["count"]
df_party_year = df_senate.groupby([ "year", "party"])["reimbursement_value"].agg(['sum']).reset_index()
df_party_year['mean'] = df_party_year.apply(replace_sum,axis=1)
df_party_year["n_congressman"] = df_party_year.apply(lambda row: count_by_party_year[(count_by_party_year.year== row.year) & (row.party==count_by_party_year.party)]["count"].values[0],axis=1)
df_party_year

     year      party         sum           mean  n_congressman
0    2008        DEM  1850037.97  142310.613077             13
1    2008      PCdoB   147589.20  147589.200000              1
2    2008        PDT   608526.36  152131.590000              4
3    2008       PMDB  2632159.73  131607.986500             20
4    2008         PP   167265.29  167265.290000              1
5    2008         PR   506924.03  168974.676667              3
6    2008        PRB   165000.00  165000.000000              1
7    2008        PSB   287968.53  143984.265000              2
8    2008        PSC   296263.00  148131.500000              2
9    2008       PSDB  1953690.09  130246.006000             15
10   2008        PSL    45354.64   45354.640000              1
11   2008       PSOL   164075.65  164075.650000              1
12   2008         PT  1315640.92  131564.092000             10
13   2008        PTB  1212226.78  134691.864444              9
14   2008         PV    53554.30   53554.300000              1
15   2008  S/Partido   169670.91  169670.910000              1
16   2009        DEM  2051692.59  157822.506923             13
17   2009      PCdoB   180000.00  180000.000000              1
18   2009        PDT   685075.99   97867.998571              7
19   2009       PMDB  2409102.03  126794.843684             19
20   2009         PP   175223.96  175223.960000              1
21   2009         PR   485658.74  161886.246667              3
22   2009        PRB   204249.48  102124.740000              2
23   2009        PSB   338846.03  169423.015000              2
24   2009        PSC   179434.38  179434.380000              1
25   2009       PSDB  2134513.41  142300.894000             15
26   2009       PSOL   177661.75  177661.750000              1
27   2009         PT  1311001.24  131100.124000             10
28   2009        PTB  1115663.23  139457.903750              8
29   2009         PV    97502.07   97502.070000              1
..    ...        ...         ...            ...            ...
138  2016         PP  1844019.52  307336.586667              6
139  2016        PPS   418157.60  418157.600000              1
140  2016         PR  1434678.70  286935.740000              5
141  2016        PRB   291281.76  145640.880000              2
142  2016        PSB  1030659.18  343553.060000              3
143  2016        PSC   306258.14  306258.140000              1
144  2016        PSD  1535211.09  307042.218000              5
145  2016       PSDB  3249235.03  270769.585833             12
146  2016       PSOL   471847.84  471847.840000              1
147  2016         PT  4247017.46  353918.121667             12
148  2016        PTB   719387.97  239795.990000              3
149  2016        PTC   420471.01  420471.010000              1
150  2017        DEM   829744.26  165948.852000              5
151  2017      False   442879.37   88575.874000              5
152  2017      PCdoB   291913.47  291913.470000              1
153  2017        PDT   646778.31  215592.770000              3
154  2017       PMDB  4340787.32  217039.366000             20
155  2017       PODE   374395.02  187197.510000              2
156  2017         PP  1429566.35  238261.058333              6
157  2017        PPS   349186.88  349186.880000              1
158  2017         PR  1010672.55  252668.137500              4
159  2017        PRB   233066.53  233066.530000              1
160  2017        PSB   808656.78  269552.260000              3
161  2017        PSC   233934.61  233934.610000              1
162  2017        PSD  1022828.67  204565.734000              5
163  2017       PSDB  2526580.86  210548.405000             12
164  2017       PSOL   382386.90  382386.900000              1
165  2017         PT  3105921.63  282356.511818             11
166  2017        PTB   543014.56  271507.280000              2
167  2017        PTC   280624.12  280624.120000              1

[168 rows x 5 columns]

In [19]:
with open('./json_files/senate/sum_mean_max_year_party_maxtotal.json', 'w',encoding="utf8") as f:
    f.write(df_party_year.to_json(orient='records', lines=True) + "\n")

In [ ]:
sum_years = df_party_year.groupby("year")['sum'].max()
sum_years

In [ ]:
sum_party_2008 = df_party_year[(df_party_year['year'] == 2008) & (df_party_year['sum'] == sum_years[2008])]
sum_party_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['sum'] == sum_years[2009])]
sum_party_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['sum'] == sum_years[2010])]
sum_party_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['sum'] == sum_years[2011])]
sum_party_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['sum'] == sum_years[2012])]
sum_party_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['sum'] == sum_years[2013])]
sum_party_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['sum'] == sum_years[2014])]
sum_party_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['sum'] == sum_years[2015])]
sum_party_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['sum'] == sum_years[2016])]
sum_party_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['sum'] == sum_years[2017])]

In [ ]:
sum_party_2017

In [ ]:
# with open('./json_files/senate/sum_mean_max_year_party_maxtotal.json', 'w',encoding="utf8") as f:
#     for df in [sum_party_2008,sum_party_2009,sum_party_2010,sum_party_2011,sum_party_2012,sum_party_2013,sum_party_2014,sum_party_2015,sum_party_2016,sum_party_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [ ]:
mean_max_year = df_party_year.groupby("year")['mean'].max()
mean_max_year

In [ ]:
mean_2008 = df_party_year[(df_party_year['year'] == 2008) & (df_party_year['mean'] == mean_max_year[2008])]
mean_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['mean'] == mean_max_year[2009])]
mean_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['mean'] == mean_max_year[2010])]
mean_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['mean'] == mean_max_year[2011])]
mean_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['mean'] == mean_max_year[2012])]
mean_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['mean'] == mean_max_year[2013])]
mean_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['mean'] == mean_max_year[2014])]
mean_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['mean'] == mean_max_year[2015])]
mean_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['mean'] == mean_max_year[2016])]
mean_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['mean'] == mean_max_year[2017])]

In [ ]:
# with open('./json_files/senate/sum_mean_max_year_party_maxmean.json', 'w',encoding="utf8") as f:
#     for df in [mean_2008,mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [ ]:
mean_min_year = df_party_year.groupby("year")['mean'].min()

In [ ]:
mean_2008 = df_party_year[(df_party_year['year'] == 2008) & (df_party_year['mean'] == mean_min_year[2008])]
mean_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['mean'] == mean_min_year[2009])]
mean_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['mean'] == mean_min_year[2010])]
mean_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['mean'] == mean_min_year[2011])]
mean_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['mean'] == mean_min_year[2012])]
mean_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['mean'] == mean_min_year[2013])]
mean_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['mean'] == mean_min_year[2014])]
mean_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['mean'] == mean_min_year[2015])]
mean_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['mean'] == mean_min_year[2016])]
mean_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['mean'] == mean_min_year[2017])]

In [ ]:
# with open('./json_files/senate/sum_mean_max_year_party_minmean.json', 'w',encoding="utf8") as f:
#     for df in [mean_2008,mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [4]:
expense_type = pd.unique(df_senate["expense_type"]).tolist()

In [5]:
expense_type

['Recruitment of consultancies, advisory services, research, technical work and other services in support of the exercise of the parliamentary mandate',
 'Locomotion, lodging, food, fuels and lubricants',
 'Acquisition of consumables for use in the political office, including acquisition or leasing of software, postal expenses, acquisition of publications, rental of furniture and equipment',
 'Publicity of parliamentary activity',
 'Rent of real estate for political office, comprising expenses concerning them',
 'National air, water and land transport',
 'Private Security Services']

In [7]:
# with open('./json_files/senate/spents_categories.json', 'w',encoding="utf8") as f:
#     catogories = {i:expense_type[i] for i in range(len(expense_type))}
#     f.write(json.dumps(catogories))

In [22]:
df_senate["expense_type_id"] = df_senate["expense_type"].map(lambda x: expense_type.index(x))

In [23]:
df_senate.head()

,year,month,congressperson_name,expense_type,supplier,date,reimbursement_value,party,expense_type_id
0,2008,9,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,2008-09-30,12351.52,PTB,0
1,2008,9,ADA MELLO,"Locomotion, lodging, food, fuels and lubricants",NaN,2008-09-30,386.60,PTB,1
2,2008,10,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,2008-10-31,12351.52,PTB,0
3,2008,10,ADA MELLO,"Locomotion, lodging, food, fuels and lubricants",NaN,2008-10-31,2610.68,PTB,1
4,2008,11,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,2008-11-30,12351.52,PTB,0

In [24]:
subquota_number_year = df_senate.groupby(["year", "expense_type_id"])['reimbursement_value'].agg(['sum', 'mean', 'max',"count"])
subquota_number_year

                             sum         mean        max  count
year expense_type_id
2008 0                2208397.41  5007.703878   45175.85    441
     1                5158631.74  6563.144707   41239.32    786
     2                 757509.36  1565.101983   27000.00    484
     3                1134096.81  7662.816284   61250.00    148
     4                2317312.08  3927.647593   18793.95    590
2009 0                1705488.25  2229.396405   66960.00    765
     1                4723703.23   468.760864   42400.00  10077
     2                 625400.91   364.665254   16000.00   1715
     3                1997519.88  2380.834184   55000.00    839
     4                2673312.64   874.775079   15000.00   3056
2010 0                2032545.53  2534.346047   60000.00    802
     1                4407043.90   382.124677   24400.00  11533
     2                 601113.30   308.105228   10000.00   1951
     3                 967499.51  3042.451289   34400.00    318
     4                2743505.57   762.932583   15000.00   3596
2011 0                2589517.74  3208.820000   50000.00    807
     1                5764824.19   484.357603   30000.00  11902
     2                 749207.19   316.923515   16050.00   2364
     3                2807471.72  2432.817782   56758.00   1154
     4                3375625.51   815.171579   15000.00   4141
     5                3482161.92   685.464945   14000.00   5080
     6                 219702.45  2890.821711   15372.62     76
2012 0                2517317.67  3496.274542   46000.00    720
     1                6119616.76   467.574630   28000.00  13088
     2                 920952.16   388.259764   10120.00   2372
     3                3189724.59  3463.327459   88245.00    921
     4                4051401.01   789.746786   12612.98   5130
     5                6264591.97   808.021665    8400.00   7753
     6                 272661.58  2673.152745   15372.62    102
2013 0                2504936.81  3727.584539   50000.00    672
...                          ...          ...        ...    ...
     5                7307804.84   903.648428   84000.00   8087
     6                 395868.64  4657.278118   20524.44     85
2014 0                2755498.75  4137.385511  150000.00    666
     1                4980694.50   669.808297   20500.00   7436
     2                 794620.85   381.479045   11070.00   2083
     3                2907771.79  3945.416269  162400.00    737
     4                4532267.73   942.455340   14117.17   4809
     5                6067949.99   988.587486    8000.00   6138
     6                 473867.51  4513.023905   23852.60    105
2015 0                3195317.75  2832.728502   85000.00   1128
     1                5602725.24   582.282814   29520.00   9622
     2                 807530.95   439.353074   14500.00   1838
     3                3276294.25  3519.113050  216780.00    931
     4                4710442.85   974.036983   12000.00   4836
     5                6801863.26   912.267068   10142.64   7456
     6                 451465.38  3247.952374   28174.24    139
2016 0                3109141.76  3211.923306   80000.00    968
     1                5915892.99   572.912356   16560.00  10326
     2                1053998.25   520.750124   15000.00   2024
     3                3585465.79  3310.679400  256980.00   1083
     4                4976764.44   940.787229   12000.00   5290
     5                6149743.11   897.379704    7680.60   6853
     6                 494869.88  3436.596389   28922.72    144
2017 0                2386998.09  3536.293467   45000.00    675
     1                4288131.30   528.811358   20000.00   8109
     2                 615519.27   455.602717    8600.00   1351
     3                2329032.49  2714.490082   31950.00    858
     4                3742026.51   962.455378   14000.00   3888
     5                5040428.07   989.871970    5796.74   5092
     6                 450802.46  3853.012479   38500.96    117

[64 rows x 4 columns]

In [25]:
with open('./json_files/senate/sum_mean_max_year_spents_type_total.json', 'w') as f: 
    f.write("[" + subquota_number_year.reset_index().to_json(orient='records', lines=True)+"]")

In [26]:
subquota_number_year.reset_index(inplace=True)
# subquota_number_year['sum'] = subquota_number_year['sum']/subquota_number_year["count"]
# subquota_number_year['mean'] = subquota_number_year['mean']/subquota_number_year["count"]
subquota_number_year

    year  expense_type_id         sum         mean        max  count
0   2008                0  2208397.41  5007.703878   45175.85    441
1   2008                1  5158631.74  6563.144707   41239.32    786
2   2008                2   757509.36  1565.101983   27000.00    484
3   2008                3  1134096.81  7662.816284   61250.00    148
4   2008                4  2317312.08  3927.647593   18793.95    590
5   2009                0  1705488.25  2229.396405   66960.00    765
6   2009                1  4723703.23   468.760864   42400.00  10077
7   2009                2   625400.91   364.665254   16000.00   1715
8   2009                3  1997519.88  2380.834184   55000.00    839
9   2009                4  2673312.64   874.775079   15000.00   3056
10  2010                0  2032545.53  2534.346047   60000.00    802
11  2010                1  4407043.90   382.124677   24400.00  11533
12  2010                2   601113.30   308.105228   10000.00   1951
13  2010                3   967499.51  3042.451289   34400.00    318
14  2010                4  2743505.57   762.932583   15000.00   3596
15  2011                0  2589517.74  3208.820000   50000.00    807
16  2011                1  5764824.19   484.357603   30000.00  11902
17  2011                2   749207.19   316.923515   16050.00   2364
18  2011                3  2807471.72  2432.817782   56758.00   1154
19  2011                4  3375625.51   815.171579   15000.00   4141
20  2011                5  3482161.92   685.464945   14000.00   5080
21  2011                6   219702.45  2890.821711   15372.62     76
22  2012                0  2517317.67  3496.274542   46000.00    720
23  2012                1  6119616.76   467.574630   28000.00  13088
24  2012                2   920952.16   388.259764   10120.00   2372
25  2012                3  3189724.59  3463.327459   88245.00    921
26  2012                4  4051401.01   789.746786   12612.98   5130
27  2012                5  6264591.97   808.021665    8400.00   7753
28  2012                6   272661.58  2673.152745   15372.62    102
29  2013                0  2504936.81  3727.584539   50000.00    672
..   ...              ...         ...          ...        ...    ...
34  2013                5  7307804.84   903.648428   84000.00   8087
35  2013                6   395868.64  4657.278118   20524.44     85
36  2014                0  2755498.75  4137.385511  150000.00    666
37  2014                1  4980694.50   669.808297   20500.00   7436
38  2014                2   794620.85   381.479045   11070.00   2083
39  2014                3  2907771.79  3945.416269  162400.00    737
40  2014                4  4532267.73   942.455340   14117.17   4809
41  2014                5  6067949.99   988.587486    8000.00   6138
42  2014                6   473867.51  4513.023905   23852.60    105
43  2015                0  3195317.75  2832.728502   85000.00   1128
44  2015                1  5602725.24   582.282814   29520.00   9622
45  2015                2   807530.95   439.353074   14500.00   1838
46  2015                3  3276294.25  3519.113050  216780.00    931
47  2015                4  4710442.85   974.036983   12000.00   4836
48  2015                5  6801863.26   912.267068   10142.64   7456
49  2015                6   451465.38  3247.952374   28174.24    139
50  2016                0  3109141.76  3211.923306   80000.00    968
51  2016                1  5915892.99   572.912356   16560.00  10326
52  2016                2  1053998.25   520.750124   15000.00   2024
53  2016                3  3585465.79  3310.679400  256980.00   1083
54  2016                4  4976764.44   940.787229   12000.00   5290
55  2016                5  6149743.11   897.379704    7680.60   6853
56  2016                6   494869.88  3436.596389   28922.72    144
57  2017                0  2386998.09  3536.293467   45000.00    675
58  2017                1  4288131.30   528.811358   20000.00   8109
59  2017                2   615519.27   455.602717    8600.00   1351
60  2017                3  2329032.49  2714.490082   31950.00    858
61  2017                4  3742026.51   962.455378   14000.00   3888
62  2017                5  5040428.07   989.871970    5796.74   5092
63  2017                6   450802.46  3853.012479   38500.96    117

[64 rows x 6 columns]

In [ ]:
# with open('./json_files/senate/sum_mean_max_year_spents_type_total_normalizedbycount.json', 'w') as f: 
#     f.write("[" + subquota_number_year.reset_index().to_json(orient='records', lines=True) + "]")

In [ ]:
sum_subquota_number_year = subquota_number_year.groupby(["year"])['sum'].max()
sum_subquota_number_year

In [ ]:
max_expenses_2008 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2008])]
max_expenses_2009 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2009])]
max_expenses_2010 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2010])]
max_expenses_2011 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2011])]
max_expenses_2012 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2012])]
max_expenses_2013 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2013])]
max_expenses_2014 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2014])]
max_expenses_2015 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2015])]
max_expenses_2016 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2016])]
max_expenses_2017 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2017])]

In [ ]:
# with open('./json_files/senate/max_expenses_type_year_sum_normalizedbycount.json', 'w',encoding="utf8") as f:
#     for df in [max_expenses_2008,max_expenses_2009,max_expenses_2010,max_expenses_2011,max_expenses_2012,max_expenses_2013,max_expenses_2014,max_expenses_2015,max_expenses_2016,max_expenses_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

In [ ]:
mean_subquota_number_year = subquota_number_year.groupby(["year"])['mean'].max()
mean_subquota_number_year

In [ ]:
mean_expenses_2008 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2008])]
mean_expenses_2009 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2009])]
mean_expenses_2010 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2010])]
mean_expenses_2011 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2011])]
mean_expenses_2012 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2012])]
mean_expenses_2013 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2013])]
mean_expenses_2014 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2014])]
mean_expenses_2015 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2015])]
mean_expenses_2016 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2016])]
mean_expenses_2017 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2017])]

In [ ]:
# with open('./json_files/senate/max_expenses_type_year_mean_normalizedbycount.json', 'w',encoding="utf8") as f:
#     for df in [mean_expenses_2008,mean_expenses_2009,mean_expenses_2010,mean_expenses_2011,mean_expenses_2012,mean_expenses_2013,mean_expenses_2014,mean_expenses_2015,mean_expenses_2016,mean_expenses_2017]:
#         f.write( df.to_json(orient='records', lines=True) + "\n")

In [ ]:
df_senate.head()["expense_type"]

In [27]:
subquota_number_party_year = df_senate.groupby(["party", "year", "expense_type_id"])['reimbursement_value'].agg(['sum', 'mean', 'max', 'count'])
subquota_number_party_year

                                      sum          mean       max  count
party     year expense_type_id
DEM       2008 0                535136.68   8232.872000  32900.00     65
               1                823764.84   6590.118720  17417.36    125
               2                 91963.06   1642.197500  27000.00     56
               3                228857.65   6935.080303  15000.00     33
               4                170315.74   2504.643235  11361.01     68
          2009 0                532134.58   3595.503919  66960.00    148
               1                759231.87    516.835854  14464.44   1469
               2                 49790.90    263.443915   4757.45    189
               3                404129.56   2694.197067  23000.00    150
               4                306405.68    810.597037  12466.95    378
          2010 0                733565.43   4672.391274  37300.00    157
               1                711011.90    435.669056   8850.00   1632
               2                 69677.07    374.607903   5271.19    186
               3                176254.98   2554.420000  34400.00     69
               4                331862.85    775.380491   5099.94    428
          2011 0                134137.36   1524.288182  15000.00     88
               1                312050.20   1560.251000  11091.80    200
               2                 34777.09    399.736667   7890.00     87
               3                 81830.60   2639.696774  15000.00     31
               4                184413.51   1271.817310   4500.00    145
               5                125155.52    655.264503   2729.58    191
               6                 26472.69   2206.057500   2988.11     12
          2012 0                158741.58   2784.940000  15000.00     57
               1                381454.95   1825.143301  19140.00    209
               2                 23515.33    199.282458   3980.00    118
               3                 56201.00   3122.277778  10000.00     18
               4                223033.62   1167.715288   4703.85    191
               5                217118.35    786.660688   3329.27    276
               6                 38292.32   2735.165714   3288.11     14
          2013 0                 31329.09   1362.134348   8400.00     23
...                                   ...           ...       ...    ...
PV        2014 3                  5200.00   1733.333333   2700.00      3
               4                 38492.88    396.833814   1600.00     97
               5                 54826.77    913.779500   2884.18     60
S/Partido 2008 0                    90.00     90.000000     90.00      1
               1                115630.17  10511.833636  16737.02     11
               2                  3293.00   1097.666667   3000.00      3
               3                 49048.15   9809.630000  25829.25      5
               4                  1609.59    536.530000    742.51      3
          2009 0                  1500.00   1500.000000   1500.00      1
               1                122822.04   2729.378667  11385.68     45
               2                   100.00    100.000000    100.00      1
               3                 49174.00   3073.375000  12790.50     16
               4                  6203.97   1550.992500   5636.13      4
          2010 0                  5360.00   2680.000000   3360.00      2
               1                137079.77   2636.149423  13864.62     52
               2                   223.90    111.950000    115.90      2
               3                 31625.00   4517.857143  10000.00      7
               4                  4515.42    410.492727    766.16     11
          2011 0                111700.00   8592.307692  12000.00     13
               1                 78569.41   2182.483611  13134.48     36
               2                 11105.08    793.220000   4800.00     14
               4                 36536.87    689.374906   2111.06     53
               5                  8374.64    598.188571   1346.69     14
               6                   283.18    141.590000    158.69      2
          2012 0                 49500.00   9900.000000  11000.00      5
               1                 18176.18    956.641053   5042.45     19
               2                  1423.30    355.825000    584.40      4
               4                 23854.54    581.818049   2503.00     41
               5                  3002.17    500.361667    529.66      6
               6                   158.69    158.690000    158.69      1

[973 rows x 4 columns]

In [28]:
subquota_number_party_year.reset_index(inplace=True)
# subquota_number_party_year['sum'] = subquota_number_party_year['sum']/subquota_number_party_year["count"]
# subquota_number_party_year['mean'] = subquota_number_party_year['mean']/subquota_number_party_year["count"]
subquota_number_party_year

,party,year,expense_type_id,sum,mean,max,count
0,DEM,2008,0,535136.68,8232.872000,32900.00,65
1,DEM,2008,1,823764.84,6590.118720,17417.36,125
2,DEM,2008,2,91963.06,1642.197500,27000.00,56
3,DEM,2008,3,228857.65,6935.080303,15000.00,33
4,DEM,2008,4,170315.74,2504.643235,11361.01,68
5,DEM,2009,0,532134.58,3595.503919,66960.00,148
6,DEM,2009,1,759231.87,516.835854,14464.44,1469
7,DEM,2009,2,49790.90,263.443915,4757.45,189
8,DEM,2009,3,404129.56,2694.197067,23000.00,150
9,DEM,2009,4,306405.68,810.597037,12466.95,378
10,DEM,2010,0,733565.43,4672.391274,37300.00,157
11,DEM,2010,1,711011.90,435.669056,8850.00,1632
12,DEM,2010,2,69677.07,374.607903,5271.19,186
13,DEM,2010,3,176254.98,2554.420000,34400.00,69
14,DEM,2010,4,331862.85,775.380491,5099.94,428
15,DEM,2011,0,134137.36,1524.288182,15000.00,88
16,DEM,2011,1,312050.20,1560.251000,11091.80,200
17,DEM,2011,2,34777.09,399.736667,7890.00,87
18,DEM,2011,3,81830.60,2639.696774,15000.00,31
19,DEM,2011,4,184413.51,1271.817310,4500.00,145
20,DEM,2011,5,125155.52,655.264503,2729.58,191
21,DEM,2011,6,26472.69,2206.057500,2988.11,12
22,DEM,2012,0,158741.58,2784.940000,15000.00,57
23,DEM,2012,1,381454.95,1825.143301,19140.00,209
24,DEM,2012,2,23515.33,199.282458,3980.00,118
25,DEM,2012,3,56201.00,3122.277778,10000.00,18
26,DEM,2012,4,223033.62,1167.715288,4703.85,191
27,DEM,2012,5,217118.35,786.660688,3329.27,276
28,DEM,2012,6,38292.32,2735.165714,3288.11,14
29,DEM,2013,0,31329.09,1362.134348,8400.00,23
...,...,...,...,...,...,...,...
943,PV,2014,3,5200.00,1733.333333,2700.00,3
944,PV,2014,4,38492.88,396.833814,1600.00,97
945,PV,2014,5,54826.77,913.779500,2884.18,60
946,S/Partido,2008,0,90.00,90.000000,90.00,1
947,S/Partido,2008,1,115630.17,10511.833636,16737.02,11
948,S/Partido,2008,2,3293.00,1097.666667,3000.00,3
949,S/Partido,2008,3,49048.15,9809.630000,25829.25,5
950,S/Partido,2008,4,1609.59,536.530000,742.51,3
951,S/Partido,2009,0,1500.00,1500.000000,1500.00,1
952,S/Partido,2009,1,122822.04,2729.378667,11385.68,45
953,S/Partido,2009,2,100.00,100.000000,100.00,1
954,S/Partido,2009,3,49174.00,3073.375000,12790.50,16
955,S/Partido,2009,4,6203.97,1550.992500,5636.13,4
956,S/Partido,2010,0,5360.00,2680.000000,3360.00,2
957,S/Partido,2010,1,137079.77,2636.149423,13864.62,52
958,S/Partido,2010,2,223.90,111.950000,115.90,2
959,S/Partido,2010,3,31625.00,4517.857143,10000.00,7
960,S/Partido,2010,4,4515.42,410.492727,766.16,11
961,S/Partido,2011,0,111700.00,8592.307692,12000.00,13
962,S/Partido,2011,1,78569.41,2182.483611,13134.48,36
963,S/Partido,2011,2,11105.08,793.220000,4800.00,14
964,S/Partido,2011,4,36536.87,689.374906,2111.06,53
965,S/Partido,2011,5,8374.64,598.188571,1346.69,14
966,S/Partido,2011,6,283.18,141.590000,158.69,2
967,S/Partido,2012,0,49500.00,9900.000000,11000.00,5
968,S/Partido,2012,1,18176.18,956.641053,5042.45,19
969,S/Partido,2012,2,1423.30,355.825000,584.40,4
970,S/Partido,2012,4,23854.54,581.818049,2503.00,41
971,S/Partido,2012,5,3002.17,500.361667,529.66,6
972,S/Partido,2012,6,158.69,158.690000,158.69,1

In [29]:
subquota_number_party_year["max_spent"] = subquota_number_party_year.groupby(["party","year"])['sum'].transform(max)
maxspentbytype_normalizedbycount = subquota_number_party_year[subquota_number_party_year["sum"] == subquota_number_party_year["max_spent"]]
maxspentbytype_normalizedbycount

,party,year,expense_type_id,sum,mean,max,count,max_spent
1,DEM,2008,1,823764.84,6590.118720,17417.36,125,823764.84
6,DEM,2009,1,759231.87,516.835854,14464.44,1469,759231.87
10,DEM,2010,0,733565.43,4672.391274,37300.00,157,733565.43
16,DEM,2011,1,312050.20,1560.251000,11091.80,200,312050.20
23,DEM,2012,1,381454.95,1825.143301,19140.00,209,381454.95
30,DEM,2013,1,293606.59,1779.433879,8800.00,165,293606.59
37,DEM,2014,1,309196.12,1680.413696,9296.16,184,309196.12
44,DEM,2015,1,431482.43,841.096355,10446.71,513,431482.43
51,DEM,2016,1,436352.11,745.901043,10693.80,585,436352.11
58,DEM,2017,1,322916.46,767.022470,11223.58,421,322916.46
65,False,2011,1,135800.42,404.167917,15000.00,336,135800.42
73,False,2015,4,153305.39,1825.064167,5800.00,84,153305.39
79,False,2016,4,276320.12,1211.930351,6699.05,228,276320.12
82,False,2017,0,125080.41,7357.671176,20000.00,17,125080.41
90,PCdoB,2008,1,86059.47,7823.588182,13684.90,11,86059.47
95,PCdoB,2009,1,88822.06,976.066593,11712.35,91,88822.06
100,PCdoB,2010,1,90480.20,690.688550,6000.00,131,90480.20
105,PCdoB,2011,1,268893.58,572.114000,26400.00,470,268893.58
115,PCdoB,2012,5,274003.15,1030.087030,3909.14,266,274003.15
121,PCdoB,2013,5,345125.85,1113.309194,4500.00,310,345125.85
127,PCdoB,2014,5,258615.55,1082.073431,3014.12,239,258615.55
131,PCdoB,2015,3,199985.42,4877.693171,28362.00,41,199985.42
137,PCdoB,2016,3,139916.16,2976.939574,14800.00,47,139916.16
145,PCdoB,2017,5,89074.56,1187.660800,3954.02,75,89074.56
147,PDT,2008,1,293340.43,6821.870465,15151.89,43,293340.43
152,PDT,2009,1,305667.95,287.552164,11060.16,1063,305667.95
157,PDT,2010,1,344989.79,318.550129,16050.00,1083,344989.79
162,PDT,2011,1,355432.54,592.387567,13206.61,600,355432.54
168,PDT,2012,1,432953.95,810.775187,5880.00,534,432953.95
174,PDT,2013,1,537477.97,713.782165,9162.09,753,537477.97
...,...,...,...,...,...,...,...,...
813,PT,2013,5,1487894.73,886.707229,3004.12,1678,1487894.73
820,PT,2014,5,1493117.68,974.619896,3253.00,1532,1493117.68
827,PT,2015,5,1542295.02,952.033963,10142.64,1620,1542295.02
834,PT,2016,5,1273424.30,936.341397,7680.60,1360,1273424.30
841,PT,2017,5,1076335.55,1034.938029,4708.98,1040,1076335.55
844,PTB,2008,1,560294.09,7571.541757,41239.32,74,560294.09
849,PTB,2009,1,452751.10,617.668622,42400.00,733,452751.10
854,PTB,2010,1,444393.80,706.508426,24400.00,629,444393.80
859,PTB,2011,1,611385.26,836.368345,16450.00,731,611385.26
866,PTB,2012,1,736329.76,790.901998,20000.00,931,736329.76
875,PTB,2013,3,616930.88,3316.832688,32999.94,186,616930.88
879,PTB,2014,0,631521.59,10352.812951,150000.00,61,631521.59
891,PTB,2015,5,214189.19,1145.396738,4290.81,187,214189.19
893,PTB,2016,0,216526.29,4811.695333,18000.00,45,216526.29
903,PTB,2017,3,153426.58,4512.546471,10420.00,34,153426.58
908,PTC,2015,6,276821.80,25165.618182,28174.24,11,276821.80
910,PTC,2016,6,314471.01,26205.917500,28922.72,12,314471.01
912,PTC,2017,6,264624.12,33078.015000,38500.96,8,264624.12
914,PV,2008,1,32526.74,5421.123333,8958.91,6,32526.74
918,PV,2009,1,57473.89,1853.996452,11467.49,31,57473.89
921,PV,2010,1,19418.64,1078.813333,2400.00,18,19418.64
924,PV,2011,0,55600.00,1544.444444,3000.00,36,55600.00
935,PV,2012,5,98980.54,1178.339762,3352.57,84,98980.54
936,PV,2013,1,105583.98,1055.839800,5000.00,100,105583.98
941,PV,2014,1,105508.45,1623.206923,5000.00,65,105508.45
947,S/Partido,2008,1,115630.17,10511.833636,16737.02,11,115630.17
952,S/Partido,2009,1,122822.04,2729.378667,11385.68,45,122822.04
957,S/Partido,2010,1,137079.77,2636.149423,13864.62,52,137079.77
961,S/Partido,2011,0,111700.00,8592.307692,12000.00,13,111700.00
967,S/Partido,2012,0,49500.00,9900.000000,11000.00,5,49500.00

In [30]:
with open('./json_files/senate/sum_mean_max_year_maxspentbytype_normalizedbycount.json', 'w') as f: 
    f.write("[" + maxspentbytype_normalizedbycount.to_json(orient='records', lines=True) + "]")

In [ ]:
subquota_number_party_year["mean_spent"] = subquota_number_party_year.groupby(["party","year"])['mean'].transform(max)
meanspentbytype_normalizedbycount = subquota_number_party_year[subquota_number_party_year["mean"] == subquota_number_party_year["mean_spent"]]
meanspentbytype_normalizedbycount

In [ ]:
# with open('./json_files/senate/sum_mean_max_year_meanspentbytype_normalizedbycount.json', 'w') as f: 
#     f.write("[" + meanspentbytype_normalizedbycount.to_json(orient='records', lines=True) + "]")