In [1]:
import json

In [2]:
import pandas as pd

In [3]:
df_chamber = pd.read_csv("./data/Chamber/clean_deputies.xz",compression='xz',low_memory=False,index_col=0)
# df_chamber.drop(columns=['Unnamed: 0.1', 'Unnamed: 0.1.1'],inplace=True)
att = "total_net_value"

/home/local/LSBD/israel.vidal/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
df_chamber

,Unnamed: 0.1,Unnamed: 0.1.1,year,reimbursement_value_total,total_net_value,reimbursement_numbers,congressperson_name,term,state,party,...,subquota_group_description,supplier,issue_date,document_value,remark_value,net_values,month,installment,batch_number,reimbursement_values
0,0,0,2009,0.0,130.00,2888,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,MELHOR POSTO DE COMBUSTÍVEIS LTDA,2009-04-06 00:00:00,130.00,0.00,130.00,4,0,388810,0.0
1,1,1,2009,0.0,135.00,2888,DILCEU SPERAFICO,2015.0,PR,PP,...,NaN,MELONGENA PARTICIPAÇÕES LTDA,2009-04-07 00:00:00,141.75,6.75,135.00,4,0,388810,0.0
2,2,2,2009,0.0,1000.00,2893,DILCEU SPERAFICO,2015.0,PR,PP,...,NaN,ARY ANTONIO MOSCHETTA,2009-03-12 00:00:00,1000.00,0.00,1000.00,3,0,390159,0.0
3,3,3,2009,0.0,170.00,2894,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,CONVER COMBUSTÍVEIS AUTOMÓVEIS LTDA,2009-04-14 00:00:00,170.00,0.00,170.00,4,0,390158,0.0
4,4,4,2009,0.0,100.11,2894,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,GRANDO E GROFF LTDA,2009-04-09 00:00:00,100.11,0.00,100.11,4,0,390158,0.0
5,5,5,2009,0.0,11.40,2894,DILCEU SPERAFICO,2015.0,PR,PP,...,NaN,WERMUTH SERVIÇOS POSTAIS FRANQUEADOS LTDA,2009-04-04 00:00:00,11.40,0.00,11.40,4,0,390158,0.0
6,6,6,2009,0.0,40.70,2897,DILCEU SPERAFICO,2015.0,PR,PP,...,NaN,BARBATO E NOGUEIRA LTDA,2009-04-08 00:00:00,40.70,0.00,40.70,4,0,391679,0.0
7,7,7,2009,0.0,93.40,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-06 00:00:00,93.40,0.00,93.40,3,0,391417,0.0
8,8,8,2009,0.0,116.53,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-20 00:00:00,116.53,0.00,116.53,3,0,391417,0.0
9,9,9,2009,0.0,113.56,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-26 00:00:00,113.56,0.00,113.56,3,0,391417,0.0
10,10,10,2009,0.0,100.00,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-03 00:00:00,100.00,0.00,100.00,3,0,391417,0.0
11,11,11,2009,0.0,104.50,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-06 00:00:00,104.50,0.00,104.50,3,0,391417,0.0
12,12,12,2009,0.0,126.13,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-06 00:00:00,126.13,0.00,126.13,3,0,391417,0.0
13,13,13,2009,0.0,117.01,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-12 00:00:00,117.01,0.00,117.01,3,0,391417,0.0
14,14,14,2009,0.0,95.00,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-14 00:00:00,95.00,0.00,95.00,3,0,391417,0.0
15,15,15,2009,0.0,85.00,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-16 00:00:00,85.00,0.00,85.00,3,0,391417,0.0
16,16,16,2009,0.0,122.00,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-19 00:00:00,122.00,0.00,122.00,3,0,391417,0.0
17,17,17,2009,0.0,123.74,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-24 00:00:00,123.74,0.00,123.74,3,0,391418,0.0
18,18,18,2009,0.0,121.01,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-31 00:00:00,121.01,0.00,121.01,3,0,391418,0.0
19,19,19,2009,0.0,49.21,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-05 00:00:00,49.21,0.00,49.21,3,0,391418,0.0
20,20,20,2009,0.0,67.59,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-05 00:00:00,67.59,0.00,67.59,3,0,391418,0.0
21,21,21,2009,0.0,37.05,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-09 00:00:00,37.05,0.00,37.05,3,0,391418,0.0
22,22,22,2009,0.0,99.69,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-11 00:00:00,99.69,0.00,99.69,3,0,391418,0.0
23,23,23,2009,0.0,49.73,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-12 00:00:00,49.73,0.00,49.73,3,0,391418,0.0
24,24,24,2009,0.0,120.01,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-18 00:00:00,120.01,0.00,120.01,3,0,391418,0.0
25,25,25,2009,0.0,165.45,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-18 00:00:00,165.45,0.00,165.45,3,0,391418,0.0
26,26,26,2009,0.0,32.02,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-18 00:00:00,32.02,0.00,32.02,3,0,391418,0.0
27,27,27,2009,0.0,41.94,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-19 00:00:00,41.94,0.00,41.94,3,0,391419,0.0
28,28,28,2009,0.0,54.81,2896,DILCEU SPERAFICO,2015.0,PR,PP,...,Veículos Automotores,AJ BORDIGNON E CIA LTDA,2009-03-24 00:00:00,54.81,0.00,54.81,3,0,391419,0.0
29,29,29,2009,0.0,200.00,2897,DILCEU SPERAFICO,2015.0,PR,PP,...,NaN,GREZZANA E FREIRE LTDA,2009-04-15 00:00:00,200.00,0.00,200.00,4,0,391680,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713619,1713619,1713619,2017,0.0,51.00,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,TATIANA G DE CORDOVA BASSO & CIA LTDA,2017-09-21 00:00:00,51.00,0.00,51.00,9,0,1426522,0.0
1713620,1713620,1713620,2017,0.0,28.90,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,RESTAURANTE E LOJA 44 LTDA,2017-09-23 00:00:00,28.90,0.00,28.90,9,0,1426522,0.0
1713621,1713621,1713621,2017,0.0,110.56,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,DITRENTO POSTOS E LOGISTICA LTDA,2017-09-23 00:00:00,110.56,0.00,110.56,9,0,1426523,0.0
1713622,1713622,1713622,2017,0.0,20.00,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,BRASAL COMBUSTÍVEIS LTDA,2017-09-26 00:00:00,20.00,0.00,20.00,9,0,1426523,0.0
1713623,1713623,1713623,2017,0.0,27.55,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,SERVICO NACIONAL DE APRENDIZAGEM COMERCIAL - S...,2017-09-19 00:00:00,27.55,0.00,27.55,9,0,1426522,0.0
1713624,1713624,1713624,2017,0.0,15.30,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,SERVICO NACIONAL DE APRENDIZAGEM COMERCIAL - S...,2017-09-20 00:00:00,15.30,0.00,15.30,9,0,1426522,0.0
1713625,1713625,1713625,2017,0.0,2898.00,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,ESTILO GRAFICA EIRELI ME,2017-08-29 00:00:00,2898.00,0.00,2898.00,8,0,1426519,0.0
1713626,1713626,1713626,2017,0.0,311.50,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,WM COMERCIO DE ARTIGOS DE PAPELARIA LTDA-ME,2017-09-21 00:00:00,311.50,0.00,311.50,9,0,1426521,0.0
1713627,1713627,1713627,2017,0.0,277.20,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,HOTEL JARDIM EUROPA LTDA,2017-09-23 00:00:00,277.20,0.00,277.20,9,0,1426520,0.0
1713628,1713628,1713628,2017,0.0,68.97,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,FRED RESTAURANTE LTDA.,2017-09-25 00:00:00,68.97,0.00,68.97,9,0,1426522,0.0
1713629,1713629,1713629,2017,0.0,36.40,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,SERVICO NACIONAL DE APRENDIZAGEM COMERCIAL SENAC,2017-09-26 00:00:00,36.40,0.00,36.40,9,0,1426522,0.0
1713630,1713630,1713630,2017,0.0,233.70,5976,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,OI S.A. - EM RECUPERACAO JUDICIAL,2017-08-26 00:00:00,233.70,0.00,233.70,9,0,1426523,0.0
1713631,1713631,1713631,2017,0.0,400.00,5984,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,RÁDIO MISSIONEIRA SETE POVOS LTDA,2017-09-29 00:00:00,400.00,0.00,400.00,9,0,1430307,0.0
1713632,1713632,1713632,2017,0.0,7200.00,5984,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,ORNELAS & ORNELAS CONSULTORIA E ASSESSORIA LTDA.,2017-10-02 00:00:00,7200.00,0.00,7200.00,9,0,1430310,0.0
1713633,1713633,1713633,2017,0.0,5874.00,5984,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,EDGAR LISBOA - ME,2017-10-02 00:00:00,5874.00,0.00,5874.00,10,0,1430310,0.0
1713634,1713634,1713634,2017,0.0,1227.28,5984,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,TELEFONICA BRASIL S.A.,2017-09-07 00:00:00,1251.24,23.96,1227.28,9,0,1430308,0.0
1713635,1713635,1713635,2017,0.0,180.35,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,NaN,OI S.A. - EM RECUPERACAO JUDICIAL,2017-09-15 00:00:00,180.35,0.00,180.35,9,0,1431767,0.0
1713636,1713636,1713636,2017,0.0,20.00,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,CASCOL COMBUSTIVEIS PARA VEICULOS LTDA,2017-10-06 00:00:00,20.00,0.00,20.00,10,0,1431770,0.0
1713637,1713637,1713637,2017,0.0,61.80,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,BRASAL COMBUSTÍVEIS LTDA,2017-10-06 00:00:00,61.80,0.00,61.80,10,0,1431770,0.0
1713638,1713638,1713638,2017,0.0,222.85,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-11 00:00:00,222.85,0.00,222.85,9,0,1431767,0.0
1713639,1713639,1713639,2017,0.0,146.70,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-11 00:00:00,146.70,0.00,146.70,9,0,1431767,0.0
1713640,1713640,1713640,2017,0.0,272.86,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-13 00:00:00,272.86,0.00,272.86,9,0,1431767,0.0
1713641,1713641,1713641,2017,0.0,287.90,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-17 00:00:00,287.90,0.00,287.90,9,0,1431767,0.0
1713642,1713642,1713642,2017,0.0,236.91,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-20 00:00:00,236.91,0.00,236.91,9,0,1431767,0.0
1713643,1713643,1713643,2017,0.0,175.60,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-21 00:00:00,175.60,0.00,175.60,9,0,1431767,0.0
1713644,1713644,1713644,2017,0.0,275.12,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-22 00:00:00,275.12,0.00,275.12,9,0,1431767,0.0
1713645,1713645,1713645,2017,0.0,117.60,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-23 00:00:00,117.60,0.00,117.60,9,0,1431767,0.0
1713646,1713646,1713646,2017,0.0,208.18,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-25 00:00:00,208.18,0.00,208.18,9,0,1431767,0.0
1713647,1713647,1713647,2017,0.0,86.24,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-25 00:00:00,86.24,0.00,86.24,9,0,1431768,0.0
1713648,1713648,1713648,2017,0.0,139.52,5988,DARCÍSIO PERONDI,2015.0,RS,PMDB,...,Veículos Automotores,REDE NOSSA CASA COMERCIAL DE COMBUSTIVEIS LTDA.,2017-09-27 00:00:00,139.52,0.00,139.52,9,0,1431768,0.0

In [5]:
pd.unique(df_chamber["year"])

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017])

**Pegando soma, média e máximo por ano:**

In [6]:
sum_mean_max_year = df_chamber.groupby("year")[att].agg(['sum', 'mean', 'max'])
sum_mean_max_year

               sum        mean       max
year
2009  9.078889e+07  528.020416  122850.0
2010  1.203424e+08  589.050156  141000.0
2011  1.237837e+08  580.111752  197000.0
2012  1.227342e+08  622.955916  215000.0
2013  1.309542e+08  674.475887  197370.0
2014  1.410440e+08  819.337484  208320.0
2015  1.568238e+08  751.327524  189600.0
2016  1.659139e+08  825.351845  184500.0
2017  1.231230e+08  815.610901   79900.0

In [7]:
with open('sum_mean_max_year.json', 'w') as f: 
    f.write(sum_mean_max_year.reset_index().to_json(orient='records', lines=True))

**Vamos também descobrir soma, média e máximo totais:**

In [8]:
df_chamber[att].agg(['sum', 'mean', 'max'])

sum     1.175508e+09
mean    6.859678e+02
max     2.150000e+05
Name: total_net_value, dtype: float64

**Vamos pegar a soma dos gastos por deputado por ano**

In [9]:
df_cp_year = df_chamber.groupby(["year", "congressperson_name"])[att].agg(['sum', 'mean', 'max']).reset_index()
df_cp_year
# DARLEY

      year congressperson_name        sum          mean      max
0     2009  ABELARDO CAMARINHA  178115.05   5238.677941  10000.0
1     2009     ABELARDO LUPION  217827.00    316.609012  10800.0
2     2009   ACÉLIO CASAGRANDE  181243.42    341.968717   8000.0
3     2009       ADEMIR CAMILO  191777.41    639.258033   6720.0
4     2009         ADÃO PRETTO   11994.60  11994.600000  11994.6
5     2009      AELTON FREITAS  194268.45    332.082821  12000.0
6     2009     AFFONSO CAMARGO  139370.75    316.033447   8300.0
7     2009         AFONSO HAMM  170882.12    177.447684   8278.0
8     2009       AIRTON ROVEDA  195256.70   1243.673248  10080.0
9     2009       ALBANO FRANCO  144519.71   1537.443723   5000.0
10    2009       ALBERTO SILVA  109251.71   3641.723667  28200.0
11    2009      ALBÉRICO FILHO  100003.69    751.907444   9860.0
12    2009       ALCENI GUERRA  131010.78    206.968057  18000.0
13    2009         ALDO REBELO  220003.56    635.848439  40000.0
14    2009       ALEX CANZIANI  173954.73    861.162030  23320.0
15    2009    ALEXANDRE SANTOS  121206.49   2244.564630  12000.0
16    2009  ALEXANDRE SILVEIRA  200007.06    826.475455  29000.0
17    2009      ALFREDO KAEFER  121528.47    226.732220   5000.0
18    2009      ALICE PORTUGAL  154167.87    637.057314   8500.0
19    2009        ALINE CORRÊA  172057.35   1445.860084  15350.0
20    2009          ANA ARRAES  138278.36    271.666719   3000.0
21    2009        ANDRE VARGAS  185327.35    378.992536   6970.0
22    2009        ANDREIA ZITO  143440.72    459.745897   7850.0
23    2009      ANDRÉ DE PAULA  243826.94   1729.269078  10100.0
24    2009      ANDRÉ ZACHAROW  213095.20    448.621474  16000.0
25    2009         ANGELA AMIN  148722.22    261.374728   2870.0
26    2009      ANGELA PORTELA  209549.77   1775.845508  15000.0
27    2009      ANGELO VANHONI  158615.49   1289.556829  15000.0
28    2009    ANSELMO DE JESUS  259531.31    578.020735  19956.4
29    2009     ANTONIO BULHÕES  211585.21    378.506637   8100.0
...    ...                 ...        ...           ...      ...
5382  2017   VICENTINHO JÚNIOR  336361.08   1716.127959  30000.0
5383  2017       VICTOR MENDES  379115.42   3082.239187  25235.0
5384  2017   VINICIUS CARVALHO  185643.66    428.738245  12000.0
5385  2017     VINICIUS GURGEL  323400.00   6219.230769  30000.0
5386  2017         VITOR LIPPI  221450.56    298.049206   6415.0
5387  2017         VITOR VALIM  165714.14   1801.240652   5000.0
5388  2017        WADIH DAMOUS  157170.48   1147.229781   8000.0
5389  2017    WALDENOR PEREIRA  238733.53    904.293674   9100.0
5390  2017     WALDIR MARANHÃO   62000.00  10333.333333  15000.0
5391  2017        WALNEY ROCHA  257661.71    657.300281  15000.0
5392  2017        WALTER ALVES  296261.21   2332.765433  12000.0
5393  2017       WALTER IHOSHI  247103.10   1205.380976   8000.0
5394  2017       WELITON PRADO  251904.08   1447.724598  19250.0
5395  2017  WELLINGTON ROBERTO  278594.08   1629.205146  25000.0
5396  2017      WEVERTON ROCHA  285939.09   1021.211036  18240.0
5397  2017      WILSON BESERRA  189177.11    384.506321  14000.0
5398  2017        WILSON FILHO  241633.89   1019.552278   9435.0
5399  2017      WLADIMIR COSTA  168447.53   5433.791290  19800.0
5400  2017      WOLNEY QUEIROZ  220831.40   1077.226341  18000.0
5401  2017        YEDA CRUSIUS  106931.77    774.867899   5000.0
5402  2017     ZECA CAVALCANTI  359808.87   1864.294663  27990.0
5403  2017         ZECA DIRCEU  258218.49    209.763193   9000.0
5404  2017          ZECA DO PT  315393.18   1365.338442  12600.0
5405  2017        ZENAIDE MAIA  361026.27   1510.570167  16800.0
5406  2017    ZÉ AUGUSTO NALIN   86674.60   1203.813889   7400.0
5407  2017           ZÉ CARLOS  232559.06    506.664619   9500.0
5408  2017          ZÉ GERALDO  234311.12   9762.963333  45000.0
5409  2017            ZÉ SILVA  246736.43    323.376710  30000.0
5410  2017          ÁTILA LINS  290238.05   6910.429762  27300.0
5411  2017          ÁTILA LIRA  233850.76   2315.354059   9800.0

[5412 rows x 5 columns]

In [10]:
with open('./json_files/chamber/sum_mean_max_year_congressperson_each.json', 'w',encoding="utf8") as f:
    f.write(df_cp_year.to_json(orient='records', lines=True) + "\n")

**Agora vamos descobrir quem são os responsáveis pelo maior gasto em cada ano:**

In [11]:
# df_cp_year = df_chamber.groupby(["congressperson_name", "year"])[att].agg(['sum', 'mean', 'max']).reset_index()

In [12]:
sum_years = df_cp_year.groupby("year")['sum'].max()

In [13]:
sum_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['sum'] == sum_years[2009])]
sum_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['sum'] == sum_years[2010])]
sum_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['sum'] == sum_years[2011])]
sum_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['sum'] == sum_years[2012])]
sum_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['sum'] == sum_years[2013])]
sum_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['sum'] == sum_years[2014])]
sum_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['sum'] == sum_years[2015])]
sum_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['sum'] == sum_years[2016])]
sum_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['sum'] == sum_years[2017])]

In [14]:
sum_2009

     year congressperson_name        sum      mean      max
520  2009  WELLINGTON ROBERTO  321864.66  12379.41  71400.0

In [15]:
sum_2010

      year congressperson_name        sum         mean      max
1036  2010        URZENI ROCHA  379296.42  3083.710732  23000.0

In [16]:
sum_2011

      year congressperson_name        sum          mean      max
1838  2011  WELLINGTON ROBERTO  357342.66  11527.182581  60339.5

In [17]:
sum_2012

      year congressperson_name        sum         mean      max
2301  2012           RAUL LIMA  375394.38  2643.622394  32500.0

In [18]:
sum_2013

      year congressperson_name        sum         mean      max
2855  2013           RAUL LIMA  418348.99  6536.702969  23500.0

In [19]:
sum_2014

      year congressperson_name        sum          mean      max
3410  2014           RAUL LIMA  485547.85  17340.994643  55000.0

In [20]:
sum_2015

      year congressperson_name        sum        mean      max
4016  2015      MARCOS ROGÉRIO  501070.52  813.426169  26770.0

In [21]:
sum_2016

      year congressperson_name        sum         mean      max
4459  2016     ELIZEU DIONIZIO  494538.45  2122.482618  10000.0

In [22]:
sum_2017

      year congressperson_name        sum         mean      max
5214  2017      MARCOS ROGÉRIO  396445.06  1205.000182  30000.0

In [23]:
# with open('sum_mean_max_year_congressperson_maxtotal.json', 'w',encoding="utf8") as f:
#     for df in [sum_2009,sum_2010,sum_2011,sum_2012,sum_2013,sum_2014,sum_2015,sum_2016,sum_2017]:
#         f.write(df.to_json(orient='records', lines=True) + "\n")

**Vamos descobrir agora quem são os reponsáveis pelos maiores gastos na média em cada ano:**

In [24]:
mean_max_year = df_cp_year.groupby("year")['mean'].max()

In [25]:
mean_max_year

year
2009     15090.000000
2010     31994.534444
2011     28952.000000
2012     20161.111111
2013     42400.000000
2014     62325.001667
2015    109810.000000
2016     18098.691538
2017     18960.417647
Name: mean, dtype: float64

In [26]:
mean_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['mean'] == mean_max_year[2009])]
mean_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['mean'] == mean_max_year[2010])]
mean_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['mean'] == mean_max_year[2011])]
mean_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['mean'] == mean_max_year[2012])]
mean_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['mean'] == mean_max_year[2013])]
mean_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['mean'] == mean_max_year[2014])]
mean_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['mean'] == mean_max_year[2015])]
mean_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['mean'] == mean_max_year[2016])]
mean_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['mean'] == mean_max_year[2017])]

In [27]:
mean_2009

     year congressperson_name      sum     mean      max
514  2009     WALDIR MARANHÃO  30180.0  15090.0  26000.0

In [28]:
mean_2010

      year congressperson_name        sum          mean      max
1015  2010        SILAS CÂMARA  287950.81  31994.534444  93000.0

In [29]:
mean_2011

      year  congressperson_name      sum     mean      max
1321  2011  FERNANDO DE FABINHO  28952.0  28952.0  28952.0

In [30]:
mean_2012

      year congressperson_name       sum          mean      max
2403  2012  WELLINGTON ROBERTO  362900.0  20161.111111  80000.0

In [31]:
mean_2013

      year    congressperson_name       sum     mean      max
2891  2013  SABINO CASTELO BRANCO  296800.0  42400.0  80000.0

In [32]:
mean_2014

      year    congressperson_name        sum          mean       max
3450  2014  SABINO CASTELO BRANCO  373950.01  62325.001667  184500.0

In [33]:
mean_2015

      year  congressperson_name       sum      mean       max
3598  2015  ARNALDO FARIA DE SÁ  219620.0  109810.0  189600.0

In [34]:
mean_2016

      year congressperson_name        sum          mean      max
4859  2016      WLADIMIR COSTA  235282.99  18098.691538  72200.0

In [37]:
# with open('spents_categories.json', 'w',encoding="utf8") as f:
#     catogories = {str(subquota_number[i]):subquota_description[i] for i in range(len(subquota_number))}
#     f.write(json.dumps(catmean_2017))

In [38]:
with open('sum_mean_max_year_congressperson_maxmean.json', 'w',encoding="utf8") as f:
    for df in [mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

**Agora vejamos quem são deputados com menores gastos médios:**

In [39]:
mean_min_year = df_cp_year.groupby("year")['mean'].min()

In [40]:
mean_2009 = df_cp_year[(df_cp_year['year'] == 2009) & (df_cp_year['mean'] == mean_min_year[2009])]
mean_2010 = df_cp_year[(df_cp_year['year'] == 2010) & (df_cp_year['mean'] == mean_min_year[2010])]
mean_2011 = df_cp_year[(df_cp_year['year'] == 2011) & (df_cp_year['mean'] == mean_min_year[2011])]
mean_2012 = df_cp_year[(df_cp_year['year'] == 2012) & (df_cp_year['mean'] == mean_min_year[2012])]
mean_2013 = df_cp_year[(df_cp_year['year'] == 2013) & (df_cp_year['mean'] == mean_min_year[2013])]
mean_2014 = df_cp_year[(df_cp_year['year'] == 2014) & (df_cp_year['mean'] == mean_min_year[2014])]
mean_2015 = df_cp_year[(df_cp_year['year'] == 2015) & (df_cp_year['mean'] == mean_min_year[2015])]
mean_2016 = df_cp_year[(df_cp_year['year'] == 2016) & (df_cp_year['mean'] == mean_min_year[2016])]
mean_2017 = df_cp_year[(df_cp_year['year'] == 2017) & (df_cp_year['mean'] == mean_min_year[2017])]

In [41]:
with open('sum_mean_max_year_congressperson_minmean.json', 'w',encoding="utf8") as f:
    for df in [mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [42]:
mean_2009

     year congressperson_name      sum       mean    max
452  2009           RODOVALHO  7545.21  40.565645  160.0

In [43]:
mean_2010

     year  congressperson_name        sum       mean     max
778  2010  JORGE TADEU MUDALEN  127298.59  77.621091  4900.0

In [44]:
mean_2011

      year congressperson_name      sum      mean     max
1210  2011    CELSO RUSSOMANNO  2364.52  57.67122  295.84

In [45]:
mean_2012

      year congressperson_name     sum     mean    max
2083  2012      HUMBERTO SOUTO  248.19  62.0475  103.4

In [46]:
mean_2013

      year congressperson_name       sum       mean      max
2745  2013    MANUEL ROSA NECA  22853.84  85.916692  1545.07

In [47]:
mean_2014

      year  congressperson_name        sum       mean     max
3212  2014  JORGE TADEU MUDALEN  141867.54  86.032468  3000.0

In [48]:
mean_2015

      year congressperson_name    sum       mean   max
3981  2015        LÉO OLIVEIRA  115.0  38.333333  50.0

In [49]:
mean_2016

      year congressperson_name      sum       mean     max
4691  2016    NILMÁRIO MIRANDA  1272.71  84.847333  787.35

In [50]:
mean_2017

      year  congressperson_name       sum       mean      max
5110  2017  JORGE TADEU MUDALEN  143706.2  98.631572  16000.0

**Agora analizemos por partido**

In [51]:
df_party_year = df_chamber.groupby([ "year", "party"])[att].agg(['sum', 'mean', 'max', 'count']).reset_index()
# Comment lines bellow if dont want to consider number of politicians in each party
df_party_year['sum'] = df_party_year['sum']/df_party_year["count"]
df_party_year['mean'] = df_party_year['mean']/df_party_year["count"]
df_party_year
# politicians_by_party
#DARLEY

     year    party          sum        mean        max  count
0    2009   AVANTE  4433.561364   67.175172   74000.00     66
1    2009      DEM   613.979930    0.054038   80000.00  11362
2    2009    PCdoB   591.387806    0.164640   40000.00   3592
3    2009      PDT   635.273339    0.112998   50000.00   5622
4    2009      PEN   782.053250    2.793047   11600.00    280
5    2009      PHS   747.096940    1.494194   24500.00    500
6    2009     PMDB   549.344544    0.020863   39900.00  26331
7    2009      PMN  1238.659723    3.431190   64000.00    361
8    2009     PODE  1143.523077    3.257901   30000.00    351
9    2009       PP   452.100590    0.032039   55000.00  14111
10   2009      PPS   380.265894    0.080994   29870.00   4695
11   2009       PR   603.859254    0.051266   74980.00  11779
12   2009      PRB   579.707154    0.116524   75899.30   4975
13   2009     PROS  1836.923002    3.262741   30300.00    563
14   2009      PSB   441.009346    0.042397   30000.00  10402
15   2009      PSC   598.142517    0.156010   42000.00   3834
16   2009      PSD   633.685183    0.085173   44190.00   7440
17   2009     PSDB   425.918458    0.020945   38670.00  20335
18   2009      PSL   226.732220    0.423008    5000.00    536
19   2009     PSOL   408.267903    0.201018   13050.00   2031
20   2009       PT   441.420080    0.014669   93000.00  30092
21   2009      PTB  1001.007866    0.243258  122850.00   4115
22   2009      PTC  1295.728538    3.055964   44000.00    424
23   2009       PV   428.838013    0.084367   27400.00   5083
24   2009  S.PART.   376.505546    0.407033    6970.00    925
25   2009       SD   484.667880    0.226798   15294.00   2137
26   2010   AVANTE  3109.108082   21.295261   35000.00    146
27   2010      DEM   665.426546    0.044335  120000.00  15009
28   2010    PCdoB   712.058080    0.182766   78620.00   3896
29   2010      PDT   699.424953    0.102136   59979.50   6848
..    ...      ...          ...         ...        ...    ...
215  2016       PT   610.025664    0.019944   87000.00  30587
216  2016      PTB  1273.617942    0.279119  184500.00   4563
217  2016       PV   501.023506    0.136705   51840.00   3665
218  2016     REDE   606.180423    0.427791   28530.00   1417
219  2016       SD   835.230393    0.150736   72200.00   5541
220  2017   AVANTE  1041.238061    0.881658   40000.00   1181
221  2017      DEM   895.516290    0.114049   45000.00   7852
222  2017    PCdoB  1077.203829    0.363062   35000.04   2967
223  2017      PDT   804.836113    0.130613   56000.00   6162
224  2017      PEN   763.569970    0.761286   18900.00   1003
225  2017      PHS   640.246367    0.273961   12700.00   2337
226  2017     PMDB   927.760539    0.059350   56700.00  15632
227  2017     PODE  1130.392314    0.267422   48000.00   4227
228  2017       PP   801.522803    0.061941   60000.00  12940
229  2017      PPS   850.809545    0.352011   34362.00   2417
230  2017       PR   869.486955    0.081497   48900.00  10669
231  2017      PRB  1147.040472    0.232477   65000.00   4934
232  2017     PROS   787.817851    0.450182   27500.00   1750
233  2017      PRP  9742.458125  304.451816   38000.00     32
234  2017      PSB   768.564369    0.067442   79900.00  11396
235  2017      PSC  1009.381044    0.524354   75000.00   1925
236  2017      PSD  1000.591582    0.105984   50400.00   9441
237  2017     PSDB   670.752922    0.042799   45000.00  15672
238  2017      PSL   664.402008    0.883513   25700.00    752
239  2017     PSOL   746.337931    0.557385   25200.00   1339
240  2017       PT   571.284449    0.022887   45000.00  24961
241  2017      PTB  1214.217511    0.391936   50000.00   3098
242  2017       PV   547.767031    0.222489   15000.00   2462
243  2017     REDE   591.571283    0.542228   19760.00   1091
244  2017       SD   841.859462    0.209626   72000.01   4016

[245 rows x 6 columns]

**Vejamos qual partido teve maior gasto em cada ano:**

In [52]:
sum_years = df_party_year.groupby("year")['sum'].max()
sum_years

year
2009     4433.561364
2010     3921.194622
2011     1223.376149
2012     1388.833094
2013     1723.885887
2014     2263.304452
2015    12015.000000
2016     8699.544286
2017     9742.458125
Name: sum, dtype: float64

In [53]:
sum_party_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['sum'] == sum_years[2009])]
sum_party_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['sum'] == sum_years[2010])]
sum_party_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['sum'] == sum_years[2011])]
sum_party_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['sum'] == sum_years[2012])]
sum_party_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['sum'] == sum_years[2013])]
sum_party_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['sum'] == sum_years[2014])]
sum_party_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['sum'] == sum_years[2015])]
sum_party_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['sum'] == sum_years[2016])]
sum_party_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['sum'] == sum_years[2017])]

In [54]:
with open('sum_mean_max_year_party_maxtotal.json', 'w',encoding="utf8") as f:
    for df in [sum_party_2009,sum_party_2010,sum_party_2011,sum_party_2012,sum_party_2013,sum_party_2014,sum_party_2015,sum_party_2016,sum_party_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [55]:
sum_party_2009

   year   party          sum       mean      max  count
0  2009  AVANTE  4433.561364  67.175172  74000.0     66

In [56]:
sum_party_2010

    year party          sum       mean      max  count
39  2010  PROS  3921.194622  11.846509  48000.0    331

In [57]:
sum_party_2011

    year party          sum     mean      max  count
65  2011  PROS  1223.376149  0.53121  44500.0   2303

In [58]:
sum_party_2012

    year party          sum      mean      max  count
94  2012  PROS  1388.833094  0.682138  50000.0   2036

In [59]:
sum_party_2013

     year   party          sum      mean      max  count
110  2013  AVANTE  1723.885887  3.252615  35000.0    530

In [60]:
sum_party_2014

     year   party          sum      mean      max  count
138  2014  AVANTE  2263.304452  4.963387  58500.0    456

In [61]:
sum_party_2015

     year party      sum    mean      max  count
181  2015   PRP  12015.0  2002.5  32790.0      6

In [62]:
sum_party_2016

     year party          sum       mean      max  count
207  2016   PRP  8699.544286  310.69801  28500.0     28

In [63]:
sum_party_2017

     year party          sum        mean      max  count
233  2017   PRP  9742.458125  304.451816  38000.0     32

**Vamos descobrir agora quem são os partidos reponsáveis pelos maiores gastos na média em cada ano:**

In [64]:
mean_max_year = df_party_year.groupby("year")['mean'].max()

In [65]:
mean_max_year

year
2009      67.175172
2010      21.295261
2011       2.059174
2012       3.699754
2013       3.252615
2014       9.855026
2015    2002.500000
2016     310.698010
2017     304.451816
Name: mean, dtype: float64

In [66]:
mean_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['mean'] == mean_max_year[2009])]
mean_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['mean'] == mean_max_year[2010])]
mean_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['mean'] == mean_max_year[2011])]
mean_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['mean'] == mean_max_year[2012])]
mean_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['mean'] == mean_max_year[2013])]
mean_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['mean'] == mean_max_year[2014])]
mean_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['mean'] == mean_max_year[2015])]
mean_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['mean'] == mean_max_year[2016])]
mean_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['mean'] == mean_max_year[2017])]

In [67]:
with open('sum_mean_max_year_party_maxmean.json', 'w',encoding="utf8") as f:
    for df in [mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [68]:
mean_2009

   year   party          sum       mean      max  count
0  2009  AVANTE  4433.561364  67.175172  74000.0     66

In [69]:
mean_2010

    year   party          sum       mean      max  count
26  2010  AVANTE  3109.108082  21.295261  35000.0    146

In [70]:
mean_2011

    year party          sum      mean      max  count
60  2011  PODE  1054.297246  2.059174  18500.0    512

In [71]:
mean_2012

     year  party         sum      mean      max  count
105  2012  PTdoB  850.943348  3.699754  31200.0    230

In [72]:
mean_2013

     year   party          sum      mean      max  count
110  2013  AVANTE  1723.885887  3.252615  35000.0    530

In [73]:
mean_2014

     year party         sum      mean      max  count
157  2014  PSDC  965.792551  9.855026  20000.0     98

In [74]:
mean_2015

     year party      sum    mean      max  count
181  2015   PRP  12015.0  2002.5  32790.0      6

In [75]:
mean_2016

     year party          sum       mean      max  count
207  2016   PRP  8699.544286  310.69801  28500.0     28

In [76]:
mean_2017

     year party          sum        mean      max  count
233  2017   PRP  9742.458125  304.451816  38000.0     32

**Agora vejamos quem são os partidos com menores gastos médios:**

In [77]:
mean_min_year = df_party_year.groupby("year")['mean'].min()

In [78]:
mean_2009 = df_party_year[(df_party_year['year'] == 2009) & (df_party_year['mean'] == mean_min_year[2009])]
mean_2010 = df_party_year[(df_party_year['year'] == 2010) & (df_party_year['mean'] == mean_min_year[2010])]
mean_2011 = df_party_year[(df_party_year['year'] == 2011) & (df_party_year['mean'] == mean_min_year[2011])]
mean_2012 = df_party_year[(df_party_year['year'] == 2012) & (df_party_year['mean'] == mean_min_year[2012])]
mean_2013 = df_party_year[(df_party_year['year'] == 2013) & (df_party_year['mean'] == mean_min_year[2013])]
mean_2014 = df_party_year[(df_party_year['year'] == 2014) & (df_party_year['mean'] == mean_min_year[2014])]
mean_2015 = df_party_year[(df_party_year['year'] == 2015) & (df_party_year['mean'] == mean_min_year[2015])]
mean_2016 = df_party_year[(df_party_year['year'] == 2016) & (df_party_year['mean'] == mean_min_year[2016])]
mean_2017 = df_party_year[(df_party_year['year'] == 2017) & (df_party_year['mean'] == mean_min_year[2017])]

In [79]:
with open('sum_mean_max_year_party_minmean.json', 'w',encoding="utf8") as f:
    for df in [mean_2009,mean_2010,mean_2011,mean_2012,mean_2013,mean_2014,mean_2015,mean_2016,mean_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [80]:
mean_2009

    year party        sum      mean      max  count
20  2009    PT  441.42008  0.014669  93000.0  30092

In [81]:
mean_2010

    year party         sum      mean       max  count
46  2010    PT  516.921165  0.015635  120000.0  33062

In [82]:
mean_2011

    year party         sum      mean       max  count
73  2011    PT  489.358267  0.012907  194100.0  37914

In [83]:
mean_2012

     year party         sum      mean       max  count
102  2012    PT  508.381891  0.013826  162580.0  36770

In [84]:
mean_2013

     year party         sum      mean      max  count
131  2013    PT  548.159507  0.014787  89940.0  37071

In [85]:
mean_2014

     year party         sum     mean      max  count
160  2014    PT  667.224443  0.01969  96890.0  33886

In [86]:
mean_2015

     year party         sum    mean       max  count
188  2015    PT  578.949669  0.0191  137900.0  30311

In [87]:
mean_2016

     year party         sum      mean      max  count
215  2016    PT  610.025664  0.019944  87000.0  30587

In [88]:
mean_2017

     year party         sum      mean      max  count
240  2017    PT  571.284449  0.022887  45000.0  24961

In [89]:
df_chamber[df_chamber["subquota_number"] == 119].head()["subquota_description"]

795160    Aircraft renting or charter of aircraft
795161    Aircraft renting or charter of aircraft
795162    Aircraft renting or charter of aircraft
795852    Aircraft renting or charter of aircraft
795858    Aircraft renting or charter of aircraft
Name: subquota_description, dtype: object

##### Analisando Por tipo de Gasto

In [90]:
df_chamber.groupby(["subquota_number","year"])[att].agg(['sum', 'mean', 'max'])

                               sum          mean        max
subquota_number year
1               2009  1.158905e+07    626.029062   11970.00
                2010  1.567201e+07    707.093054   25454.50
                2011  1.621037e+07    751.279945   26940.00
                2012  1.755653e+07    833.564102   17000.00
                2013  1.865443e+07    914.612029   18000.00
                2014  1.872347e+07    998.425456   25400.00
                2015  2.263064e+07   1057.407581   34546.80
                2016  2.477224e+07   1031.360025   21088.70
                2017  1.784921e+07   1000.348120   14823.80
2               2009  5.410240e+06    342.030590   28200.00
3               2009  1.392043e+07    194.887594    4500.00
                2010  1.652159e+07    215.590855    4500.00
                2011  1.658279e+07    213.599348    4500.00
                2012  1.613333e+07    223.385214    4500.75
                2013  1.605312e+07    230.727828    4507.00
                2014  1.520226e+07    232.070704    4500.00
                2015  1.729632e+07    231.767103    6000.00
                2016  1.887592e+07    259.744831    7937.63
                2017  1.422304e+07    259.662914    6000.00
4               2009  1.066000e+07   4385.025512   61000.00
                2010  1.562511e+07   5673.604219   60000.00
                2011  1.550052e+07   4920.801029   72000.00
                2012  1.515154e+07   5292.191156   80000.00
                2013  1.466115e+07   6230.830935   80000.00
                2014  1.856971e+07   8084.330344   90000.00
                2015  2.185912e+07   7245.317421   68200.00
                2016  2.318353e+07   7898.989765   62000.00
                2017  1.476726e+07   7499.879787   60000.00
5               2009  2.268215e+07   3514.977513  122850.00
                2010  2.105567e+07   5239.031135  141000.00
...                            ...           ...        ...
15              2013  2.089911e+07    766.040372   34500.00
                2014  2.236010e+05   1442.587097   10000.00
119             2013  7.141438e+05   8604.142410   79000.00
                2014  5.176484e+06   9343.834314  184500.00
                2015  2.773230e+06   8831.943025   35566.70
                2016  3.400546e+06  10120.673929   39600.01
                2017  2.214901e+06  10206.919171   39000.00
120             2013  7.588583e+05   3270.941078   10000.00
                2014  1.751224e+07   4021.180439   30000.00
                2015  2.409910e+07   4178.793432   14700.00
                2016  2.716932e+07   4287.410169   17000.00
                2017  2.087525e+07   4369.949031   12713.00
121             2013  6.896915e+04   3831.619444   13600.00
                2014  2.744880e+05   3760.109863   30050.01
                2015  3.693220e+04    900.785366    9500.00
                2016  2.799443e+04    903.046129    6000.00
                2017  8.738080e+04   3799.165217    7000.00
122             2013  6.028027e+04     33.489039    1042.83
                2014  5.837464e+05     32.537004    2500.00
                2015  8.636400e+05     30.770657    1681.89
                2016  8.803534e+05     33.399856    2413.85
                2017  7.889730e+05     35.141999    2700.00
123             2013  6.791050e+03    101.358955     737.45
                2014  6.740710e+04     82.505630    1445.85
                2015  8.955686e+04     91.105656    1777.00
                2016  9.460987e+04    103.173250    1833.66
                2017  1.007248e+05     87.586800    2066.99
137             2015  2.040420e+04   6801.400000    7604.20
                2016  2.096184e+05   5516.272895    7697.16
                2017  9.328715e+04   4055.963043    7697.16

[136 rows x 3 columns]

In [91]:
df_chamber.iloc[0]

Unnamed: 0.1                                                  0
Unnamed: 0.1.1                                                0
year                                                       2009
reimbursement_value_total                                     0
total_net_value                                             130
reimbursement_numbers                                      2888
congressperson_name                            DILCEU SPERAFICO
term                                                       2015
state                                                        PR
party                                                        PP
subquota_number                                               3
subquota_description                       Fuels and lubricants
subquota_group_id                                             1
subquota_group_description                 Veículos Automotores
supplier                      MELHOR POSTO DE COMBUSTÍVEIS LTDA
issue_date                                  2009-04-06 00:00:00
document_value                                              130
remark_value                                                  0
net_values                                                  130
month                                                         4
installment                                                   0
batch_number                                             388810
reimbursement_values                                          0
Name: 0, dtype: object

In [92]:
pd.unique(df_chamber["subquota_group_id"])

array([1, 0, 4, 3, 2])

In [93]:
pd.unique(df_chamber["subquota_group_description"])

array(['Veículos Automotores', nan, 'Sem especificações', 'Aeronaves',
       'Embarcações'], dtype=object)

In [94]:
subquota_description = pd.unique(df_chamber["subquota_description"])
subquota_description

array(['Fuels and lubricants', 'Locomotion, meal and lodging',
       'Maintenance of office supporting parliamentary activity',
       'Software purchase or renting; Postal services; Subscriptions',
       'Publicity of parliamentary activity',
       'Purchase of office supplies',
       'Security service provided by specialized company',
       'Flight tickets', 'Congressperson meal', 'Telecommunication',
       'Lodging, except for congressperson from Distrito Federal',
       'Automotive vehicle renting or watercraft charter',
       'Postal services', 'Consultancy, research and technical work',
       'Publication subscriptions', 'Taxi, toll and parking',
       'Automotive vehicle renting or charter',
       'Terrestrial, maritime and fluvial tickets',
       'Aircraft renting or charter of aircraft',
       'Watercraft renting or charter',
       'Participation in course, talk or similar event'], dtype=object)

In [95]:
subquota_number = pd.unique(df_chamber["subquota_number"])
subquota_number

array([  3,   2,   1,   7,   5,   6,   8,   9,  13,  10,  14,  15,  11,
         4,  12, 122, 120, 123, 119, 121, 137])

In [96]:
with open('spents_categories.json', 'w',encoding="utf8") as f:
    catogories = {str(subquota_number[i]):subquota_description[i] for i in range(len(subquota_number))}
    f.write(json.dumps(catogories))

In [97]:
subquota_number_year = df_chamber.groupby(["year", "subquota_number"])[att].agg(['sum', 'mean', 'max',"count"])
subquota_number_year

                               sum          mean        max  count
year subquota_number
2009 1                1.158905e+07    626.029062   11970.00  18512
     2                5.410240e+06    342.030590   28200.00  15818
     3                1.392043e+07    194.887594    4500.00  71428
     4                1.066000e+07   4385.025512   61000.00   2431
     5                2.268215e+07   3514.977513  122850.00   6453
     6                5.456408e+05    340.812511   12089.00   1601
     7                9.493011e+05    360.402836   20693.00   2634
     8                7.123733e+05   1050.698024    5111.28    678
     9                5.096831e+06   4019.583107   58000.00   1268
     10               7.993239e+06    484.291990   15996.50  16505
     11               6.762420e+05    385.982877   36136.80   1752
     12               9.078687e+04    280.206389    3000.00    324
     13               8.249090e+05     65.422238    5852.00  12609
     14               9.373111e+05    252.917180    6650.00   3706
     15               8.700384e+06    536.299314   23048.20  16223
2010 1                1.567201e+07    707.093054   25454.50  22164
     3                1.652159e+07    215.590855    4500.00  76634
     4                1.562511e+07   5673.604219   60000.00   2754
     5                2.105567e+07   5239.031135  141000.00   4019
     8                1.191138e+06   1304.641950    4500.00    913
     9                9.105609e+06   4282.976933   65040.40   2126
     10               1.602309e+07    532.240289   13968.10  30105
     11               1.005495e+06    272.935643   32094.30   3684
     12               2.240826e+05    430.928058   20000.00    520
     13               1.456024e+06     66.888268    2068.00  21768
     14               1.921964e+06    291.648486    8050.00   6590
     15               2.054058e+07    622.027127   57333.00  33022
2011 1                1.621037e+07    751.279945   26940.00  21577
     3                1.658279e+07    213.599348    4500.00  77635
     4                1.550052e+07   4920.801029   72000.00   3150
...                            ...           ...        ...    ...
2016 8                1.739743e+06   1823.629591    8700.00    954
     9                2.419883e+06    996.246422   16137.20   2429
     10               7.897425e+06    447.598347    7109.57  17644
     11               6.798162e+05    245.598335   69610.30   2768
     12               4.054618e+05    365.610271    4000.00   1109
     13               1.739860e+06     66.338508    5142.25  26227
     14               1.922048e+06    323.304905    5024.00   5945
     119              3.400546e+06  10120.673929   39600.01    336
     120              2.716932e+07   4287.410169   17000.00   6337
     121              2.799443e+04    903.046129    6000.00     31
     122              8.803534e+05     33.399856    2413.85  26358
     123              9.460987e+04    103.173250    1833.66    917
     137              2.096184e+05   5516.272895    7697.16     38
2017 1                1.784921e+07   1000.348120   14823.80  17843
     3                1.422304e+07    259.662914    6000.00  54775
     4                1.476726e+07   7499.879787   60000.00   1969
     5                4.050660e+07   4277.812098   79900.00   9469
     8                1.226639e+06   1767.491859    8700.00    694
     9                1.933151e+06   1084.820943    9426.23   1782
     10               5.212827e+06    457.908178    6106.48  11384
     11               3.570482e+05    184.235372    8130.85   1938
     12               3.346988e+05    423.133780    5067.30    791
     13               1.075599e+06     65.685465    5155.15  16375
     14               1.476400e+06    278.723717    6903.75   5297
     119              2.214901e+06  10206.919171   39000.00    217
     120              2.087525e+07   4369.949031   12713.00   4777
     121              8.738080e+04   3799.165217    7000.00     23
     122              7.889730e+05     35.141999    2700.00  22451
     123              1.007248e+05     87.586800    2066.99   1150
     137              9.328715e+04   4055.963043    7697.16     23

[136 rows x 4 columns]

In [98]:
with open('sum_mean_max_year_spents_type_total.json', 'w') as f: 
    f.write(subquota_number_year.reset_index().to_json(orient='records', lines=True))

In [99]:
subquota_number_year.reset_index(inplace=True)
subquota_number_year['sum'] = subquota_number_year['sum']/subquota_number_year["count"]
subquota_number_year['mean'] = subquota_number_year['mean']/subquota_number_year["count"]
subquota_number_year

     year  subquota_number           sum        mean        max  count
0    2009                1    626.029062    0.033817   11970.00  18512
1    2009                2    342.030590    0.021623   28200.00  15818
2    2009                3    194.887594    0.002728    4500.00  71428
3    2009                4   4385.025512    1.803795   61000.00   2431
4    2009                5   3514.977513    0.544704  122850.00   6453
5    2009                6    340.812511    0.212875   12089.00   1601
6    2009                7    360.402836    0.136827   20693.00   2634
7    2009                8   1050.698024    1.549702    5111.28    678
8    2009                9   4019.583107    3.170018   58000.00   1268
9    2009               10    484.291990    0.029342   15996.50  16505
10   2009               11    385.982877    0.220310   36136.80   1752
11   2009               12    280.206389    0.864835    3000.00    324
12   2009               13     65.422238    0.005189    5852.00  12609
13   2009               14    252.917180    0.068245    6650.00   3706
14   2009               15    536.299314    0.033058   23048.20  16223
15   2010                1    707.093054    0.031903   25454.50  22164
16   2010                3    215.590855    0.002813    4500.00  76634
17   2010                4   5673.604219    2.060132   60000.00   2754
18   2010                5   5239.031135    1.303566  141000.00   4019
19   2010                8   1304.641950    1.428962    4500.00    913
20   2010                9   4282.976933    2.014571   65040.40   2126
21   2010               10    532.240289    0.017679   13968.10  30105
22   2010               11    272.935643    0.074087   32094.30   3684
23   2010               12    430.928058    0.828708   20000.00    520
24   2010               13     66.888268    0.003073    2068.00  21768
25   2010               14    291.648486    0.044256    8050.00   6590
26   2010               15    622.027127    0.018837   57333.00  33022
27   2011                1    751.279945    0.034819   26940.00  21577
28   2011                3    213.599348    0.002751    4500.00  77635
29   2011                4   4920.801029    1.562159   72000.00   3150
..    ...              ...           ...         ...        ...    ...
106  2016                8   1823.629591    1.911561    8700.00    954
107  2016                9    996.246422    0.410147   16137.20   2429
108  2016               10    447.598347    0.025368    7109.57  17644
109  2016               11    245.598335    0.088728   69610.30   2768
110  2016               12    365.610271    0.329676    4000.00   1109
111  2016               13     66.338508    0.002529    5142.25  26227
112  2016               14    323.304905    0.054383    5024.00   5945
113  2016              119  10120.673929   30.121053   39600.01    336
114  2016              120   4287.410169    0.676568   17000.00   6337
115  2016              121    903.046129   29.130520    6000.00     31
116  2016              122     33.399856    0.001267    2413.85  26358
117  2016              123    103.173250    0.112512    1833.66    917
118  2016              137   5516.272895  145.165076    7697.16     38
119  2017                1   1000.348120    0.056064   14823.80  17843
120  2017                3    259.662914    0.004741    6000.00  54775
121  2017                4   7499.879787    3.808979   60000.00   1969
122  2017                5   4277.812098    0.451770   79900.00   9469
123  2017                8   1767.491859    2.546818    8700.00    694
124  2017                9   1084.820943    0.608766    9426.23   1782
125  2017               10    457.908178    0.040224    6106.48  11384
126  2017               11    184.235372    0.095065    8130.85   1938
127  2017               12    423.133780    0.534935    5067.30    791
128  2017               13     65.685465    0.004011    5155.15  16375
129  2017               14    278.723717    0.052619    6903.75   5297
130  2017              119  10206.919171   47.036494   39000.00    217
131  2017              120   4369.949031    0.914789   12713.00   4777
132  2017              121   3799.165217  165.181096    7000.00     23
133  2017              122     35.141999    0.001565    2700.00  22451
134  2017              123     87.586800    0.076162    2066.99   1150
135  2017              137   4055.963043  176.346219    7697.16     23

[136 rows x 6 columns]

In [100]:
with open('sum_mean_max_year_spents_type_total_normalizedbycount.json', 'w') as f: 
    f.write(subquota_number_year.reset_index().to_json(orient='records', lines=True))

In [101]:
sum_subquota_number_year = subquota_number_year.groupby(["year"])['sum'].max()
sum_subquota_number_year

year
2009     4385.025512
2010     5673.604219
2011     4920.801029
2012     5292.191156
2013     8604.142410
2014     9343.834314
2015     8831.943025
2016    10120.673929
2017    10206.919171
Name: sum, dtype: float64

In [102]:
max_expenses_2009 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2009])]
max_expenses_2010 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2010])]
max_expenses_2011 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2011])]
max_expenses_2012 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2012])]
max_expenses_2013 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2013])]
max_expenses_2014 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2014])]
max_expenses_2015 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2015])]
max_expenses_2016 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2016])]
max_expenses_2017 = subquota_number_year[(subquota_number_year["sum"] == sum_subquota_number_year[2017])]

In [103]:
with open('max_expenses_type_year_sum_normalizedbycount.json', 'w',encoding="utf8") as f:
    for df in [max_expenses_2009,max_expenses_2010,max_expenses_2011,max_expenses_2012,max_expenses_2013,max_expenses_2014,max_expenses_2015,max_expenses_2016,max_expenses_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [104]:
max_expenses_2009

   year  subquota_number          sum      mean      max  count
3  2009                4  4385.025512  1.803795  61000.0   2431

In [105]:
mean_subquota_number_year = subquota_number_year.groupby(["year"])['mean'].max()
mean_subquota_number_year

year
2009       3.170018
2010       2.060132
2011       1.604510
2012       1.848478
2013     212.867747
2014      51.508354
2015    2267.133333
2016     145.165076
2017     176.346219
Name: mean, dtype: float64

In [106]:
mean_expenses_2009 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2009])]
mean_expenses_2010 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2010])]
mean_expenses_2011 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2011])]
mean_expenses_2012 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2012])]
mean_expenses_2013 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2013])]
mean_expenses_2014 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2014])]
mean_expenses_2015 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2015])]
mean_expenses_2016 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2016])]
mean_expenses_2017 = subquota_number_year[(subquota_number_year["mean"] == mean_subquota_number_year[2017])]

In [107]:
mean_expenses_2009

   year  subquota_number          sum      mean      max  count
8  2009                9  4019.583107  3.170018  58000.0   1268

In [108]:
with open('max_expenses_type_year_mean_normalizedbycount.json', 'w',encoding="utf8") as f:
    for df in [mean_expenses_2009,mean_expenses_2010,mean_expenses_2011,mean_expenses_2012,mean_expenses_2013,mean_expenses_2014,mean_expenses_2015,mean_expenses_2016,mean_expenses_2017]:
        f.write(df.to_json(orient='records', lines=True) + "\n")

In [109]:
subquota_number_party_year = df_chamber.groupby(["party", "year", "subquota_number"])[att].agg(['sum', 'mean', 'max', 'count'])
subquota_number_party_year

                                    sum          mean       max  count
party  year subquota_number
AVANTE 2009 1                  44162.26   1051.482381   3000.00     42
            2                  13400.00   6700.000000   6700.00      2
            3                  39273.12   3927.312000   4461.00     10
            5                 154900.00  51633.333333  74000.00      3
            10                   679.67    226.556667    235.71      3
            15                 40200.00   6700.000000   6700.00      6
       2010 1                  91989.08   1135.667654   3152.60     81
            3                  60680.58   4045.372000   4500.00     15
            4                   8860.56   8860.560000   8860.56      1
            5                  62000.00  31000.000000  35000.00      2
            8                   4400.00   4400.000000   4400.00      1
            9                  29400.00   7350.000000  11000.00      4
            10                 14863.61   1143.354615   2004.45     13
            14                  2035.95   1017.975000   1817.55      2
            15                179700.00   6655.555556   7000.00     27
       2011 1                 140497.48   1064.374848   4500.00    132
            3                 113271.68    498.994185   4500.00    227
            4                 100000.03  14285.718571  23678.80      7
            5                  83222.00   3962.952381  20000.00     21
            8                  22000.00   4400.000000   4400.00      5
            9                 106045.93    822.061473  25000.00    129
            10                 37262.28    483.925714   3516.80     77
            11                  9293.35     60.740850    722.00    153
            12                  2782.60    695.650000   1487.70      4
            13                   197.74     39.548000     53.40      5
            14                 19137.99    637.933000   2416.70     30
            15                294463.66   6847.992093  12800.00     43
       2012 1                 160905.82   1200.789701   4704.06    134
            3                 113138.19    372.165099   4462.35    304
            4                  50000.00  16666.666667  20000.00      3
...                                 ...           ...       ...    ...
SD     2016 3                 423896.44    210.579454   6000.00   2013
            4                 849914.01  10492.765556  35000.00     81
            5                1549730.14   5456.796268  72200.00    284
            8                    916.63    152.771667    166.63      6
            9                  26247.00    846.677419   2188.79     31
            10                178143.50    481.468919   2166.00    370
            11                  5432.50     74.417808    528.28     73
            12                  3058.23    139.010455    776.00     22
            13                 40462.51     46.831609    306.90    864
            14                 42014.17    175.791506   3201.60    239
            119               157713.50  15771.350000  23500.00     10
            120               597206.40   3779.787342  10900.00    158
            122                10385.72     15.688399    339.08    662
            123                  107.32     35.773333     99.12      3
            137                 4342.35   2171.175000   3052.35      2
       2017 1                 569480.80    978.489347  12000.00    582
            3                 294813.44    214.878601   5971.35   1372
            4                 616187.00   8930.246377  28500.00     69
            5                1084685.67   4885.971486  72000.01    222
            8                    669.13    167.282500    169.24      4
            9                  14796.98    870.410588   2073.68     17
            10                119768.30    477.164542   2426.21    251
            11                  5343.56    137.014359   1850.90     39
            12                  3045.30    338.366667    860.40      9
            13                 21742.97     41.733148    220.69    521
            14                 29187.35    177.971646    749.96    164
            119               106235.60  10623.560000  19328.70     10
            120               502211.13   4292.402821   9900.00    117
            122                12593.00     19.738245    290.19    638
            123                  147.37    147.370000    147.37      1

[3167 rows x 4 columns]

In [110]:
subquota_number_party_year.reset_index(inplace=True)
subquota_number_party_year['sum'] = subquota_number_party_year['sum']/subquota_number_party_year["count"]
subquota_number_party_year['mean'] = subquota_number_party_year['mean']/subquota_number_party_year["count"]
subquota_number_party_year

,party,year,subquota_number,sum,mean,max,count
0,AVANTE,2009,1,1051.482381,25.035295,3000.00,42
1,AVANTE,2009,2,6700.000000,3350.000000,6700.00,2
2,AVANTE,2009,3,3927.312000,392.731200,4461.00,10
3,AVANTE,2009,5,51633.333333,17211.111111,74000.00,3
4,AVANTE,2009,10,226.556667,75.518889,235.71,3
5,AVANTE,2009,15,6700.000000,1116.666667,6700.00,6
6,AVANTE,2010,1,1135.667654,14.020588,3152.60,81
7,AVANTE,2010,3,4045.372000,269.691467,4500.00,15
8,AVANTE,2010,4,8860.560000,8860.560000,8860.56,1
9,AVANTE,2010,5,31000.000000,15500.000000,35000.00,2
10,AVANTE,2010,8,4400.000000,4400.000000,4400.00,1
11,AVANTE,2010,9,7350.000000,1837.500000,11000.00,4
12,AVANTE,2010,10,1143.354615,87.950355,2004.45,13
13,AVANTE,2010,14,1017.975000,508.987500,1817.55,2
14,AVANTE,2010,15,6655.555556,246.502058,7000.00,27
15,AVANTE,2011,1,1064.374848,8.063446,4500.00,132
16,AVANTE,2011,3,498.994185,2.198212,4500.00,227
17,AVANTE,2011,4,14285.718571,2040.816939,23678.80,7
18,AVANTE,2011,5,3962.952381,188.712018,20000.00,21
19,AVANTE,2011,8,4400.000000,880.000000,4400.00,5
20,AVANTE,2011,9,822.061473,6.372570,25000.00,129
21,AVANTE,2011,10,483.925714,6.284750,3516.80,77
22,AVANTE,2011,11,60.740850,0.396999,722.00,153
23,AVANTE,2011,12,695.650000,173.912500,1487.70,4
24,AVANTE,2011,13,39.548000,7.909600,53.40,5
25,AVANTE,2011,14,637.933000,21.264433,2416.70,30
26,AVANTE,2011,15,6847.992093,159.255630,12800.00,43
27,AVANTE,2012,1,1200.789701,8.961117,4704.06,134
28,AVANTE,2012,3,372.165099,1.224227,4462.35,304
29,AVANTE,2012,4,16666.666667,5555.555556,20000.00,3
...,...,...,...,...,...,...,...
3137,SD,2016,3,210.579454,0.104610,6000.00,2013
3138,SD,2016,4,10492.765556,129.540316,35000.00,81
3139,SD,2016,5,5456.796268,19.214071,72200.00,284
3140,SD,2016,8,152.771667,25.461944,166.63,6
3141,SD,2016,9,846.677419,27.312175,2188.79,31
3142,SD,2016,10,481.468919,1.301267,2166.00,370
3143,SD,2016,11,74.417808,1.019422,528.28,73
3144,SD,2016,12,139.010455,6.318657,776.00,22
3145,SD,2016,13,46.831609,0.054203,306.90,864
3146,SD,2016,14,175.791506,0.735529,3201.60,239
3147,SD,2016,119,15771.350000,1577.135000,23500.00,10
3148,SD,2016,120,3779.787342,23.922705,10900.00,158
3149,SD,2016,122,15.688399,0.023698,339.08,662
3150,SD,2016,123,35.773333,11.924444,99.12,3
3151,SD,2016,137,2171.175000,1085.587500,3052.35,2
3152,SD,2017,1,978.489347,1.681253,12000.00,582
3153,SD,2017,3,214.878601,0.156617,5971.35,1372
3154,SD,2017,4,8930.246377,129.423861,28500.00,69
3155,SD,2017,5,4885.971486,22.008881,72000.01,222
3156,SD,2017,8,167.282500,41.820625,169.24,4
3157,SD,2017,9,870.410588,51.200623,2073.68,17
3158,SD,2017,10,477.164542,1.901054,2426.21,251
3159,SD,2017,11,137.014359,3.513189,1850.90,39
3160,SD,2017,12,338.366667,37.596296,860.40,9
3161,SD,2017,13,41.733148,0.080102,220.69,521
3162,SD,2017,14,177.971646,1.085193,749.96,164
3163,SD,2017,119,10623.560000,1062.356000,19328.70,10
3164,SD,2017,120,4292.402821,36.687204,9900.00,117
3165,SD,2017,122,19.738245,0.030938,290.19,638
3166,SD,2017,123,147.370000,147.370000,147.37,1

In [111]:
subquota_number_party_year["max_spent"] = subquota_number_party_year.groupby(["party","year"])['sum'].transform(max)
maxspentbytype_normalizedbycount = subquota_number_party_year[subquota_number_party_year["sum"] == subquota_number_party_year["max_spent"]]
maxspentbytype_normalizedbycount

,party,year,subquota_number,sum,mean,max,count,max_spent
3,AVANTE,2009,5,51633.333333,17211.111111,74000.00,3,51633.333333
9,AVANTE,2010,5,31000.000000,15500.000000,35000.00,2,31000.000000
17,AVANTE,2011,4,14285.718571,2040.816939,23678.80,7,14285.718571
29,AVANTE,2012,4,16666.666667,5555.555556,20000.00,3,16666.666667
40,AVANTE,2013,4,23333.333333,7777.777778,30000.00,3,23333.333333
52,AVANTE,2014,5,15279.500000,763.975000,58500.00,20,15279.500000
61,AVANTE,2015,4,11149.393478,242.378119,20000.00,46,11149.393478
73,AVANTE,2016,4,14158.846154,544.571006,35000.00,26,14158.846154
85,AVANTE,2017,4,12389.000000,728.764706,40000.00,17,12389.000000
103,DEM,2009,9,5907.717937,93.773301,15000.00,63,5907.717937
113,DEM,2010,5,6761.191642,24.675882,120000.00,274,6761.191642
124,DEM,2011,4,5184.469944,29.126236,18000.00,178,5184.469944
136,DEM,2012,4,5047.400756,29.345353,30000.00,172,5047.400756
158,DEM,2013,119,7825.000000,3912.500000,10400.00,2,7825.000000
173,DEM,2014,119,10363.295833,431.803993,22000.00,24,10363.295833
189,DEM,2015,119,9574.166667,797.847222,19000.00,12,9574.166667
205,DEM,2016,119,12535.200000,1253.520000,24450.00,10,12535.200000
211,DEM,2017,4,6487.198652,46.008501,18000.00,141,6487.198652
229,PCdoB,2009,5,3864.875568,20.891219,40000.00,185,3864.875568
243,PCdoB,2010,5,7634.870800,76.348708,78620.00,100,7634.870800
254,PCdoB,2011,4,4605.646744,53.554032,15000.00,86,4605.646744
266,PCdoB,2012,4,4626.385574,75.842386,15780.00,61,4626.385574
278,PCdoB,2013,4,5246.634146,127.966686,15000.00,41,5246.634146
302,PCdoB,2014,119,11113.250000,2778.312500,16500.00,4,11113.250000
309,PCdoB,2015,4,9237.340909,209.939566,30000.00,44,9237.340909
325,PCdoB,2016,4,10200.689655,175.873960,50000.00,58,10200.689655
341,PCdoB,2017,4,11858.571429,564.693878,22400.00,21,11858.571429
357,PDT,2009,4,6813.533333,113.558889,41900.00,60,6813.533333
371,PDT,2010,4,9412.997403,122.246720,37500.00,77,9412.997403
383,PDT,2011,4,6430.111236,72.248441,28000.00,89,6430.111236
...,...,...,...,...,...,...,...,...
2789,PV,2010,4,5277.560811,71.318389,16999.50,74,5277.560811
2801,PV,2011,4,3995.846000,53.277947,16000.00,75,3995.846000
2813,PV,2012,4,4516.663333,68.434293,12000.00,66,4516.663333
2825,PV,2013,4,5690.095238,135.478458,25000.00,42,5690.095238
2839,PV,2014,4,9837.570000,158.670484,26300.00,62,9837.570000
2853,PV,2015,4,7590.949615,145.979800,25000.00,52,7590.949615
2879,PV,2016,137,7534.832500,1883.708125,7604.20,4,7534.832500
2882,PV,2017,4,3613.500476,86.035726,10000.00,42,3613.500476
2896,REDE,2011,5,2332.600000,466.520000,7560.00,5,2332.600000
2903,REDE,2012,4,2766.666667,922.222222,4000.00,3,2766.666667
2911,REDE,2013,1,1588.309639,19.136261,6676.96,83,1588.309639
2920,REDE,2014,1,2025.031618,29.779877,7160.17,68,2025.031618
2932,REDE,2015,4,5002.813333,555.868148,19800.00,9,5002.813333
2949,REDE,2016,11,7489.773333,2496.591111,22309.00,3,7489.773333
2959,REDE,2017,4,6976.875625,436.054727,19760.00,16,6976.875625
2975,S.PART.,2009,5,1183.344828,13.601665,6970.00,87,1183.344828
2989,S.PART.,2010,9,5217.007500,652.125937,10000.00,8,5217.007500
2998,S.PART.,2011,4,1745.657143,249.379592,6000.00,7,1745.657143
3009,S.PART.,2012,4,2533.085714,361.869388,4500.00,7,2533.085714
3022,S.PART.,2013,9,978.095000,489.047500,1364.34,2,978.095000
3031,S.PART.,2014,5,15917.398000,3183.479600,71340.00,5,15917.398000
3042,SD,2009,4,3581.350000,179.067500,5000.00,20,3581.350000
3056,SD,2010,5,5843.012581,94.242138,28800.00,62,5843.012581
3067,SD,2011,4,6186.237113,63.775640,21570.00,97,6186.237113
3079,SD,2012,4,5850.368852,47.953843,26500.00,122,5850.368852
3103,SD,2013,121,10933.333333,3644.444444,13600.00,3,10933.333333
3118,SD,2014,121,12012.500000,1501.562500,13500.00,8,12012.500000
3123,SD,2015,4,11407.017742,183.984157,50000.00,62,11407.017742
3147,SD,2016,119,15771.350000,1577.135000,23500.00,10,15771.350000
3163,SD,2017,119,10623.560000,1062.356000,19328.70,10,10623.560000

In [112]:
with open('sum_mean_max_year_maxspentbytype_normalizedbycount.json', 'w') as f: 
    f.write(maxspentbytype_normalizedbycount.to_json(orient='records', lines=True))

In [113]:
subquota_number_party_year["mean_spent"] = subquota_number_party_year.groupby(["party","year"])['mean'].transform(max)
meanspentbytype_normalizedbycount = subquota_number_party_year[subquota_number_party_year["mean"] == subquota_number_party_year["mean_spent"]]
meanspentbytype_normalizedbycount

,party,year,subquota_number,sum,mean,max,count,max_spent,mean_spent
3,AVANTE,2009,5,51633.333333,17211.111111,74000.00,3,51633.333333,17211.111111
9,AVANTE,2010,5,31000.000000,15500.000000,35000.00,2,31000.000000,15500.000000
17,AVANTE,2011,4,14285.718571,2040.816939,23678.80,7,14285.718571,2040.816939
29,AVANTE,2012,4,16666.666667,5555.555556,20000.00,3,16666.666667,5555.555556
40,AVANTE,2013,4,23333.333333,7777.777778,30000.00,3,23333.333333,7777.777778
52,AVANTE,2014,5,15279.500000,763.975000,58500.00,20,15279.500000,763.975000
62,AVANTE,2015,5,9937.361538,382.206213,29780.00,26,11149.393478,382.206213
80,AVANTE,2016,119,9150.000000,9150.000000,9150.00,1,14158.846154,9150.000000
92,AVANTE,2017,119,4629.333333,1543.111111,5000.00,3,12389.000000,1543.111111
103,DEM,2009,9,5907.717937,93.773301,15000.00,63,5907.717937,93.773301
115,DEM,2010,9,6116.949175,63.061332,52000.00,97,6761.191642,63.061332
124,DEM,2011,4,5184.469944,29.126236,18000.00,178,5184.469944,29.126236
142,DEM,2012,12,899.829615,34.608831,6550.00,26,5047.400756,34.608831
158,DEM,2013,119,7825.000000,3912.500000,10400.00,2,7825.000000,3912.500000
172,DEM,2014,15,3557.160000,711.432000,6000.00,5,10363.295833,711.432000
191,DEM,2015,121,4754.800000,2377.400000,9500.00,2,9574.166667,2377.400000
205,DEM,2016,119,12535.200000,1253.520000,24450.00,10,12535.200000,1253.520000
220,DEM,2017,119,6167.777778,685.308642,10070.00,9,6487.198652,685.308642
233,PCdoB,2009,9,3216.925217,139.866314,9341.68,23,3864.875568,139.866314
245,PCdoB,2010,9,4632.791111,171.584856,12800.00,27,7634.870800,171.584856
254,PCdoB,2011,4,4605.646744,53.554032,15000.00,86,4605.646744,53.554032
269,PCdoB,2012,9,2784.629394,84.382709,13807.50,33,4626.385574,84.382709
288,PCdoB,2013,120,3493.083333,582.180556,6421.50,6,5246.634146,582.180556
302,PCdoB,2014,119,11113.250000,2778.312500,16500.00,4,11113.250000,2778.312500
318,PCdoB,2015,119,2744.333333,914.777778,4763.00,3,9237.340909,914.777778
334,PCdoB,2016,119,8081.364286,1154.480612,14500.00,7,10200.689655,1154.480612
350,PCdoB,2017,119,8218.347500,2054.586875,14500.00,4,11858.571429,2054.586875
362,PDT,2009,9,5820.467073,141.962612,19500.00,41,6813.533333,141.962612
377,PDT,2010,12,3056.583333,509.430556,17000.00,6,9412.997403,509.430556
385,PDT,2011,8,3063.846875,191.490430,4500.00,16,6430.111236,191.490430
...,...,...,...,...,...,...,...,...,...
2789,PV,2010,4,5277.560811,71.318389,16999.50,74,5277.560811,71.318389
2801,PV,2011,4,3995.846000,53.277947,16000.00,75,3995.846000,53.277947
2813,PV,2012,4,4516.663333,68.434293,12000.00,66,4516.663333,68.434293
2835,PV,2013,120,1661.171250,207.646406,3890.00,8,5690.095238,207.646406
2841,PV,2014,8,3061.239412,180.072907,4500.00,17,9837.570000,180.072907
2853,PV,2015,4,7590.949615,145.979800,25000.00,52,7590.949615,145.979800
2879,PV,2016,137,7534.832500,1883.708125,7604.20,4,7534.832500,1883.708125
2885,PV,2017,9,801.754000,160.350800,1331.39,5,3613.500476,160.350800
2896,REDE,2011,5,2332.600000,466.520000,7560.00,5,2332.600000,466.520000
2903,REDE,2012,4,2766.666667,922.222222,4000.00,3,2766.666667,922.222222
2913,REDE,2013,4,292.000000,292.000000,292.00,1,1588.309639,292.000000
2924,REDE,2014,9,949.860000,949.860000,949.86,1,2025.031618,949.860000
2932,REDE,2015,4,5002.813333,555.868148,19800.00,9,5002.813333,555.868148
2949,REDE,2016,11,7489.773333,2496.591111,22309.00,3,7489.773333,2496.591111
2970,REDE,2017,137,6000.000000,6000.000000,6000.00,1,6976.875625,6000.000000
2974,S.PART.,2009,4,75.000000,75.000000,75.00,1,1183.344828,75.000000
2989,S.PART.,2010,9,5217.007500,652.125937,10000.00,8,5217.007500,652.125937
2998,S.PART.,2011,4,1745.657143,249.379592,6000.00,7,1745.657143,249.379592
3009,S.PART.,2012,4,2533.085714,361.869388,4500.00,7,2533.085714,361.869388
3022,S.PART.,2013,9,978.095000,489.047500,1364.34,2,978.095000,489.047500
3031,S.PART.,2014,5,15917.398000,3183.479600,71340.00,5,15917.398000,3183.479600
3046,SD,2009,9,1207.293333,201.215556,2400.00,6,3581.350000,201.215556
3057,SD,2010,8,1477.497500,369.374375,2880.00,4,5843.012581,369.374375
3069,SD,2011,8,4191.100000,161.196154,4488.00,26,6186.237113,161.196154
3081,SD,2012,8,4371.230769,336.248521,4488.00,13,5850.368852,336.248521
3103,SD,2013,121,10933.333333,3644.444444,13600.00,3,10933.333333,3644.444444
3118,SD,2014,121,12012.500000,1501.562500,13500.00,8,12012.500000,1501.562500
3132,SD,2015,119,9344.446667,3114.815556,17500.00,3,11407.017742,3114.815556
3147,SD,2016,119,15771.350000,1577.135000,23500.00,10,15771.350000,1577.135000
3163,SD,2017,119,10623.560000,1062.356000,19328.70,10,10623.560000,1062.356000

In [114]:
with open('sum_mean_max_year_meanspentbytype_normalizedbycount.json', 'w') as f: 
    f.write(meanspentbytype_normalizedbycount.to_json(orient='records', lines=True))