In [1]:
import pandas as pd

In [2]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')

In [3]:
df_senate = pd.read_csv("./data/Senate/clean_senate.xz",compression='xz',parse_dates=['date'],date_parser=dateparse,low_memory=False,index_col=0)

In [4]:
df = df_senate[['date','reimbursement_value']].set_index(pd.DatetimeIndex(df_senate['date'])).drop("date",axis=1)

In [ ]:
df["2107"]

In [5]:
df.groupby(df.index.year)['reimbursement_value'].agg(['sum', 'mean', 'max'])

              sum         mean       max
date
2008  11575947.40  4726.805798   61250.0
2009  11725424.91   712.705137   66960.0
2010  10751707.81   590.753176   60000.0
2011  18988510.72   743.947294   56758.0
2012  23336265.74   775.651989   88245.0
2013  24644284.56   842.194128   84000.0
2014  22512671.12  1024.514022  162400.0
2015  24845639.68   957.442762  216780.0
2016  25285876.22   947.462388  256980.0
2017  18852938.19   938.424001   45000.0

In [ ]:
# df_senate[df_senate["congressperson_name"].str.contains("Ana Am√©lia".upper())]["date"]