In [1]:
import pandas as pd

In [ ]:
df_deputies = pd.read_csv('data/Chamber/reimbursements.xz',compression='xz',low_memory=False)
list(df_deputies)

In [ ]:
df_deputies

In [2]:
df_senate = pd.read_csv("data/Senate/federal-senate-reimbursements.xz",compression='xz')
list(df_senate)

['year',
 'month',
 'congressperson_name',
 'expense_type',
 'cnpj_cpf',
 'supplier',
 'document_id',
 'date',
 'expense_details',
 'reimbursement_value']

In [3]:
df_senate.head()

,year,month,congressperson_name,expense_type,cnpj_cpf,supplier,document_id,date,expense_details,reimbursement_value
0,2008,9,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,NaN,NaN,NaN,NaN,"12351,52"
1,2008,9,ADA MELLO,"Locomotion, lodging, food, fuels and lubricants",NaN,NaN,NaN,NaN,NaN,"386,6"
2,2008,10,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,NaN,NaN,NaN,NaN,"12351,52"
3,2008,10,ADA MELLO,"Locomotion, lodging, food, fuels and lubricants",NaN,NaN,NaN,NaN,NaN,"2610,68"
4,2008,11,ADA MELLO,"Recruitment of consultancies, advisory service...",NaN,NaN,NaN,NaN,NaN,"12351,52"

In [ ]:
# df_senate[df_senate["year"]==2010].head()

In [ ]:
df_senate

In [ ]:
new_deputies = df_deputies.drop(['passenger','leg_of_the_trip','document_type',
                  'document_id','applicant_id','congressperson_id',
                  'congressperson_document','cnpj_cpf','term_id',
                  'document_number'], axis=1)

In [ ]:
new_senate = df_senate.drop(['cnpj_cpf','document_id','expense_details',] ,axis=1)

In [ ]:
new_deputies

In [ ]:
new_deputies.to_csv(path_or_buf='clean_deputies.csv', sep=',')

In [ ]:
new_deputies.to_csv(path_or_buf='clean_deputies.xz', sep=',', compression='xz')

In [ ]:
new_senate

In [ ]:
new_senate.to_csv(path_or_buf='clean_senate.csv', sep=',')

In [ ]:
new_senate.to_csv(path_or_buf='clean_senate.xz', sep=',', compression='xz')